In [ ]:
zx={'rashida':1,'zobia':2}
y=('anam',3)
z={**{y[0]:y[1]},**x}
print(z)

{'anam': 3, 'rashida': 1, 'zobia': 2}

In [ ]:
def outer(func):
  def inner():
    print('dec')
    func()
  return inner
@outer
def ord():
  print('norml')
ord()

dec
norml

**swap two element **

In [ ]:
lst=[2,3,4,5,6,7]
for i in range(0,len(lst),2):
  if i+1<len(lst):
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[3, 2, 5, 4, 7, 6]

**interchange first and last elements in a list**

In [ ]:
lst=[2,3,4,5]
lst[3],lst[0]=lst[0],lst[3]

print(lst)

[5, 3, 4, 2]

**Check if element exists in list in Python**

In [ ]:
test_list = [1, 6, 3, 5, 3, 4]
i=6
if i in test_list:
  print('exit')
else:
  print('not exit')

exit

**check number is present in list or not**

In [ ]:
lst=[2,3,44,45,6,7,43,11,23,12,5]
n=int(input('enter any number'))
if n  in lst:
  print('present')
else:
  print(' not present')

enter any number22
 not present

In [ ]:
lst=[23,87,56]
g=1
for i in range(len(lst)):
  for j in range(i+1,len(lst)):
    if lst[i]>g:
       g=lst[i]

print("the largest number is",g)

the largest number is 87

**26/09/2023 **

**1.find the largest number in the list**

In [ ]:
lst=[2,32,4,54,53,22,11,67,5,87]
lst1=0
for i in lst:
  if i>lst1:
    lst1=i
print(i)

87

In [ ]:
# 2nd method
lst=[2,32,4,54,53,22,11,67,5,87]

for i in range(len(lst)):
  for j in range(len(lst)):
    if lst[i]>lst[j]:
      lst[i],lst[j]=lst[j],lst[i]
print(lst)
print(lst[0])

[87, 67, 54, 53, 32, 22, 11, 5, 4, 2]
87

**2.the sum and product of the list**

In [ ]:
lst=[2,32,4,54,53,22,11,67,5,87]

sum=0
product=1
for i in lst:
  sum=sum+i
  product=product*i
print('the sum of ',sum)
print('the product of',product)

the sum of  337
the product of 5167601556480

In [ ]:
# 2nd method

# from functools import reduce
# lst=[2,32,4,54,53,22,11,67,5,87]

# print('the sum is',sum(lst))
# print('the product is ',reduce(lambda x,y: x*y,lst))

**3. find the average number of list element**

In [ ]:
lst=[2,32,4,54,53,22,11,67,5,87]
def average(lst):
  return (sum)/ len(lst)
average=average(lst)
print('average number is ',(average,2))

average number is  (33.7, 2)

In [ ]:
# 2nd method
def average(lst):
  return reduce(lambda a,b: a+b,lst)/len(lst)
lst=[2,32,4,54,53,22,11,67,5,87]
average=average(lst)
print('the average of the list',average)

the average of the list 33.7

**4.find the unique number in list**

In [ ]:
l=[1,2,3,3,2,1,5]
x={}
y=0
for i in l:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print('unique number',x)
for k,v in x.items():
  if v==1:
    y+=1
print(y)

unique number {1: 2, 2: 2, 3: 2, 5: 1}
1

In [ ]:
l=[1,2,3,3,2,1,5]
x=0
for i in l:
  if l.count(i)==1:
    x+=1
print(x)

1

**5.find the dublicate in list**

In [ ]:
l=[2,2,21,23,22,12,12]
d=[]
for item in l:
  if l.count(item)>1 and item not in d:
    d.append(item)
print(d)

[2, 12]

In [ ]:
l=[2,2,21,23,22,12,12]
d=[]
for i in l:
  if l.count(i)>1 and i not in d:
    d.append(i)
print(d)

[2, 12]

In [ ]:
l=[2,2,21,23,22,12,12]
x=[]
for i in l:
  if l.count(i)>1 and i not in x:
    x.append(i)
print(x)

[2, 12]

In [ ]:
l=[1,2,3,3,2,1,5]
x={}
y=0
for i in l:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
for k,v in x.items():
  if v!=1:
    print(k)

1
2
3

**6.remove dublicate in list**

In [ ]:
l=[2,2,21,23,22,12,12]
for i in l:
  if l.count(i)>1:
    l.remove(i)
print(l)

[2, 21, 23, 22, 12]

In [ ]:
l=[2,2,21,23,22,12,12]
for i in l:
  if l.count(i)>1:
    l.remove(i)
print(l)

[2, 21, 23, 22, 12]

In [ ]:
l=[2,2,21,23,22,12,12]
l1=[]
for i in l:
  if i not in l1:
    l1.append(i)
print(l1)

[2, 21, 23, 22, 12]

**27/09/2023**

1.sort according to length

In [ ]:

x=['flask','car','at','thanks']
for i in range(len(x)):
  for j in range(len(x)):
    if len(x[i])<len(x[j]):
      x[i],x[j]=x[j],x[i]
print(x)

['at', 'car', 'flask', 'thanks']

In [ ]:
x=[('pqr',12),('abc',11),('xyz',10)]
for i in range(len(x)):
  for j in range(i+1,len(x)):
    if x[i][1]>x[j][1]:
      x[i],x[j]=x[j],x[i]
print(x)

[('xyz', 10), ('abc', 11), ('pqr', 12)]



**2.sort without using sort method**

In [ ]:
lst=[2,32,5,21,12,34,7]
for i in range(len(lst)):
  for j in range(len(lst)):
    if lst[i]<lst[j]:
      lst[i],lst[j]=lst[j],lst[i]
print(lst)

[2, 5, 7, 12, 21, 32, 34]

In [ ]:
# 2nd method
lst=[2,32,5,21,12,34,7]
lst.sort()
print(lst)

[2, 5, 7, 12, 21, 32, 34]

**3.reversed a list **

In [ ]:
a=[10,20,30,40]
a.reverse()
print(a)

[40, 30, 20, 10]

In [ ]:
a=[10,20,30,40]
a=a[::-1]
print(a)

[40, 30, 20, 10]

**4. concatent two list**

In [ ]:
list1 = ["M", "na", "i", "ras"]
list2 = ["y", "me", "s", "hida"]
list3=[i+j for i,j in zip(list1,list2)]
print(list3)

['My', 'name', 'is', 'rashida']

In [ ]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=[i+j for i,j in zip(l1,l2)]
print(l3)

[6, 8, 10, 12]

**5.find the 2nd highest number in the list**

In [ ]:
lst=[2,12,3,4,43,23,56,44,24,67,55]
for i in range(len(lst)):
  for j in range(len(lst)):
    if lst[i]<lst[j]:
      lst[i],lst[j]=lst[j],lst[i]
print(lst)
print('this is second highest number',lst[-2])

[2, 3, 4, 12, 23, 24, 43, 44, 55, 56, 67]
this is second highest number 56

In [ ]:
lst=[2,12,3,4,43,23,56,44,24,67,55]
lst.sort()
print(lst)
print('2nd largest number is ',lst[-2])

[2, 3, 4, 12, 23, 24, 43, 44, 55, 56, 67]
2nd largest number is  56

In [ ]:
lst=[2,12,3,4,43,23,56,44,24,67,55]
ls=0
for i in lst:
  if i>ls:
    ls=i
print('this is highest number in the list',ls)

this is highest number in the list 67

**29/9/2023**

**`1.capitalized first character in string**

In [ ]:
x='rashida'
s=x.capitalize()
print(s)

Rashida

In [ ]:
x='rashida'
y=x[0].upper()
# print(y)
x=x.replace('r',y)
print(x)

Rashida

**2.Swap two tuples in Python**

In [ ]:
x=[99,88]
y=[11,12]
x,y=y,x
print(x,y)

[11, 12] [99, 88]

**3.concatenet two list index wise**

In [ ]:
x=[1,2]
y=[11,12]
z=[i+j for i,j in zip(x,y)]
print(z)

[12, 14]

In [ ]:
l1 = [2,4,3]
l2 = [5,6,4]
l3=[]
for i in range(3):
  l3.append(l1[i]+l2[i])
print(l3)

[7, 10, 7]

**4.question**

In [ ]:
a={'abc':1,'pqr':2,'xyz':3,'lmn':4,'str':5}
lst=['abc','xyz','str']
y={}
for i in lst:
  if i in a:
    y[i]=a[i]
print(y)

{'abc': 1, 'xyz': 3, 'str': 5}

**5th question**

In [ ]:
a=["sAdiquE","junAId","suFiyan","AshraF"]
for i in range(len(a)):
      if a[i][-1].isupper():
        b=a[i][-1].lower()
        a[i]=a[i][:-1]+b

      else:
          b=a[i][-1].upper()
          a[i]=a[i][:-1]+b
print(a)

['sAdique', 'junAID', 'suFiyaN', 'Ashraf']

In [ ]:
x="aaabbccccd"
y={}
for i in x:
  if i in y:
    y[i]+=1
  else:
      y[i]=1
print(y)

{'a': 3, 'b': 2, 'c': 4, 'd': 1}

**30/09/2023**

**1st question**

In [ ]:
cars = ['car','Mitsubishi', 'BMW', 'VW', 'Ford']
for i in range(len(cars)):
  for j in range(len(cars)):
    if len(cars[i])<len(cars[j]):
      cars[i],cars[j]=cars[j],cars[i]
print(cars)

['VW', 'BMW', 'car', 'Ford', 'Mitsubishi']

**2nd question**

In [ ]:
x=['apple','banana','cherry','kiwi','mango']
n=[y for y in x if 'a' in y]
print(n)

['apple', 'banana', 'mango']

**3rd question**

In [ ]:
lst=[2,3,4,5,6,12,11,33,22]
number=int(input('check number present or not:'))
if number in lst:
  print('number is present')
else:
  print('number is not present')

check number present or not:5
number is present

**4th question**

In [ ]:
lst = [1,2,3,4,5,6]
for i in range(0,len(lst),2):
  lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[2, 1, 4, 3, 6, 5]

In [ ]:
lst=['rashida','zobia','anam','heena']
for i in range(0,len(lst),2):
  lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

['zobia', 'rashida', 'heena', 'anam']

**03/10/2023**

**question 1. find the largest number in dictionary**

In [ ]:
d={'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
x=0

for i in d:
  if d[i]>x:
    x=d[i]

print(x)

32

**question 2**

In [ ]:
x=[1,4,2,6]
y=0
for i in x:
  if i >y:
    y=i
print(y)

6

**question 3. find the largest number with key in dictionary**

---



---

In [ ]:
d={'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
x=0
a=""
for i in d:
  if d[i]>x:
    x=d[i]
    a=i
print(a,x)

suraj 32

**`question 4 .Sort Dictionary By Key`**

In [ ]:
dl={'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
s = list(dl.keys())
s.sort()
z={i:dl[i]for i in s}
print(z)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**5.sort dictinary values**

In [ ]:
dl={'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
x=sorted(dl.values())
print(x)

[2, 9, 10, 15, 32]

In [ ]:
dl={'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
x=sorted(dl.keys())
print(x)

['rajnish', 'ravi', 'sanjeev', 'suraj', 'yash']

**6.sort dictionary keys without using sort method**

In [ ]:
x = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}

y=list(x.keys())
# print(y)
z={}
for i in range(len(y)):
  for j in range(i,len(y)):
    if y[i]>y[j]:
      y[i],y[j]=y[j],y[i]

print(y)
for i in y:
  z[i]=x[i]
print(z)

['rajnish', 'ravi', 'sanjeev', 'suraj', 'yash']
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**7. sort dictionary values without using sort method**

In [ ]:
x = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}

for i in x:
  for j in x:
    if x[i]<x[j]:
      x[i],x[j]=x[j],x[i]

print(x)

{'ravi': 2, 'rajnish': 9, 'sanjeev': 10, 'yash': 15, 'suraj': 32}

**04/10/2023**

**1. merge two dictionary**

In [ ]:
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
dict1.update(dict2)
print(dict1)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [ ]:
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
dict3=dict1.copy()
dict3.update(dict2)
print(dict3)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

**question 2**

In [ ]:
x=[0,1,0,3,2]
for i in range(len(x)):
  for j in range(len(x)):
    if x[i]<x[j]:
      x[i],x[j]=x[j],x[i]
c=x.count(0)
for i in range(c):
  x.remove(0)
  x.append(0)
print(x)

[1, 2, 3, 0, 0]

In [ ]:
x=[0,1,0,3,2]
c=x.count(0)
for i in range(c):
  x.remove(0)
  x.append(0)
print(x)

[1, 3, 2, 0, 0]

**question 3.**

In [ ]:
x="aaabbccccd"
y={}
s=''
for i in x:
  if i in y:
    y[i]+=1
  else:
      y[i]=1
print(y)

for k,v in y.items():
  s1=k+str(v)
  s+=''.join(s1)
print(s)

{'a': 3, 'b': 2, 'c': 4, 'd': 1}
a3b2c4d1

***question 4.check whether a given key already exists in a dictionary.***

In [ ]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def key_present(x):
  if x in d:
    print('key is present in dictionary')
  else:
    print('key is not present in dict')
key_present(8)

key is not present in dict

**question 5. remove duplicates from the dictionary.**

In [ ]:
student_data = {'id1':
   {'name': ['Sara'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
 'id2':
  {'name': ['David'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
 'id3':
    {'name': ['Sara'],
    'class': ['V'],
    'subject_integration': ['english', 'math', 'science']
   },
 'id4':
   {'name': ['Surya'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
}

result = {}

for key,value in student_data.items():
    if value not in result.values():
        result[key] = value

print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id3': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [ ]:
print(student_data['id2']['name'][0])
print(student_data['id2']['class'][0])
print(student_data['id4']['subject_integration'][0])
print(student_data['id3']['name'][0])
print(student_data['id3']['subject_integration'][1])

David
V
english, math, science
Sara
math

**06/10/23**

**find the highest 3 values of corresponding keys in a dictionary.**

In [ ]:
d= {'a':500, 'b':587, 'c': 560,'d':400, 'e':5874, 'f': 20}
d1=sorted(d.values(),reverse=True)[:3]
for k in d.keys():
  for i in d1:
    if d[k]==i:
      print(k,d[k])

b 587
c 560
e 5874

In [ ]:
x=[1,2,1]
for i in x:
  if x.count(i)>1:
    x.remove(i)
print(x)

[2, 1]

In [ ]:
x=[1,2,3,1,2]
y=[]
for i in x:
  if x.count(i)>1 and i not in y:
    y.append(i)
print(y)

[1, 2]

In [ ]:
x=[1,2,3,2]
for i in x:
  if x.count(i)>1:
    x.remove(i)
print(x)

[1, 3, 2]

In [ ]:
x=[1,2,3,2]
y=[]
for i in x:
  if x.count(i)>1 and i not in y:
    y.append(i)
print(y)

[2]

In [ ]:
x={'rashida':1,'zobia':2}
y={'n':1,'a':2}
z={**x,**y}

print(z)

{'rashida': 1, 'zobia': 2, 'n': 1, 'a': 2}

In [ ]:
l=[i for i in range(1,10) if i%2==0 ]
print(l)

[2, 4, 6, 8]

In [ ]:
l=[i for i in range(1,20) if i%2==0]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
x=lambda num: 'even ' if num%2==0 else 'odd'
print(x(7))

odd

In [ ]:
l=[1,21,432,12]
for i in range(len(l)):
  for j in range(len(l)):
    if l[i]<l[j]:
      l[i],l[j]=l[j],l[i]
print(l)

[1, 12, 21, 432]

**09/10/2023**

**find the highest marks in dictionary**

In [ ]:
dl={'rashida':21,'zobia':12,'heena':2,'anam':5}
z=list(dl.values())
print(z)
for i in range(len(z)):
  for j in range(len(z)):
    if z[i]<z[j]:
      z[i],z[j]=z[j],z[i]
# print(z)
# print(z[-1])
for k,v in dl.items():
  if v==z[-1]:
    print({k,v})

[21, 12, 2, 5]
{'rashida', 21}

In [ ]:
dl={'rashida':21,'zobia':12,'heena':2,'anam':5}
z=list(dl.values())
print(z)
for i in range(len(z)):
  for j in range(len(z)):
    if z[i]<z[j]:
      z[i],z[j]=z[j],z[i]
# print(z)
# print(z[-1])
for k,v in dl.items():
  if v==z[-2]:
    print({k,v})

[21, 12, 2, 5]
{'zobia', 12}

**Sort (ascending and descending) a dictionary by value**

In [ ]:
d = {11: 2, 13: 4, 14: 3, 12: 1, 10: 0}
x=list(d.items())
print(x)
for i in range(len(x)):
  for j in range(len(x)):
    if x[i][1]<x[j][1]:
      x[i],x[j]=x[j],x[i]
print(x)
z=dict(x)
print(z)

[(11, 2), (13, 4), (14, 3), (12, 1), (10, 0)]
[(10, 0), (12, 1), (11, 2), (14, 3), (13, 4)]
{10: 0, 12: 1, 11: 2, 14: 3, 13: 4}

**3rd question desending order by values**

In [ ]:
# desending order
d = {11: 2, 13: 4, 14: 3, 12: 1, 10: 0}
x=list(d.items())
print(x)
for i in range(len(x)):
  for j in range(len(x)):
    if x[i][1]>x[j][1]:
      x[i],x[j]=x[j],x[i]
print(x)
z=dict(x)
print(z)

[(11, 2), (13, 4), (14, 3), (12, 1), (10, 0)]
[(13, 4), (14, 3), (11, 2), (12, 1), (10, 0)]
{13: 4, 14: 3, 11: 2, 12: 1, 10: 0}

**4th add new value in dictionary**

In [ ]:
d = {0:10, 1:20}
d.update({2:1})
print(d)

{0: 10, 1: 20, 2: 1}

In [ ]:
d = {0:10, 1:20}
d.update(dict({4:2}))
print(d)

{0: 10, 1: 20, 4: 2}

**check whether a given key already exists in a dictionary.**

In [ ]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
x=int(input('enter your key:'))

if x in d.keys():
  print('present')
else:
  print('not present')

enter your key:6
present

**10/10/2023**

**sum all the items in a dictionary.**

In [ ]:
y = {'data1':100,'data2':-54,'data3':247}

x=list(y.values())
print(x)
print(sum(x))

[100, -54, 247]
293

In [ ]:
y = {'data1':100,'data2':-54,'data3':247}
x=0
for i in y.values():
  # print(i)
  x+=i
print(x)

100
-54
247

**2.sort a given dictionary by key**

In [ ]:
x= {'red':'#FF0000','green':'#008000','black':'#000000','white':'#FFFFFF'}
y=list(x.keys())
# print(y)
a={}
for i in range(len(y)):
  for j in range(len(y)):
    if y[i]<y[j]:
      y[i],y[j]=y[j],y[i]
print(y)
for i in y:
  a[i]=x[i]
print(a)

['black', 'green', 'red', 'white']
{'black': '#000000', 'green': '#008000', 'red': '#FF0000', 'white': '#FFFFFF'}

**3. minimum values of a dictionary.**

In [ ]:
l = {'x':500, 'y':5874, 'z': 560}
x=list(l.values())
# print(x)
for i in range(len(x)):
  for j in range(len(x)):
    if x[i]<x[j]:
      x[i],x[j]=x[j],x[i]
print(x)
for k,v in l.items():
  if v==x[-3]:
    print({k,v})

[500, 560, 5874]
{'x', 500}

**4.remove duplicates from the dictionary.**

In [ ]:
student_data = {'id1':
   {'name': ['Sara'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
 'id2':
  {'name': ['David'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
 'id3':
    {'name': ['Sara'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
 'id4':
   {'name': ['Surya'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
}

result = {}

for key,value in student_data.items():
    if value not in result.values():
        result[key] = value

print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

**5.check if a dictionary is empty or not.**

In [ ]:
d = {}
if not bool(d):
    print("Dictionary is empty")
else:
  print('dictionary is not empty')

Dictionary is empty

In [ ]:
d={}
if len(d)==0:
  print('empty')
else:
  print('not empty')

empty

**11/10/2023**

**1.find the highest 3 values of corresponding keys in a dictionary.**

In [ ]:
l= {'a':500, 'b':584, 'c': 560,'d':400, 'e':5874, 'f': 20}
x=list(l.values())
# print(x)
for i in range(len(x)):
  for j in range(len(x)):
    if x[i]>x[j]:
      x[i],x[j]=x[j],x[i]

print(x)
x=x[:3]
for k,v in l.items():
  for i in x:
    if v==i:
      print({k:v})

[5874, 584, 560, 500, 400, 20]
{'b': 584}
{'c': 560}
{'e': 5874}

**2nd question sort a list alphabetically in a dictionary.**

In [ ]:
d = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}

for k, v in d.items():
  print(v)
  for i in range(len(v)):
    for j in range(i+1, len(v)):
      if v[i] > v[j]:
        v[i], v[j] = v[j], v[i]
print(d)

[2, 3, 1]
[5, 1, 2]
[3, 2, 4]
{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

**3rd.question highest in dictinary**

In [ ]:
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 95, 'Eve': 88}

highest_score = 0
highest_name = None

for key, value in scores.items():
  if value > highest_score:
    highest_score = value
    highest_name = key

print({highest_name:highest_score})

{'David': 95}

**4.question count the number of items in a dictionary value that is a list.**

In [ ]:
dict =  {'Alex': ['subj1', 'subj2', 'subj3'], 'David': ['subj1', 'subj2']}
ctr = sum(map(len, dict.values()))
print(ctr)

5

**12/10/2023**

In [ ]:
n=6
for i in range(1,n):
  for j in range(i):
    print(i, end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n=6
for i in range(1,n):
  for j in range(i):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
n=7
for i in range(1,n):
  for j in range(n-i):
    print(i, end=" ")
  print()

1 1 1 1 1 1
2 2 2 2 2
3 3 3 3
4 4 4
5 5
6

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    print("*", end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
n=6
for i in range(n):
  for j in range(i+1,n):
    print(i, end=" ")
  print()

0 0 0 0 0
1 1 1 1
2 2 2
3 3
4

**13/10/23**

In [ ]:
str1="sadique ali"
x={}
for i in str1:
  if i==" ":
    continue
  elif i in x:
    x[i]+=1
  else:
    x[i]=1
print(x)

{'s': 1, 'a': 2, 'd': 1, 'i': 2, 'q': 1, 'u': 1, 'e': 1, 'l': 1}

In [ ]:
a={'abc':[25,0,30,400],'xyz':[1,0,95,25],'pqr':[400,300,200,1]}


for k,v in a.items():
  x=0
  for i in v:
    if i>x:
      x=i
  print(f"{k}_{x}")

abc_400
xyz_95
pqr_400

In [ ]:
a=[5,7,4,3,9,8,19,21,10]
sum1=17
l=[]
for i in range(len(a)):
  for j in range(i+1,len(a)):
    # print(i)
    res=a[i]+a[j]
    if res==sum1:
      l.append((i,j))
print(l)
      # print(i,j)

[(1, 8), (4, 5)]

In [ ]:
a=[5,7,4,3,9,8,19,21,10]
sum1=17
l=[]
for i in range(len(a)):
  for j in range(i+1,len(a)):
    res=a[i]+a[j]
    if res==sum1:
      l.append((a[i],a[j]))
print(l)

[(7, 10), (9, 8)]

In [ ]:
dic ={1: 'red', 2: 'green', 3: 'black', 4: 'white'}
d={}
# o/p={'red':3,'green':5,'black':5,'white':5}
for k,v in dic.items():
  d[v]=len(v)
print(d)

{'red': 3, 'green': 5, 'black': 5, 'white': 5}

**drop empty items from a given dictionary.**

In [ ]:
dict1 = {'c1': 'Red', 'c2': 'Green', 'c3':None}
dict1 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict1)

{'c1': 'Red', 'c2': 'Green'}

**find the specified number of maximum values in a given dictionary.**

In [ ]:
dictt = {'a':5, 'b':14, 'c': 32, 'd':35, 'e':24, 'f': 100, 'g':57, 'h':8, 'i': 100}
x=0
y=None
for k,v in dictt.items():
  if v>x:
    x=v
    y=k
print({y:x})

{'f': 100}

***16/10/23**

**check number is palandrome or not**

In [ ]:
num=int(input('enter any number'))
rev=0
tem=num
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10

if tem==rev:
  print('palandrom')
else:
  print('not palandrom')

enter any number567
not palandrom

**2.*find* unique number in list **

In [ ]:
list=[1,2,3,6,5,4,1,3,5,4,6]
x={}
y=""
for i in list:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print('unique number',x)
for k,v in x.items():
  if v==1:
    y = k
print(y)

unique number {1: 2, 2: 1, 3: 2, 6: 2, 5: 2, 4: 2}
2

In [ ]:
a=[1,2,3,3,2]
b={}
z=''
for i in a:
  if i in b:
    b[i]+=1
  else:
    b[i]=1
print(b)
for k,v in b.items():
  if v==1:
    z=k
print(z)

{1: 1, 2: 2, 3: 2}
1

In [ ]:
lst=[1,2,3,6,5,4,1,3,5,4,6]
a = []
for i in lst:
  if lst.count(i)==1:
    a.append(i)
print(a)

[2]

In [ ]:
list=[1,2,3,6,5,4,1,3,4,6]
x={}
y=[]
for i in list:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print('unique number',x)
for k,v in x.items():
  if v==1:
    y.append(k)
print(y)

unique number {1: 2, 2: 1, 3: 2, 6: 2, 5: 1, 4: 2}
[2, 5]

**3rd question**

In [ ]:
list="aabcddrsgg"
x={}
y=[]
for i in list:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print('unique number',x)
for k,v in x.items():
  if v==1:
    y.append(k)
print("".join(y))

unique number {'a': 2, 'b': 1, 'c': 1, 'd': 2, 'r': 1, 's': 1, 'g': 2}
bcrs

**check number is armstrong or not**

In [ ]:
a=153
num=a
sum=0
while a>0:
  digit=a%10
  sum+=digit**3
  a=a//10


if sum==num:
  print('armstrong')
else:
  print('not armstrong')

armstrong

**find a factorial of a number**

**17/10/23**

In [ ]:
a="abcdefghijklmnopqrstuvwxyz"
n=int(input('enter number'))
d={}
for i in range(n):
  d[i]=a[i]
print(d)

enter number4
{0: 'a', 1: 'b', 2: 'c', 3: 'd'}

**2nd. maximum value in dictionary**

In [ ]:
std = {'Theodore': 19,'Roxanne': 22,'Mathew': 21,'Betty': 20}
x=0
y=None
for k,v in std.items():
  if v>x:
    x=v
    y=k
print({y:x})

{'Roxanne': 22}

In [ ]:
std = {'Theodore': 19,'Roxanne': 22,'Mathew': 21,'Betty': 20}
x=0
y=None
for k,v in std.items():
  if v>x:
    x=v
    y=k
print({y:x})

{'Roxanne': 22}

**18/10/23**

**1.covert two list into dictionary **

In [ ]:
l1 = ["a", "b" , "c"]
l2 = [1, 2, 3]
l3={k:v for k,v in zip(l1,l2)}
print(l3)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
x=[1,2,3,4]
y=[2,3,4,5]
z=dict(zip(x,y))
print(z)

{1: 2, 2: 3, 3: 4, 4: 5}

In [ ]:
l1 = ["a", "b" , "c"]
l2 = [1, 2, 3]
res={}
for key in l1:
  for value in l2:
    res[key]=value
    l2.remove(value)
    break
print(str(res))

{'a': 1, 'b': 2, 'c': 3}

**2. sort dictinary by key**

In [ ]:
d= {'red':'1234','green':'7991','black':'14567','white':'6789'}
z={}
x=list(d.keys())
# print(x)
for i in range(len(x)):
  for j in range(len(x)):
    if x[i]<x[j]:
      x[i],x[j]=x[j],x[i]
print(x)
for i in x:
  z[i]=d[i]
print(z)

['black', 'green', 'red', 'white']
{'black': '14567', 'green': '7991', 'red': '1234', 'white': '6789'}

**3rd. sum all the items in dictionary**

In [ ]:
dt= {'data1':100,'data2':54,'data3':247}
x=list(dt.values())
print(x)
print(sum(x))

[100, 54, 247]
401

In [ ]:
dt= {'data1':100,'data2':54,'data3':247}
x=0
for i in dt.values():
    y=x+i
print(y)

247

**4.check if dictionary is empty or not**

In [ ]:
x={}
# print(len(x))
if len(x)==0:
  print('its empty dictionary')
else:
  print('its not empty dictionary')

its empty dictionary

In [ ]:
x={'1':1,'2':3}
# print(len(x))
if len(x)==0:
  print('its empty dictionary')
else:
  print('its not empty dictionary')

its not empty dictionary

**19/10/23**

In [ ]:
a=[5,7,4,3,9,8,19,21,10]
x=15
y=[]
for i in range(len(a)):
  for j in range(i+1,len(a)):
    res=a[i]+a[j]
    if res==x:
      y.append((a[i],a[j]))
print(y)

[(5, 10), (7, 8)]

In [ ]:
x={'pqr':12,'xyz':11,'abc':13}
y=0
z=None
for k,v in x.items():
  if v>y:
    y=v
    z=k
print({z:y})

{'abc': 13}

In [ ]:
x={'pqr':12,'xyz':11,'abc':13}
for i in x:
  for j in x:
    if x[i]<x[j]:
      x[i],x[j]=x[j],x[i]
print(x)

{'pqr': 11, 'xyz': 12, 'abc': 13}

In [ ]:
x={'pqr':12,'xyz':11,'abc':13}
y=list(x.keys())
print(y)
for i in range(len(y)):
  for j in range(len(y)):
    if y[i]<y[j]:
      y[i],y[j]=y[j],y[i]
print(y)

['pqr', 'xyz', 'abc']
['abc', 'pqr', 'xyz']

In [ ]:
z='abbcccdddd'
x={}
for i in z:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print(x)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**20/10/23**

In [ ]:
lst = ['car','Mitsubishi', 'BMW', 'VW', 'Ford']
for i in range(len(lst)):
  for j in range(i+1,len(lst)):
    if len(lst[i])>len(lst[j]):
      lst[i],lst[j]=lst[j],lst[i]
print(lst)

['VW', 'BMW', 'car', 'Ford', 'Mitsubishi']

In [ ]:
x=[1,2,3,4,3,2,4,3]
y={}
for i in x:
  if i in y:
    y[i]+=1
  else:
     y[i]=1
print(y)

{1: 1, 2: 2, 3: 3, 4: 2}

**sort basis on second element**

In [ ]:
tup =[("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
for i in range(len(tup)):
  for j in range(len(tup)):
    if tup[i][1]<tup[j][1]:
      tup[i],tup[j]=tup[j],tup[i]
print(tup)

[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

In [ ]:
l=[("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]

for i in range(len(l)):
  for j in range(len(l)):
    if str(l[i][0])<str(l[j][0]):
      l[i],l[j]=l[j],l[i]
print(l)

[(1, 'groot'), (56, 'apple'), ('dell', 'ipad'), ('teams', 'ml'), ('water', 'case'), ('zoo', 'peanuts')]

**swap two element**

In [ ]:
l=[("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]

for i in range(len(l)):
    a=list(l[i])
    a[0],a[1]=a[1],a[0]
    l[i]=tuple(a)
print(l)

[('peanuts', 'zoo'), ('groot', 1), ('ml', 'teams'), ('ipad', 'dell'), ('case', 'water'), ('apple', 56)]

**21/10/23**

In [ ]:
def func(dt):
  x={}
  for i, values in enumerate(dt["threshold"]):
    x[i]=list(values.values())
  return x

dt={"threshold":[{"temp":21,"hum":10,"lux":100},{"temp":26,"hum":20,"lux":150},{"temp":28,"hum":30,"lux":200}]}
ot=func(dt)
print(ot)
{0:[21,10,100],1:[26,20,150],2:[28,30,200]}

{0: [21, 10, 100], 1: [26, 20, 150], 2: [28, 30, 200]}

{0: [21, 10, 100], 1: [26, 20, 150], 2: [28, 30, 200]}

In [ ]:
def func(dt):
  x={}
  for i, values in enumerate(dt["threshold"]):

    # print(values)
    x[i]=list(values.values())
  return x

dt={"threshold":[{"temp":21,"hum":10,"lux":100},{"temp":26,"hum":20,"lux":150},{"temp":28,"hum":30,"lux":200}]}
ot=func(dt)
print(ot)

{'temp': 21, 'hum': 10, 'lux': 100}
{'temp': 26, 'hum': 20, 'lux': 150}
{'temp': 28, 'hum': 30, 'lux': 200}
{0: [21, 10, 100], 1: [26, 20, 150], 2: [28, 30, 200]}

In [ ]:
dt={"threshold":[{"temp":21,"hum":10,"lux":100},{"temp":26,"hum":20,"lux":150},{"temp":28,"hum":30,"lux":200}]}
for k,v in enumerate(dt["threshold"]):

  print(v)

{'temp': 21, 'hum': 10, 'lux': 100}
{'temp': 26, 'hum': 20, 'lux': 150}
{'temp': 28, 'hum': 30, 'lux': 200}

In [ ]:
threshold_dic={0: [26, 50, 10], 1: [28, 70, 20], 2: [30, 30, 50],3:1}

def getThreshold(data):
  count=0
  for i in data.values():
    if count==3:
      break
    # print(i)
    dic={'temp':i[0],'hum':i[1],'lux':i[2]}
    count+=1
    print(dic)

**23/10/23**

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
   print("*",end=" ")
  print(" ")

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5,0,-1):
  for j in range(1,i+1):
   print("*",end=" ")
  print(" ")

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(6,0,-1):
  for j in range(1,i+1):
   print("A",end=" ")
  print(" ")

A A A A A A
A A A A A
A A A A
A A A
A A
A

In [ ]:
list=[1,2,3,6,5,4,1,3,5,4,6]
x=[]
for i in list:
  if i not in x:
    x.append(i)
print(x)

[1, 2, 3, 6, 5, 4]

In [ ]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
tp=tup[0:-1]
# tp=tup[5]
print(tp)

('e', 'x', 'e', 'r', 'c', 'i', 's', 'e')

In [ ]:
l = ['hello', 10, 20, 40, 20, 60, 40, 30]
x=[]
for i in l:
  if l.count(i)>1 and i not in x:
    x.append(i)
print(x)

[20, 40]

In [ ]:
l=[1,2,3,1,2,4,5,4]
x=[]
for i in l:
  if l.count(i)>1 and i not in x:
    x.append(i)
print(x)

[1, 2, 4]

**24/10/23**

In [ ]:
dictt = {'a':5, 'b':14, 'c': 32, 'd':35, 'e':24, 'f': 100, 'g':57, 'h':8, 'i': 100}
y=0
z=None
for k,v in dictt.items():
  if v>y:
    y=v
    z=k

print(y,z)

100 f

In [ ]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**25/10/23. 1st.swap alternate**

In [ ]:
fr=[5,6,7,2,3,1,9]
for i in range(0,len(fr),2):
  if i+1<len(fr):
    fr[i],fr[i+1]=fr[i+1],fr[i]
print(fr)

[6, 5, 2, 7, 1, 3, 9]

In [ ]:
fr=[5,6,7,2,3,1]
for i in range(0,len(fr),2):
  fr[i],fr[i+1]=fr[i+1],fr[i]
print(fr)

[6, 5, 2, 7, 1, 3]

In [ ]:
lst=[2,3,4,5,6,7]
for i in range(0,len(lst),3):
  if i+1<len(lst):
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[3, 2, 4, 6, 5, 7]

In [ ]:
str1="sadique ali"
x={}
for i in str1:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print(x)

{'s': 1, 'a': 2, 'd': 1, 'i': 2, 'q': 1, 'u': 1, 'e': 1, ' ': 1, 'l': 1}

In [ ]:
a=[(2,1,3),(5,4,7),(10,12,1),(0,10,1)]

for k in range(len(a)):
  x=list(a[k])
  # print(x)
  for i in range(len(x)):
    for j in range(i+1,len(x)):
      if x[i]>x[j]:
        x[i],x[j]=x[j],x[i]
      a[k]=tuple(x)
print(a)

[(1, 2, 3), (4, 5, 7), (1, 10, 12), (0, 1, 10)]

In [ ]:
x=[2,3,1,2,4,5]
y=0
for i in x:
  y=y+i

print(y)

17

In [ ]:
x=[2,3,1,2,4,5]
print(sum(x))

17

**26/10/2023**

In [ ]:
lst=["notepad","notepad","mouse","mouse","cat"]
# x={}
# for i in lst:
#   if i in x:
#     x[i]+=1
#   else:
#     x[i]=1
# print(x)
z={}
for i,j in x.items():
  if j not in z:
    z[j] = [i]

  else:
    z[j].append(i)

print(z)


# o/p:{2: ['notepad', 'mouse'], 1: ['cat']}

{2: ['notepad', 'mouse'], 1: ['cat']}

In [ ]:
lst=["notepad","notepad","mouse","mouse","cat"]
x={}
for i in lst:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print(x)

{'notepad': 2, 'mouse': 2, 'cat': 1}

In [ ]:
a={'abc':1,'pqr':2,'mnc':3,'lmn':4,'str':5}
lst=['abc','mnc','str']
x={}
for i in lst:
  if i in a:
    x[i]=a[i]
print(x)

{'abc': 1, 'mnc': 3, 'str': 5}

In [ ]:
a=[10,12,3,4,5]
sum=15
y=[]
for i in range(len(a)):
  for j in range(i+1,len(a)):
    res=a[i]+a[j]
    if res==sum:
      y.append((a[i],a[j]))
print(y)

[(10, 5), (12, 3)]

**27/10/2023**

In [ ]:
a={'abc':1,'pqr':2,'xyz':3,'lmn':4,'str':5}
lst=['abc','xyz','str']
x={}
for i in lst:
  if i in a:
    x[i]=a[i]
print(x)

{'abc': 1, 'xyz': 3, 'str': 5}

In [ ]:
a={'rashida':[25,0,30,400],'zobia':[1,0,95,25],'anam':[400,300,200,1]}

for k,v in a.items():
  x=0
  for i in v:
    if i>x:
      x=i
  print(f"{k}_{x}")

rashida_400
zobia_95
anam_400

In [ ]:
a="a3b2c4d1"
y={}
for i in a:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
print(y)

{'a': 1, '3': 1, 'b': 1, '2': 1, 'c': 1, '4': 1, 'd': 1, '1': 1}

In [ ]:
a="a3b2c4d1"
b=""
for i in range(0,len(a),2):
    # print(a[i])

  b=a[i]*int(a[i+1])
  print(b,end="")

aaabbccccd

In [ ]:
d = {"Ali":{"Score":91},"Akbar":{"Score":45},"Bilal":{"Score":30}}
x=0
y=""
for i in d:
  print(i)
  if d[i]['score']>x:
    x=d[i]['score']
    y=i
print({y:x})
# {'Ali': 91}

Ali
Akbar
Bilal

In [ ]:
x=6
for i in range(x):
  for j in range(i):
    print(i,end=" ")
  print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

**28/10/23 map function question 1**

In [ ]:
# map function

nums1 = [1, 2, 3]
nums2 = [4, 5, 6]
nums3 = [7, 8, 9]
res=map(lambda x,y,z: x+y+z,nums1,nums2,nums3)
print(list(res))

[12, 15, 18]

**user defind method**

In [ ]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]
nums3 = [7, 8, 9]
l3=[]
for i in range(3):
  l3.append(nums1[i]+nums2[i]+nums3[i])
print(l3)

[12, 15, 18]

**question 2**

In [ ]:
def square(num):
  return num*num

nums=[2,3,4,5]
# print(nums)
res=map(square,nums)
print(list(res))

[4, 9, 16, 25]

**user defind method**

In [ ]:
nums=[2,3,4,5]
x=[i*i for i in nums]
print(x)

[4, 9, 16, 25]

**question 3**

In [ ]:
def even_odd(num):
  if num%2==0:
    return 'even'
  else:
    return 'odd'
nums=[2,3,4,5,6]
res=map(even_odd,nums)
print(list(res))

['even', 'odd', 'even', 'odd', 'even']

**`user defined method`**

In [ ]:
nums=[2,3,4,5,6]
for i in nums:
  if i%2==0:
    print('even',i)
  else:
    print('odd',i)

even 2
odd 3
even 4
odd 5
even 6

In [ ]:
person=['heena','anam','rashida']
upper_person=list(map(str.upper,person))
print(upper_person)

['HEENA', 'ANAM', 'RASHIDA']

In [ ]:
person=['heena','anam','rashida']
s1=[]
for i in person:
  if i.lower():
    s1.append(i.upper())
print(s1)

['HEENA', 'ANAM', 'RASHIDA']

In [ ]:
person=['heena','anam','rashida']
# c1=0
for i in person:
  # print(i)
  if i.islower():
    x=i.upper()
    person=x
print(x)

RASHIDA

In [ ]:
|list1 = [1, 2, 4, 5]

tuple1 = (5, 2, 8, 3)

z=map(lambda x,y: x*y,list1,tuple1)
print(list(z))

[5, 4, 32, 15]

**zip functions 1.**

In [ ]:
# zip function

x=[1,2,3,4]
y=[2,3,4,5]
res=zip(x,y)
print(list(res))

[(1, 2), (2, 3), (3, 4), (4, 5)]

In [ ]:
def func(x,y):
  return x,y

x=[1,2,3,4]
y=[2,3,4,5]
res=[func(x[i],y[i]) for i in range(len(x))]
print(res)

[(1, 2), (2, 3), (3, 4), (4, 5)]

**question 2**

In [ ]:
l1 = ["a", "b" , "c"]
l2 = [1, 2, 3]
l3={k:v for k,v in zip(l1,l2)}
print(l3)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
l1 = ["a", "b", "c"]
l2 = [1, 2, 3]

res= {l1[i]: l2[i] for i in range(len(l1))}
# print(l1[i])
print(res)

{'a': 1, 'b': 2, 'c': 3}

**question 3**

In [ ]:
list1 = ["M", "na", "i", "ras"]
list2 = ["y", "me", "s", "hida"]
list3=[i+j for i,j in zip(list1,list2)]
print(list3)

['My', 'name', 'is', 'rashida']

In [ ]:
list1 = ["M", "na", "i", "ras"]
list2 = ["y", "me", "s", "hida"]
res=[list1[i]+list2[i] for i in range(len(list1))]
print(res)

['My', 'name', 'is', 'rashida']

**question 4**

In [ ]:
x=[2,3,4]
y=[3,4,5]
z=[i+j for i,j in zip(x,y)]
print(z)

[5, 7, 9]

In [ ]:
x=[2,3,4]
y=[3,4,5]
res=[x[i]+y[i] for i in range(len(x))]
print(res)

[5, 7, 9]

***filter method ***

In [ ]:
# filter
x=[2,3,4,5]
res=filter(lambda x: x%2==0,x)
print(list(res))

[2, 4]

**user defind method**

In [ ]:
x=[2,3,4,5]
for i in x:
  if i%2==0:
    print('even',i)

even 2
even 4

**in built method**

In [ ]:

x=[2,3,4,5]
res=filter(lambda x: x%2!=0,x)
print(list(res))

[3, 5]

**user defind method**

In [ ]:
x=[2,3,4,5]
for i in x:
  if i%2!=0:
    print('odd',i)

odd 3
odd 5

***Reduce method ***

In [ ]:
# reduces
from functools import reduce
numbers = [1,2,3,4]
reduced_number = reduce(lambda x,y: x*y, numbers)
print(reduced_number)

24

In [ ]:
numbers = [1,2,3,4]
x=1
for i in numbers:
  x*=i
print(x)

24

**2nd question**

In [ ]:
from functools import reduce
def sum(a,b):
  return a+b
res=reduce(sum,[2,3,4,1])
print(res)

10

In [ ]:
x=[2,3,4,1]
y=0
for i in x:
  y=y+i
print(y)

10

**30/10/2023**

In [ ]:
str1 = "Apple"
x={}
for i in str1:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print(x)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [ ]:
x=[1,2,1,2,3,4,4,5]
y={}
for i in x:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
print(y)

{1: 2, 2: 2, 3: 1, 4: 2, 5: 1}

In [ ]:
str1 = "PYnative"
str1=str1[::-1]
print(str1)

evitanYP

In [ ]:
str1 = "PYnative"
str1 = ''.join(reversed(str1))
print(str1)

evitanYP

In [ ]:
b = [(11, "pqr"),(2, 'abc'), (9, 'xyz')]
for i in range(len(b)):
  for j in range(len(b)):
    if b[i][1]<b[j][1]:
      b[i],b[j]=b[j],b[i]
print(b)

[(2, 'abc'), (11, 'pqr'), (9, 'xyz')]

In [ ]:
 l1= [(11, "pqr"),(2, 'abc'), (9, 'xyz')]
 for i in range(len(l1)):
  for j in range(len(l1)):
    if l1[i][0]<l1[j][0]:
      l1[i],l1[j]=l1[j],l1[i]
print(l1)

[(2, 'abc'), (9, 'xyz'), (11, 'pqr')]

**31/10/2023**

In [ ]:
str='rashida ansari'
if str.islower():
  x=str.upper()
print(x)

RASHIDA ANSARI

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
rows=6
for i in range(1,rows):
  for j in range(1,i+1):
    print('*',end=' ')
  print('')

*
* *
* * *
* * * *
* * * * *

In [ ]:
first = [2, 3, 4]
second = [20, 30, 40]
final = []
for i in first:
    for j in second:
        final.append(i+j)
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [ ]:
first = [2, 3, 4]
second = [20, 30, 40]
final = [i+j for i in first for j in second]
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [ ]:
numbers = [[1, 2, 3], [4, 5, 6]]

cnt = 0
for i in numbers:
    for j in i:
        print('iteration', cnt, end=': ')
        print(j)
        cnt = cnt + 1

iteration 0: 1
iteration 1: 2
iteration 2: 3
iteration 3: 4
iteration 4: 5
iteration 5: 6

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
result = []
for i in list1:
  if i != 20:
    result.append(i)
print(result)

[5, 15, 25, 50]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

while 20 in list1:
  list1.remove(20)
print(list1)

[5, 15, 25, 50]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)

print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]

print([i*i for i in numbers])

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
numbers = [1,2,3,4,5,6,7]
numbers = []
for value in range(1,8):
  numbers.append(value**2)
print(numbers)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
l1=[]
l2=[]
for i in list1:
  if len(i)==0:
    l1.append(i)
  else:
    l2.append(i)
print(l2)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
list1=["Mike","","Emma", "Kelly","","Brad"]
while "" in list1:
    list1.remove("")
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
a = ["M", "na", "i", "Ke"]
b = ["y", "me", "s", "lly"]
c = [a[i]+b[i] for i in range(4)]
print(c)

['My', 'name', 'is', 'Kelly']

**01/11/2023**

In [ ]:
num=1
for i in range(5):
  for j in range(i+1):
    print(num,end = " ")
    num=num+1
  print(num)

1 2
2 3 4
4 5 6 7
7 8 9 10 11
11 12 13 14 15 16

In [ ]:
# a=[3,7,5,4]
# y=[]
# z=0
# for i in range(len(a)):
#   z== sum(a) - a[i]
#   y.append(z)
# print(y)

# output:[16, 12, 14, 15]

In [ ]:
# f = [3, 7, 5, 4]
# output = [sum(f) - x for x in f]

# print(output)

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(len(my_list)):
    if i%2!=0:
        print(my_list[i],end=" ")

20 40 60 80 100

In [ ]:
dt= {'zobia':100,'anam':54,'rashida':247}
x=0
y={}
for k,v in dt.items():
  if v>x:
    x=v
    y=k
print(y,x)

rashida 247

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
    if (i%5==0) and (i<151):
        print(i)

15
55
75
150

In [ ]:
dt= {'zobia':100,'anam':54,'rashida':247}
x=list(dt.values())
print(x)
for i in range(len(x)):
  for j in range(len(x)):
    if x[i]

[100, 54, 247]

**02/11/2023**

**`sort based on 2nd elemnet`**

In [ ]:
dic= {'name': 'John', 'age': 'the', 'city': 'New York'}
x=list(dic.items())
# print(x)
for i in range(len(x)):
  for j in range(len(x)):
    if x[i][1]<x[j][1]:
      x[i],x[j]=x[j],x[i]
print(x)

[('name', 'John'), ('city', 'New York'), ('age', 'the')]

**`sort based on 1st elemnet`**

In [ ]:
dic= {'name': 'John', 'age': 22, 'city': 'New York'}
x=list(dic.items())
# print(x)
for i in range(len(x)):
  for j in range(len(x)):
    if x[i][0]<x[j][0]:
      x[i],x[j]=x[j],x[i]
print(x)

[('age', 22), ('city', 'New York'), ('name', 'John')]

In [ ]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

exercises

In [ ]:
x = {'Theodore': 19, 'Roxanne': 22, 'Mathew': 21, 'Betty': 20}

max = None
min = None

for key, value in x.items():
    if max is None or value > x[max]:
        max = key
    if min is None or value < x[min]:
        min = key

print(f"Maximum key: {max}")
print(f"Minimum key: {min}")

Maximum key: Roxanne
Minimum key: Theodore

In [ ]:
setn = {5, 10, 3, 15, 2, 20}
x=0
for i in setn:
  if i>x:
    x=i
print(x)

20

**03/11/2023**

In [ ]:
list1 = ["Mike",'' "Emma",'', "Kelly", "", "Brad",'']
l1=""
l2=[]
for i in list1:
  if i ==l1:
    continue
  else:
    l2.append(i)
print(l2)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
d = {"Ali":{"Score":91},"Akbar":{"Score":45},"Bilal":{"Score":30}}
x=0
y={}
for i in d:
  # print(i)
  if d[i]['Score']>x:
    x=d[i]['Score']
    y=i
print({y:x})
# {'Ali': 91}

{'Ali': 91}

In [ ]:
x=['raj','anam','neen']
for i in x:
  # print(i)
  if 'a' in i:
    print(i)

raj
anam

**sort Counter by value.**

In [ ]:
data ={'Math':81, 'Physics':83, 'Chemistry':87}
for i in data:
  for j in data:
    if data[i]<data[j]:
      data[i],data[j]=data[j],data[i]
print(data)

{'Math': 81, 'Physics': 83, 'Chemistry': 87}

In [ ]:
data ={'Math':81, 'Physics':83, 'Chemistry':87}
dat1=sorted(data.items(),key=lambda x:x[1] )
print(dat1)
dat2=dict(dat1)
print(dat2)

[('Math', 81), ('Physics', 83), ('Chemistry', 87)]
{'Math': 81, 'Physics': 83, 'Chemistry': 87}

In [ ]:
x={1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}
y={}
for k,v in x.items():
  y[v]=len(v)
print(y)

{'red': 3, 'green': 5, 'black': 5, 'white': 5}

In [ ]:
z={'1': 'Austin Little', '2': 'Natasha Howard', '3': 'Alfred Mullins', '4': 'Jamie Rowe'}
dt={}
for k,v in z.items():
  dt[v]=len(v)
print(dt)

{'Austin Little': 13, 'Natasha Howard': 14, 'Alfred Mullins': 14, 'Jamie Rowe': 10}

In [ ]:
z={'1': 'Austin Little', '2': 'Natasha Howard', '3': 'Alfred Mullins', '4': 'Jamie Rowe'}
dt={}
for k,v in z.items():
  dt[k]=len(k)
print(dt)

{'1': 1, '2': 1, '3': 1, '4': 1}

**04/11/2023**

In [ ]:
x=[(1,12),(3,11),(2,13)]
for i in range(len(x)):
  # print(i)
  for j in range(len(x)):
    if x[i][1]<x[j][1]:
      x[i],x[j]=x[j],x[i]
print(x)

[(3, 11), (1, 12), (2, 13)]

In [ ]:
x=[(1,12),(3,11),(2,13)]
for i in range(len(x)):
  # print(i)
  for j in range(len(x)):
    if x[i][0]<x[j][0]:
      x[i],x[j]=x[j],x[i]
print(x)

[(1, 12), (2, 13), (3, 11)]

**count frequency of dictionary**

In [ ]:
x={'V': 10, 'VI': 10, 'VII': 40, 'VIII': 20, 'IX': 70, 'X': 80, 'XI': 40, 'XII': 20}
y={}
for value in x.values():
  if value in y:
    y[value]+=1
  else:
    y[value]=1
print(y)

{10: 2, 40: 2, 20: 2, 70: 1, 80: 1}

**convert a dictionary into a list of lists**

In [ ]:
x = {1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}
res=[]
for k,v in x.items():
  res.append([k,v])
print(res)

[[1, 'red'], [2, 'green'], [3, 'black'], [4, 'white'], [5, 'black']]

In [ ]:
x = {1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}
z=[[k,v]for k,v in x.items()]
print(z)

[[1, 'red'], [2, 'green'], [3, 'black'], [4, 'white'], [5, 'black']]

** filter even numbers from a dictionary of values.**

In [ ]:
x={'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}
y={}
for k,v in x.items():
  even=[]
  for val in v:
    if val%2==0:
      even.append(val)
  y[k]=even
print(y)

{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}

In [ ]:
x = {'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}

result = {}

for k, v in x.items():
    even = [value for value in v if value % 2 == 0]
    result[k] = even

print(result)

{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}

**hightes in dictionary**

In [ ]:
dl={'a': 5, 'b': 14, 'c': 32, 'd': 35, 'e': 24, 'f': 100, 'g': 57, 'h': 8, 'i': 100}
x=0
y={}
for k,v in dl.items():
  if v>x:
    x=v
    y=k
print({k:v})

{'i': 100}

In [ ]:
dt={'a': 5, 'b': 14, 'c': 32, 'd': 35, 'e': 24, 'f': 100, 'g': 57, 'h': 8, 'i': 100}
st=list(dt.values())
# print(x)
for i1 in range(len(st)):
  for j2 in range(len(st)):
    if st[i1]<st[j2]:
      st[i1],st[j2]=st[j2],st[i1]
# print(x)
for k,v in dt.items():
  if v==st[-1]:
    print({k:v})

{'f': 100}
{'i': 100}

**05/11/2023 sunday**

In [ ]:
l1=[[1, 'Jean Castro', 'V'], [2, 'Lula Powell', 'V'], [3, 'Brian Howell', 'VI'], [4, 'Lynne Foster', 'VI'], [5, 'Zachary Simon', 'VII']]
res = {}
for i in l1:
  # print(i)
    key = i[0]
    values = i[1:]
    res[key] = values

print(res)

{1: ['Jean Castro', 'V'], 2: ['Lula Powell', 'V'], 3: ['Brian Howell', 'VI'], 4: ['Lynne Foster', 'VI'], 5: ['Zachary Simon', 'VII']}

**06/11/2023**

**find the key of the maximum value in a dictionary.**

In [ ]:
x={'Theodore': 19, 'Roxanne': 22, 'Mathew': 21, 'Betty': 20}

max=None
for k,v in x.items():
  if max is None or v >x[max]:
    max=k
print('maximum',max)

maximum Roxanne

**minimum value of the said dictionary**

In [ ]:
x = {'Theodore': 19, 'Roxanne': 22, 'Mathew': 21, 'Betty': 20}

min = None

for key, value in x.items():

    if min is None or value < x[min]:
        min = key

print(f"Minimum key: {min}")

Minimum key: Theodore

**create a flat list of all the values in a flat dictionary**

In [ ]:
dt={'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20}
x=[]
for k,v in dt.items():
  # print(v,end=" ")
  x.append(v)
print(x)

[19, 20, 21, 20]

**create a flat list of all the keys in a flat dictionary**

In [ ]:
dt={'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20}
x=[]
for k,v in dt.items():
  x.append(k)
print(x)

['Theodore', 'Roxanne', 'Mathew', 'Betty']

**transform a dictionary into a list of tuples.**

In [ ]:
l1={'Red': 1, 'Green': 3, 'White': 5, 'Black': 2, 'Pink': 4}
l2=[]
for key in l1:
  l2.append((key,l1[key]))
print(l2)

[('Red', 1), ('Green', 3), ('White', 5), ('Black', 2), ('Pink', 4)]

**combine two lists into a dictionary.**

In [ ]:
x=['a', 'b', 'c', 'd', 'e', 'f']
y=[1, 2, 3, 4, 5]
z={}
for k in x:
  for v in y:
    z[k]=v
    y.remove(v)
    break
print(str(z))

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
lst=range(1,11)
y=2
z=map(lambda i: i*y,lst)
print(list(z))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
lst=[1,2,3,4,5,6,7,8,9,10]
x=2
a=map(lambda i: i*x,lst)
print(list(a))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**07/11/2023  Tuesday**

In [ ]:
b = [1, 2, 3, 9, [2, 3, 4, [2, 4, 5, 6, 7], 5, 6, 7]]
# total = 0
# for i in range(len(b)):
#   if len(b[i]):
#     print(i)

In [ ]:
numbers = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
total=0
for i in numbers:
  for num in i:
    total+=num
print(total)

45

In [ ]:
# Original dictionary elements:
# {'Theodore': 19, 'Roxanne': 22, 'Mathew': 21, 'Betty': 20}
# Finds the key of the maximum and minimum value of the said dictionary:
# ('Roxanne', 'Theodore')

In [ ]:
a='tom has eaten chicken today'
b=a.split()
print(b)
for i in b:
  res=i[0].upper()
  print(res+i[1:],end=' ')

['tom', 'has', 'eaten', 'chicken', 'today']
Tom Has Eaten Chicken Today

In [ ]:
a='tom has eaten chicken today'
b=a.split()
# print(b)
for i in range(len(b)):
  # print(i)
  if i %2!=0:
    b[i]=b[i].upper()
print(' '.join(b))

tom HAS eaten CHICKEN today

**sort based on 2nd element**

In [ ]:
tup =[("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
for i in range(len(tup)):
  for j in range(len(tup)):
    if tup[i][1]<tup[j][1]:
      tup[i],tup[j]=tup[j],tup[i]
print(tup)

[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

In [ ]:
x=[2,2,1,1,4,3,4]
y={}
for i in x:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
print(y)

{2: 2, 1: 2, 4: 2, 3: 1}

#08/11/23

In [ ]:
x={'Theodore': 19, 'Roxanne': 22, 'Mathew': 21, 'Betty': 20}
y=None
z=0
for k,v in x.items():
  if y is  None or v>x[y]:
    y=k
    z=v

print(y,z)

Roxanne 22

In [ ]:

num = 8
if num ==1:
  print(num,'is not prime number')
if num>1:
  for i in range(2,num):
    if num%i==0:
      print(num,'is not prime number')
      break
  else:
      print(num,'its prime number')

8 is not prime number

In [ ]:
l = [1, 2, 3, 4, 5, 9]
for i in range(0,len(l),2):
  l[i],l[i+1]=l[i+1],l[i]
print(l)

[2, 1, 4, 3, 9, 5]

#Write a Python program to remove unwanted characters from a given string.

In [ ]:
s = 'A%^!B#*CD'
st=s.replace('%',"").replace('^','').replace('!','').replace('#','').replace('*','')
print(st)

ABCD

In [ ]:
s = 'A%^!B#*CD'
y=''
for i in s:
  if i.isalpha():
    y+=i
print(y)

ABCD

In [ ]:
x="soleha playing football in the garden"
b=x.split()
print(b)
for i in range(len(b)):
  # print(i)
  if i%2!=0:
    b[i]=b[i].upper()
print(" ".join(b))

['soleha', 'playing', 'football', 'in', 'the', 'garden']
soleha PLAYING football IN the GARDEN

#09/11/2023

In [ ]:
a='ab$!cd^&'
b=''
c='~@#$!%^&*'
for i in a:
  if i in c:
    continue
  else:
    b=b+i
print(b)

abcd

In [ ]:
dt=['long','short','havey','hmm']
for i in range(len(dt)):
  for j in range(i+1,len(dt)):
    if len(dt[i])>len(dt[j]):
      dt[i],dt[j]=dt[j],dt[i]
print(dt)

['hmm', 'long', 'havey', 'short']

In [ ]:
th={'r':1,'a':2,'s':3,'h':4,'i':5,'d':6,'a':7}
s=list(th.items())
# print(s)
new=[]
for i in s:
  new.append(i[0])
print(new)
print(''.join(new))

['r', 'a', 's', 'h', 'i', 'd']
r a s h i d

In [ ]:
a="soleha playing football in the garden"
b=a.split()
# print(b)
for i in range(1,len(b),2):
  # print(b[i])
  b[i]=b[i].upper()
print(' '.join(b))

soleha PLAYING football IN the GARDEN

In [ ]:
z=[(12,3),(11,2),(10,1)]
for i in range(len(z)):
  for j in range(i+1,len(z)):
    if z[i][0]>z[j][0]:
      z[i],z[j]=z[j],z[i]
print(z)

[(10, 1), (11, 2), (12, 3)]

In [ ]:
list1 = ["Mike",'' "Emma",'', "Kelly", "", "Brad",'']
l1=''
l2=[]
for i in list1:
  if i==l1:
    continue
  else:
    l2.append(i)
print(l2)

['Mike', 'Emma', 'Kelly', 'Brad']

#10/11/2023

# calculate the square of each even number from a list and store in dict

In [ ]:
num=[2,3,4,5,6]
num1={x: x**2 for x in num if x%2==0}
print(num1)

{2: 4, 4: 16, 6: 36}

In [ ]:
x=lambda i: 'even' if i%2==0 else 'odd'
print(x(8))

even

#Write a Python program to replace the last element in a list with another list.

In [ ]:
num1 = [1, 3, 5, 7, 9, 10]
num2 = [2, 4, 6, 8]
num3=num1+num2
print(num3)

[1, 3, 5, 7, 9, 10, 2, 4, 6, 8]

In [ ]:
num1 = [1, 3, 5, 7, 9, 10]
num2 = [2, 4, 6, 8]
num1.extend(num2)
print(num1)

[1, 3, 5, 7, 9, 10, 2, 4, 6, 8]

In [ ]:
num = [1, 2, 3]
color = ['red', 'white', 'black']
for(a,b)in zip(num,color):
  print(a,b)

1 red
2 white
3 black

In [ ]:
num = [1, 2, 3]
color = ['red', 'white', 'black']
num1=[]
for i in num:
  if i not in color:
    color.append(i)
print(color)

['red', 'white', 'black', 1, 2, 3]

#11/11/2023

In [ ]:
l1=[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
l2=[]
for i in l1:
  if i not in l2:
    l2.append(i)
print(l2)

[[10, 20], [40], [30, 56, 25], [33]]

#Write a Python program to convert a pair of values into a sorted unique list

In [ ]:
L = [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10)]
l2=[]
for i in L:
  if i not in l2:
    l2.append(i)
print(l2)

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]

In [ ]:
# marks greater than 50
data={'junaid':36,'sarfaraz':48,'minhaj':52,'sadiqu':72}
l=list(data.values())
# print(l)
for i in range(len(l)):
  for j in range(len(l)):
    if l[i]<l[j]:
      l[i],l[j]=l[j],l[i]

print(l)
for k,v in data.items():
  if v==l[-2]:
    print({k,v})

[36, 48, 52, 72]
{52, 'minhaj'}

In [ ]:
# student highest marks
data={'junaid':36,'sarfaraz':48,'minhaj':52,'sadiqu':72}
l=list(data.values())
# print(l)
for i in range(len(l)):
  for j in range(len(l)):
    if l[i]<l[j]:
      l[i],l[j]=l[j],l[i]

print(l)
for k,v in data.items():
  if v==l[-1]:
    print({k,v})

[36, 48, 52, 72]
{72, 'sadiqu'}

In [ ]:
x=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for i in range(len(x)):
  for j in range(i+1,len(x)):
    if x[i][0]>x[j][0]:
      x[i],x[j]=x[j],x[i]
print(x)

[(1, 2), (2, 5), (2, 3), (2, 1), (4, 4)]

#Write a Python program to change the position of every n-th value

In [ ]:
lst=[0,1,2,3,4,5]
for i in range(0,len(lst),2):
  lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[1, 0, 3, 2, 5, 4]

In [ ]:
lst = [[1, 2, 3], [4, 5, 6], [10, 11, 12], [7, 8, 9]]
res=0
for i in lst:
  # print(i)
  for j in i:
    # print(j)
    res+=j
print(res)

78

#12/11/2023 Sunday

# sort

In [ ]:
l1= ['be','have','do','say','get','make','go','know','take','see','come','think','look','want','give','use','find','tell','ask','work','seem','feel','leave']
for i in range(len(l1)):
  for j in range(len(l1)):
    if l1[i]<l1[j]:
      l1[i],l1[j]=l1[j],l1[i]
print(l1)

['ask', 'be', 'come', 'do', 'feel', 'find', 'get', 'give', 'go', 'have', 'know', 'leave', 'look', 'make', 'say', 'see', 'seem', 'take', 'tell', 'think', 'use', 'want', 'work']

# Write a Python program to select the odd items from a list.

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
y=[]
for i in x:
  if i%2!=0:
    y.append(i)
print(y)

[1, 3, 5, 7, 9]

In [ ]:
x= ["Black", "Red", "Maroon", "Yellow"]
y= ["#000000", "#FF0000", "#800000", "#FFFF00"]
z= {}
for i in range(len(x)):
  # print(x[i])
  # print(y[i])
  z[x[i]]=y[i]
print(z)

{'Black': '#000000', 'Red': '#FF0000', 'Maroon': '#800000', 'Yellow': '#FFFF00'}

# 13/11/2023

#Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [ ]:
num = [7, 8, 120, 25, 44, 20, 27]
num1=[]
for i in num:
  if i %2!=0:
    num1.append(i)
print(num1)

[7, 25, 27]

In [ ]:
num = [7, 8, 120, 25, 44, 20, 27]
num=[x for x in num if x%2!=0]
print(num)

[7, 25, 27]

# remove duplicate element in list

In [ ]:
lst = ['Alice', 'Bob', 'Bob', 1, 1, 1, 2, 3, 3]
lst1=[]
for i in lst:
  if i not in lst1:
    lst1.append(i)
print(lst1)

['Alice', 'Bob', 1, 2, 3]

# Write a Python program to convert a list of characters into a string.

In [ ]:
s = ['a', 'b', 'c', 'd']
print(''.join(s))

abcd

In [ ]:
Input=['p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']
new=''
for i in Input:
  new+=i
print(new)

programming

# Write a Python program to find the second smallest number in a list.

In [ ]:
x=[11,21,12,3,2]
for i in range(len(x)):
  for j in range(len(x)):
    if x[i]<x[j]:
      x[i],x[j]=x[j],x[i]
print(x)
print('second smaller number',x[1])

[2, 3, 11, 12, 21]
second smaller number 3

#Write a Python program to find the second largest number in a list.

In [ ]:
x=[11,21,12,3,2]
for i in range(len(x)):
  for j in range(len(x)):
    if x[i]<x[j]:
      x[i],x[j]=x[j],x[i]
print(x)
print('second largest number',x[3])

[2, 3, 11, 12, 21]
second largest number 12

#Write a Python program to get the frequency of elements in a list.

In [ ]:
lst = [10, 10, 10, 10, 20, 20, 20, 20, 40, 40, 50, 50, 30]
lst1={}
for num in lst:
  if num in lst1:
    lst1[num]+=1
  else:
    lst1[num]=1
print(lst1)

{10: 4, 20: 4, 40: 2, 50: 2, 30: 1}

In [ ]:
x='aabbcddd'
y={}
for i in x:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
print(y)

{'a': 2, 'b': 2, 'c': 1, 'd': 3}

#Write a Python program to find common items in two lists.

In [ ]:
color1 = "Red", "Green", "Orange", "White"
color2 = "Black", "Green", "White", "Pink"
col=[]

for i in color1:
  if i in color2:
    col.append(i)
print(col)

['Green', 'White']

# 14/11/2023

In [ ]:
dt=["red", "orange", "green", "blue", "white"],
dt2=["black", "yellow", "green", "blue"]
dt1=[]
for i in dt:
  if i not in dt2:
    dt1.append(i)
print(dt1)

[['red', 'orange', 'green', 'blue', 'white']]

In [ ]:
from functools import reduce

my_list = [[1], [2, 3], [4, 5, 6, 7]]
print(reduce(lambda x, y: x+y, my_list))

[1, 2, 3, 4, 5, 6, 7]

generate tables

In [ ]:
number_list = [ x for x in range(20) if x % 2 == 0]
print(number_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
obj = ["Even" if i%2==0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

#15/11/2023

In [ ]:
num = [[1, 2, 3], [4, 5, 6], [10, 11, 12], [7, 8, 9]]
num1=[]
for i in num:
  num1.extend(i)
print(num1)

[1, 2, 3, 4, 5, 6, 10, 11, 12, 7, 8, 9]

In [ ]:
num = [[1, 2, 3], [4, 5, 6], [10, 11, 12], [7, 8, 9]]
res=[]
for i in num:
  for j in i:
    # print(j)
    res.append(j)
print(res)

[1, 2, 3, 4, 5, 6, 10, 11, 12, 7, 8, 9]

In [ ]:
num1 = [[1, 2, 3], [4, 5, 6], [10, 11, 12], [7, 8, 9]]

res = [num for i in num1 for num in i]
print(res)

[1, 2, 3, 4, 5, 6, 10, 11, 12, 7, 8, 9]

In [ ]:
# lst=[0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]

# find the common element from the given list

In [ ]:
a=[1,2,3,4,5]
b=[3,4,5,6,7]
c=[5,6,7,8,9]
res=[]
for i in a:
  if i in b and i in c:
    res.append(i)
print(res)

[5]

In [ ]:
a=[1,2,3,4,5]
b=[3,4,5,6,7]
c=[5,6,7,8,9]
d=set()
for num in a:
  if num in b and num in c:
    d.add(num)
print(d)

{5}

In [ ]:
# find the missing element in a list

lst=[1,2,3,4,6,8]
em=[]
for i in range(lst[0],lst[-1]+1):
  if i not in lst:
    em.append(i)
print(em)

[5, 7]

In [ ]:
lst= [[1], [2, 3], [4, 5, 6, 7]]

res = [num for i in lst for num in i]
print(res)

[1, 2, 3, 4, 5, 6, 7]

#16/11/2023

In [ ]:
string='abc pqr "xyz tpq" syz "mpl saq ddda" pqr'
x=string.split()
print(x)
x=[]
#[abc,pqr,"xyz tpq", syz,"mpl saq ddda", pqr]

# for i in string:
#   if i not in x:
#     x.append(i)
# print(x)

['abc', 'pqr', '"xyz', 'tpq"', 'syz', '"mpl', 'saq', 'ddda"', 'pqr']

In [ ]:
st='google.com'
st1={}
for i in st:
  if i in st1:
    st1[i]+=1
  else:
    st1[i]=1
print(st1)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

#Append new string in the middle of a given string

In [ ]:
s1 = "Ault"
s2 = "Kelly"
# AuKellylt


f=s1[:2]
l=s1[2:]
new=f+s2+l
print(new)

AuKellylt

In [ ]:
x = 6
while x:
    print(x)
    x -= 1
    if x == 3:
        break

6
5
4

In [ ]:
list = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
for sublist in list:
    for number in sublist:
      print(number,end=' ')

1 2 3 4 5 6 7 8 9

In [ ]:
# def checkAge(age):
#     if age > 18:
#         return True
#     else:
#         return False

# age = [5, 11, 16, 19, 24, 42]
# adults = filter(checkAge, age)
# print(list(adults))

In [ ]:
vector = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
L = [number for list in vector for number in list]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
matrix = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
L = [[num[i] for num in matrix] for i in range(3)]
print(L)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

#17/11/2023

#Write a Python program to remove duplicates from a list of lists.

In [ ]:
dt=[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
dt1=[]
for i in dt:
  if i not in dt1:
    dt1.append(i)
print(dt1)

[[10, 20], [40], [30, 56, 25], [33]]

In [ ]:
dt=[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
for i in dt:
  if dt.count(i)>1:
    dt.remove(i)
print(dt)

[[30, 56, 25], [10, 20], [33], [40]]

In [ ]:
x=[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
res=[]
for i in x:
  if i not in res:
    res.append(i)
print(res)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
dt=[1, 1, 2, 3, 4, 4.3, 5, 1]
x={}
for i in dt:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print(x)

{1: 3, 2: 1, 3: 1, 4: 1, 4.3: 1, 5: 1}

#Write a Python program to remove duplicates from a list

In [ ]:
a = [1,2,3,7,2,1,5,6,4,8,5,4]

dup = set()
uniq = []
for x in a:
    if x not in dup:
        uniq.append(x)
        dup.add(x)
print(dup)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a = [1,2,3,7,2,1,5,6,4,8,5,4]

for i in a:
  if a.count(i)>1:
    a.remove(i)
print(a)

[3, 7, 2, 1, 6, 8, 5, 4]

##Write a Program that get two lists as input and check if they have at least one common member

In [ ]:
a=[1,2,3,4,5]
b=[5,6,7,8,9]
res=[]
for i in a:
  if i in b:
    res.append(i)
print(res)

[5]

#Write a Python program to Zip two given lists of lists.

In [ ]:
x=[[1, 3], [5, 7], [9, 11]]
y=[[2, 4], [6, 8], [10, 12, 14]]
res=[]
for i in range(len(x)):
  # print(x[i])
  tem=x[i]+y[i]
  res.append(tem)
print(res)

[[1, 3, 2, 4], [5, 7, 6, 8], [9, 11, 10, 12, 14]]

In [ ]:
dt=[[2], [0], [1, 3], [0, 7], [9, 11], [13, 15, 17]]
for i in range(len(dt)):
  for j in range(len(dt)):
    # print(dt[i])
    if dt[i]<dt[j]:
      dt[i],dt[j]=dt[j],dt[i]
print(dt)

[[0], [0, 7], [1, 3], [2], [9, 11], [13, 15, 17]]

#18/11/2023 saturday

In [ ]:
st='need to daily practice on coding'
st1=st.split()
# print(st1)
for i in range(len(st1)):
  if i%2!=0:
    st1[i]=st1[i].upper()
print(' '.join(st1))

need TO daily PRACTICE on CODING

#Write a Python program to count the number of lists in a given list of lists.

In [ ]:

x=[[1, 3], [5, 7], [9, 11], [13, 15, 17]]
y=[i for i in x]
print(len(y))

4

In [ ]:
x=[[1, 3], [5, 7], [9, 11], [13, 15, 17]]
y=list(filter(lambda i: i, x))
print(len(y))

4

#count total number in a list

In [ ]:
lst=[1,2,3,4,5]
print(len(lst))

5

In [ ]:
lst=[1,2,3,4,5]
count=0
for i in lst:
  count=count+1
print(count)

5

In [ ]:
lst=[1,2,3,4,5]
count=0
for i in lst:
  count=count+i
print(count)

15

In [ ]:
x=[[1, 3], [5, 7], [1, 3], [13, 15, 17], [5, 7], [9, 11]]
dic={}
for i in x:
  tup=tuple(i)
  if tup in dic:
    dic[tup]+=1
  else:
    dic[tup]=1
print(dic)

{(1, 3): 2, (5, 7): 2, (13, 15, 17): 1, (9, 11): 1}

In [ ]:
x=[['green', 'orange'], ['black'], ['green', 'orange'], ['white']]
dic={}
for i in x:
  tup=tuple(i)
  if tup in dic:
    dic[tup]+=1
  else:
    dic[tup]=1
print(dic)

{('green', 'orange'): 2, ('black',): 1, ('white',): 1}

#20/11/2023 Monday

In [ ]:
dt= {'key1': 10,'key2': None,'key3': 30,'key4': None,'key5': 50}

for k,v  in dt.items():
    if v is not None:
        print({k},{v})

{'key1'} {10}
{'key3'} {30}
{'key5'} {50}

## Write a Python program to convert a given string into a list of words.

In [ ]:
str1 = "The quick brown fox jumps over the lazy dog."
res=str1.split()
print(res)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog.']

In [ ]:
str1 = 'W3RESOURCE.COM'
print(str1[:4].lower() + str1[4:])

w3reSOURCE.COM

##Write a Python program to move spaces to the front of a given string.

In [ ]:
st="w 3 res ou r ce"
st1=''
for i in st:
  if i !=' ':
    st1+=i
print(st1)

w3resource

##write a python programe to capitalized every first charachter in string

In [ ]:
st= "hello world, how are you"
# convert each first word in capital letter
s=st.title()

print(s)

Hello World, How Are You

In [ ]:
st= "hello world, how are you"
st1=st.split()
em=[]
# print(st1)
for i in st1:
  res=i[0].upper()+i[1:]
  em.append(res)

print(' '.join(em))

Hello World, How Are You

#22/11/23

##1st:Write a Python program to check if a dictionary is empty or not.

In [ ]:
dt= {}
res=len(dt)==0
print('is dictinary empty?:',res)

is dictinary empty?: True

In [ ]:
dt= {}
dt1={}
res=len(dt)==len(dt1)
print('empty dictionary',res)

empty dictionary True

In [ ]:
dt= {1:2,2:3}
res=len(dt)==0
print('is dictinary empty?:',res)

is dictinary empty?: False

In [ ]:
dt= {1:2,2:3}
dt1={}
res=len(dt)==len(dt1)
print('empty dictionary',res)

empty dictionary False

In [ ]:
dic={}
if not (dic):
  print('empty')
else:
  print('not empty')

empty

##2nd:Write a Python program to print all distinct values in a dictionary.

In [ ]:
data=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
res=list(set(v for i in data for v in i.values()))
print(res)

['S001', 'S007', 'S005', 'S002', 'S009']

In [ ]:
data=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
res=[]
for i in data:
  # print(i.values())
  res.extend(list(i.values()))
print(list(set(res)))

['S001', 'S007', 'S005', 'S002', 'S009']

##3rd:two list convert into dictionary

In [ ]:
k= ["Rash", "Kil", "Varsha"]
v= [1, 4, 5]
res={}
for key in k:
  for value in v:
    res[key]=value
    v.remove(value)
    break
print(res)

{'Rash': 1, 'Kil': 4, 'Varsha': 5}

In [ ]:
k= ["Rash", "Kil", "Varsha"]
v= [1, 4, 5]
res=dict(map(lambda i,j: (i,j), k,v))
print(res)

{'Rash': 1, 'Kil': 4, 'Varsha': 5}

In [ ]:
k= ["Rash", "Kil", "Varsha"]
v= [1, 4, 5]
res=dict(zip(k,v))
print(res)

{'Rash': 1, 'Kil': 4, 'Varsha': 5}

##4th:Write a Python program to drop empty items from a given dictionary.

In [ ]:
dt={'c1': 'Red', 'c2': 'Green','c3': None}
res= {key:value for (key, value) in dt.items() if value is not None}
print(res)

{'c1': 'Red', 'c2': 'Green'}

In [ ]:
dt={'c1': 'Red', 'c2': 'Green','c3': None}
for k,v in dt.items():
  print(v)

print(dt)

Red
Green
None
{'c1': 'Red', 'c2': 'Green', 'c3': None}

In [ ]:
dt={'c1': 'Red', 'c2': 'Green','c3': None}
res= {key:value for (key, value) in dt.items() if value is  None}
print(res)

{'c3': None}

#5th:reversed list

In [ ]:
x=[1,2,3,4]
res=reversed(x)
print(list(res))

[4, 3, 2, 1]

In [ ]:
x=[1,2,3,4]
res=x[::-1]
print(res)

[4, 3, 2, 1]

In [ ]:
x=[1,2,3,4,5]
y=[]
for i in x:
  # print(i)
  y.insert(0,i)
print(y)

[5, 4, 3, 2, 1]

#23/11/2023

#1st: question
## count each element in string

In [ ]:
x="shweta shweta ab cd shweta"
a=x.split()
print(a)
y={}
for i in a:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
print(y)
# print(' '.join(y))

['shweta', 'shweta', 'ab', 'cd', 'shweta']
{'shweta': 3, 'ab': 1, 'cd': 1}

#2nd: question
## Reversed string

In [ ]:
st="Python Exercises"
st1=st.split()

st1=st1[::-1]
# print(st1)
print(''.join(st1))

ExercisesPython

In [ ]:
st="Python Exercises"
str=st.split()
# print(str)
str1=""
for i in str:
  str1=i+str1
print(str1)
# print(''.join(str1))

ExercisesPython

#3rd: question
##  repeated character in string

In [ ]:
str1 = 'thequickbrownfoxjumpsoverthelazydog'
str2=[]
for i in str1:
  if str1.count(i)>1:
    if i not in str2:
      str2.append(i)
print(str2)

['t', 'h', 'e', 'u', 'r', 'o']

#4th: question
##Write a Python program to count repeated characters in a string.

In [ ]:
str1 = 'thequickbrownfoxjumpsoverthelazydog'
str3={}
str2=[]
for i in str1:
  if i in str3:
    str3[i]+=1
  else:
    str3[i]=1
# print(str3)
for k,v in str3.items():
  if v>1:
    print(k,v)

t 2
h 2
e 3
u 2
r 2
o 4

#5th question
## Write a Python program to find the first repeated word in a given string.

In [ ]:
st="Python Exercissses"
st1={}
for i in st:
  if i in st1:
    st1[i]+=1
  else:
    st1[i]=1
print(st1)

l = st1.values()
mx = max(l)

for k, v in st1.items():
  if v == mx:
    print(k, v)

{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1, ' ': 1, 'E': 1, 'x': 1, 'e': 2, 'r': 1, 'c': 1, 'i': 1, 's': 4}
s 4

#24/11/2023

##1st: Write a Python script to concatenate the following dictionaries to create a new one.

In [ ]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
dic4={}
for d in (dic1,dic2,dic3):
  dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
dic4={}
for i in (dic1,dic2,dic3):
  dic4={** dic4,**i}
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

##2nd: Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

if 3 in d:
  print('key present in dictionary')
else:
  print('key not present in dictionary')

key present in dictionary

In [ ]:
dt= {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

if 'key4' in dt:
    print("Key exists in the dictionary.")
else:
    print("Key does not exist in the dictionary.")

Key does not exist in the dictionary.

##3rd: Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

In [ ]:
d = dict()
for x in range(1, 16):
    d[x] = x ** 2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

##4th: Write a Python program to sort a list alphabetically in a dictionary.

In [ ]:
num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
res= {x: sorted(y) for x, y in num.items()}
print(res)

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [ ]:
num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
for k in num:
  print(num[k])

[2, 3, 1]
[5, 1, 2]
[3, 2, 4]

In [ ]:
dict = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
x=list(num.values())
print(x)

[[2, 3, 1], [5, 1, 2], [3, 2, 4]]

##5th:

In [ ]:
l= {'a':500, 'b':584, 'c': 560,'d':400, 'e':5874, 'f': 20}
x=list(l.values())
# print(x)
for i in range(len(x)):
  for j in range(len(x)):
    if x[i]>x[j]:
      x[i],x[j]=x[j],x[i]

print(x)
x=x[:3]
for k,v in l.items():
  for i in x:
    if v==i:
      print({k:v})

[5874, 584, 560, 500, 400, 20]
{'b': 584}
{'c': 560}
{'e': 5874}

#6th:

In [ ]:
dt={'V': 10, 'VI': 10, 'VII': 40, 'VIII': 20, 'IX': 70, 'X': 80, 'XI': 40, 'XII': 20}
#Counter({10: 2, 40: 2, 20: 2, 70: 1, 80: 1})

#25/11/2023

##1st: convert two list into dictionary

In [ ]:
lst1=['a', 'b', 'c', 'd', 'e', 'f']
lst2=[1, 2, 3, 4, 5]
lst3={k:v for k,v in zip(lst1,lst2)}
print(lst3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
lst1=['a', 'b', 'c', 'd', 'e', 'f']
lst2=[1, 2, 3, 4, 5]
lst3={}
for k in lst1:
  for v in lst2:
    lst3[k]=v
    lst2.remove(v)
    break
print(str(lst3))

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

##2nd: sort based on 2nd element

In [ ]:
ls=[(8,7),(4,3),(6,5)]
for i in range(len(ls)):
  for j in range(len(ls)):
    if ls[i][1]<ls[j][1]:
      ls[i],ls[j]=ls[j],ls[i]
print(ls)

[(4, 3), (6, 5), (8, 7)]

In [ ]:
x={'w': 50, 'x': 100, 'y': 'Green', 'z': 400}
y={'x': 300, 'y': 'Red', 'z': 600}

##3rd: adding the values with common key

In [ ]:
dict1 = {'a': 12, 'for': 25, 'c': 9}
dict2 = {'Geeks': 100, 'geek': 200, 'for': 300}

for key in dict2:
    if key in dict1:
        dict2[key] = dict2[key] + dict1[key]
    else:
        pass

print(dict2)

{'Geeks': 100, 'geek': 200, 'for': 325}

##4th: Convert a set into dictionary

In [ ]:
set1= {1, 2, 3, 4, 5}
dt = {key: 0 for key in set1}
print(dt)

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0}

##5th:

In [ ]:
sampleDict = {'Physics': 82,'Math': 65,'history': 75}
t=min(sampleDict.values())
print(t)
for i in sampleDict:
     if(sampleDict[i]==t):
         print(i)

65
Math

#27/11/2023

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

for i in list1:
  if i == 20:
    list1.remove(i)

print(list1)

[5, 15, 25, 50]

In [ ]:
numbers = [1,2,3,4,5,6,7]
for i in range(len(numbers)):
  numbers[i] = numbers[i] ** 2
print(numbers)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
str1 = "PyNaTive"
lowercase = ""
uppercase = ""
for char in str1:
    if char.islower():
        lowercase = lowercase + char
    else:
        uppercase = uppercase + char
result = lowercase + uppercase

print(result)

yaivePNT

In [ ]:
str1 = "PyNaTive"

def lower_first(str1):
    for c in str1:
        if c == c.upper():
            str1 = str1[1:] + str1[0]
    print(str1)

In [ ]:
str1 = "emma25 is Data scientist and AI Expert30"
m = str1.split()
for i in m :
    for j in i:
        if(j.isalpha()):
            continue
        elif(j.isdigit()):
            print(i)
            break

emma25
Expert30

In [ ]:
str1 = "Emma25 is Data scientist50 and AI Expert"
m = []

s = str1.split()
for i in s:
    if i.isalnum():
        m.append(i)
# print(m)
print(m[0:4:3])

['Emma25', 'scientist50']

#28/11/2023

In [ ]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
for i in str_list:
  if i=="":
    continue
  else:
    print(i,end=' ')

Emma Jon Kelly None Eric

In [ ]:
s1 = "Abc"
s2 = "Xyz"

s3=''
s2_rev = s2[::-1]
for i in range(len(s1)):
    s3 += s1[i]
    s3 += s2_rev[i]
print(s3)

AzbycX

In [ ]:
s1 = "Ault"
s2 = "Kelly"
print(s1[0]+s2[0]+s1[2]+s2[2]+s1[-1]+s2[-1])

AKllty

#29/11/2023

In [ ]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

dic = {}
for i in employees:
  dic[i] = defaults
print(dic)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [ ]:
d = {'x': 1, 'y': 2, 'z': 3}
for k in d:
    print (k, '=', d[k])

x = 1
y = 2
z = 3

In [ ]:
d = {'x': 1, 'y': 2, 'z': 3}
for k in d.keys():
    print (k, '=', d[k])

x = 1
y = 2
z = 3

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

d = dict.fromkeys(keys)
for i, k in enumerate(d.keys()):
	d[k] = values[i]
print(d)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
x = {1:10, 2:20, 3:30}
x[2]=25
print(x)

{1: 10, 2: 25, 3: 30}

In [ ]:
x = {1:10, 2:20, 3:30}
x[4] = 20
print(x)

{1: 10, 2: 20, 3: 30, 4: 20}

#**30/11/2023**

##Write a Python program to sum all the items

In [ ]:
item=[1,7,-10,34,2,-8]
sum = 0
for i in item:
	sum+= i
print(sum)

26

##Write a Python program to remove duplicates from a list

In [ ]:
a = [1,2,3,7,2,1,5,6,4,8,5,4]
dup = set()
uniq = []
for x in a:
    if x not in dup:
        uniq.append(x)
        dup.add(x)
print(dup)

{1, 2, 3, 4, 5, 6, 7, 8}

##Write a Python program to find common items from two lists

In [ ]:
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
print(set(num1) and set(num2))

{34, 67, 39, 55, 56, 89}

##Write a Python Program to print all Possible Combinations from the three Digits

In [ ]:
a = [1, 2, 3]
for i in range(3):
    for j in range(3):
        for k in range(3):
            if (i!=j and j!=k and i!=k):
                print(a[i], a[j], a[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

##Write a Python program to convert a tuple to a dictionary

In [ ]:
t = (("Name", "Ram"),("Age", 23),("City", "Salem"),("Mark", 422))
print(dict((k,v) for k, v in t))

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422}

#01/12/2023 Friday

In [ ]:
sam= {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}
}

sam['emp3']['salary'] = 8500
print(sam)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

##Write a program to find if the given number is prime or not.

In [ ]:
num = int(input("enter a number: "))
fl = False
if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            fl = True
            break
if fl:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

enter a number: 6
6 is not a prime number

In [ ]:
a=[("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
for i in range(len(a)):
  for j in range(len(a)):
    if a[i][1]<a[j][1]:
      a[i],a[j]=a[j],a[i]
print(a)

[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

In [ ]:
l=[("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]
for i in range(len(l)):
  # print(l[i])
  a=list(l[i])
  a[0],a[1]=a[1],a[0]
  l[i]=tuple(a)
print(l)

[('peanuts', 'zoo'), ('groot', 1), ('ml', 'teams'), ('ipad', 'dell'), ('case', 'water'), ('apple', 56)]

In [ ]:
a=[3,2,1,5,6,8]
for i in range(0,len(a),2):
  if i+1<len(a):
    a[i],a[i+1]=a[i+1],a[i]
print(a)

[2, 3, 5, 1, 8, 6]

#02/12/2023

In [ ]:
x="aaabbccccd"
em={}
for i in x:
  if i in em:
    em[i]+=1
  else:
    em[i]=1
print(em)

{'a': 3, 'b': 2, 'c': 4, 'd': 1}

In [ ]:
a={'abc':1,'pqr':2,'xyz':3,'lmn':4,'str':5}
lst=['abc','xyz','str']
x={}
for i in lst:
  if i in a:
    x[i]=a[i]
print(x)

{'abc': 1, 'xyz': 3, 'str': 5}

In [ ]:
d={'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
x=0
a=""
for i in d:
  # print(d[i])
  if d[i]>x:
    x=d[i]
    a=i
print(a,x)

suraj 32

In [ ]:
x = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
z={}
y=list(x.keys())
# print(y)
for i in range(len(y)):
  for j in range(len(y)):
    if y[i]<y[j]:
      y[i],y[j]=y[j],y[i]
# print(y)
for i in y:
  z[i]=x[i]
print(z)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
# x = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
# z={}
# y=list(x.values())
# print(y)
# for i in range(len(y)):
#   for j in range(len(y)):
#     if y[i]<y[j]:
#       y[i],y[j]=y[j],y[i]
# print(y)
# for i in y:
#   z[i]=x[i]
# print(z)

In [ ]:
x=[2,3,4,5]
x[1],x[0]=x[0],x[1]
print(x)

[3, 2, 4, 5]

#03/12/2023

In [ ]:
a=["sAdiquE","junAId","suFiyan","AshraF"]
for i in range(len(a)):
      if a[i][-1].isupper():
        b=a[i][-1].lower()
        a[i]=a[i][:-1]+b

      else:
          b=a[i][-1].upper()
          a[i]=a[i][:-1]+b
print(a)

['sAdique', 'junAID', 'suFiyaN', 'Ashraf']

In [ ]:
person=['abc','xyz','pqr']
s1=[]
for i in person:
  if i.lower():
    s1.append(i.upper())
print(s1)

['ABC', 'XYZ', 'PQR']

In [ ]:
person=['heena','anam','abc']
# c1=0
for i in person:
  # print(i)
  if i.islower():
    x=i.upper()
    person=x
print(x)

ABC

In [ ]:
a='rohan playing Daily On the road'
b=a.split()
# print(b)
for i in b:
  # print(i[0])
  res=i[0].upper()
  print(res+i[1:],end=' ')

Rohan Playing Daily On The Road

#06/12/2023

In [ ]:
x='abcabccap'
y={}
for i in x:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
print(y)

{'a': 3, 'b': 2, 'c': 3, 'p': 1}

In [ ]:
x=[2, 3, 8, 4, 7, 9, 8, 2, 6, 5, 1, 6, 1, 2, 3, 4, 6, 9, 1, 2]
ct=[]
for i in x:
  if x.count(i)>1 and i not in ct:
    ct.append(i)
print(ct)

[2, 3, 8, 4, 9, 6, 1]

In [ ]:
list="aabcddrsgg"
x={}
y=[]
for i in list:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print('unique number',x)
for k,v in x.items():
  if v==1:
    y.append(k)
print("".join(y))

unique number {'a': 2, 'b': 1, 'c': 1, 'd': 2, 'r': 1, 's': 1, 'g': 2}
bcrs

In [ ]:
dic = {"x":[99, 12, 88],"y":[{'value':[1,2,3]},{'value':[5,6,7]}]}
for i in dic:
  print(dic[i])

[99, 12, 88]
[{'value': [1, 2, 3]}, {'value': [5, 6, 7]}]

In [ ]:
lst = [11,43,56,78,56,98,34,789,800,781,782]
max=0
for i in lst:
  if i>max:
    max=i
print(max)

800

#07/12/2023

In [ ]:
lst1 = ['SarFraz', 'arFan', 'AshHraf', 'junaid']
lst2 = []

for i in lst1:
    if i[0].islower():
        x=i[0].upper() + i[1:]
        lst2.append(x)
    else:
        x=i[0].lower() + i[1:]
        lst2.append(x)
print(lst2)

['sarFraz', 'ArFan', 'ashHraf', 'Junaid']

In [ ]:
p1= {"name": "Sadiq", "country": "India", "telephone": 1178}
x={}
pr=list(p1.keys())
# print(pr)
for i in range(len(pr)):
  for j in range(len(pr)):
    if pr[i]<pr[j]:
      pr[i],pr[j]=pr[j],pr[i]
# print(pr)
for i in pr:
   x[i]=p1[i]
print(x)

{'country': 'India', 'name': 'Sadiq', 'telephone': 1178}

In [ ]:
x = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
z={}
y=list(x.values())
print(y)
for i in range(len(y)):
  for j in range(len(y)):
    if y[i]<y[j]:
      y[i],y[j]=y[j],y[i]
print(y)
# for i in y:
#   z[i]=x[i]
# print(z)

[10, 9, 15, 2, 32]
[2, 9, 10, 15, 32]

In [ ]:
x = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
y=list(x.keys())
print(y)

['ravi', 'rajnish', 'sanjeev', 'yash', 'suraj']

In [ ]:
x="ansari"
y={}
for i in x:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
print(y)

{'a': 2, 'n': 1, 's': 1, 'r': 1, 'i': 1}

In [ ]:
x=[1,2,1,2,3]
y={}
z=''
for i in x:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
print(y)
for k,v in y.items():
  if v==1:
    z=k
print(z)

{1: 2, 2: 2, 3: 1}
3

#08/12/2023

In [ ]:
x=[1,2,3,4]
y=[5,6,7,8]
for i in x:
  if i not in y:
    y.append(i)
print(y)

[5, 6, 7, 8, 1, 2, 3, 4]

In [ ]:
st="student done Our work In the collage"
st1=st.split()
# print(st1)
for i in st1:
  # print(i[0])
  res=i[0].upper()
  print(res+i[1:],end=' ')

Student Done Our Work In The Collage

In [ ]:
a='rohan playing Daily On the road'
b=a.split()
# print(b)
for i in b:
  # print(i[0])
  res=i[0].upper()
  print(res+i[1:],end=' ')

Rohan Playing Daily On The Road

In [ ]:
x=[2,2,1,2,7,7]
y={}
z=''
for i in x:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
print(y)
for k,v in y.items():
  if v==1:
    z=k
print(z)

{2: 3, 1: 1, 7: 2}
1

#09/12/2023

In [ ]:
x = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
z={}
y=list(x.keys())
# print(y)
for i in range(len(y)):
  for j in range(len(y)):
    if y[i]<y[j]:
      y[i],y[j]=y[j],y[i]
print(y)
for i in y:
  z[i]=x[i]
print(z)

['rajnish', 'ravi', 'sanjeev', 'suraj', 'yash']
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
x = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
y=0
for i in x:
  if x[i]>y:
    y=x[i]
print(y)

32

In [ ]:
x = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
y=list(x.values())
for i in range(len(y)):
  for j in range(len(y)):
    if y[i]<y[j]:
      y[i],y[j]=y[j],y[i]
print(y)
for k,v in x.items():
  if v==y[-1]:
    print({k,v})

[2, 9, 10, 15, 32]
{32, 'suraj'}

In [ ]:
x='aabbbc'
y={}
for i in x:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
print(y)

{'a': 2, 'b': 3, 'c': 1}

In [ ]:
x=[1,2,2,1,3,3,6]
y={}
z=''
for i in x:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
# print(y)
for k,v in y.items():
  if v==1:
    z=k
print(z)

6

#11/12/2023

In [ ]:
def gen(max=0):
  n=0
  while n<max:
    yield 2**n
    n+=1
num=gen(6)
print(next(num))
print(next(num))

1
2

In [ ]:
lst=[2,3,4,5,9]
for i in range(0,len(lst),2):
  if i+1<len(lst):
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[3, 2, 5, 4, 9]

In [ ]:
x=[2,1,11,4]
y=0
for i in x:
  if i>y:
    y=i
print(y)

11

In [ ]:
lst=[1,2,1,4,5,8]
x=0
for i in lst:
  x=x+i
print(x)

21

In [ ]:
ls=[2,1,2,4,3]
ls1=[]
for i in ls:
  if i not in ls1:
    ls1.append(i)
print(ls1)

[2, 1, 4, 3]

In [ ]:
l = {'x':500, 'y':5874, 'z': 560}
ls=list(l.values())
# print(ls)
for i in range(len(ls)):
  for j in range(len(ls)):
    if ls[i]<ls[j]:
      ls[i],ls[j]=ls[j],ls[i]

print(ls)
for k,v in l.items():

[500, 5874, 560]
[500, 560, 5874]

#12/12/2023

In [ ]:
x=[2,1,4,3,0]
for i in range(len(x)):
  for j in range(len(x)):
    if x[i]<x[j]:
      x[i],x[j]=x[j],x[i]
print(x)

[0, 1, 2, 3, 4]

In [ ]:
x=[2,1,2,1,3,5,3]
y={}
z=''
for i in x:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
print(y)
for k,v in y.items():
  if v==1:
    z=k
    print(z)

{2: 2, 1: 2, 3: 2, 5: 1}
5

In [ ]:
x={'a':1,'b':12,'c':3,'d':4}
y=0
for i in x:
  if x[i]>y:
    y=x[i]
print(y)

12

##sort list of tuple

In [ ]:
lst=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for i in range(len(lst)):
  for j in range(len(lst)):
    if lst[i]<lst[j]:
      lst[i],lst[j]=lst[j],lst[i]
print(lst)

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

In [ ]:
a = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]
b=[]
for i in a:
  if i not in b:
    b.append(i)
print(b)

[10, 20, 30, 50, 60, 40, 80]

#13/12/2023

In [ ]:
num = [3, 5, 7, 9, 23, 15]
for i in range(len(num)):
    if num[i] % 5 == 0:
        print(num[i], end=' ')
    else:
        pass

5 15

In [ ]:
num = [2,3,4,5,2,6,3,2]
x = []
for i in range(len(num)):
    if num[i] not in x:
        x.append(num[i])
    else:
        pass

print(x)

[2, 3, 4, 5, 6]

In [ ]:
dict1 = {'key 1': 200, 'key 2': 300}
x = []
for i in dict1.values():
    x.append(i)

print(sum(x))

500

In [ ]:

num = [2,3,4,5,2,6,3,2]
x = []
for i in range(len(num)):
    if num[i] not in x:
        x.append(num[i])
    else:
        pass

print(x)

[2, 3, 4, 5, 6]

#15/12/2023

In [ ]:
x=range(5,50,10)
my_list=list(x)
print(my_list)

[5, 15, 25, 35, 45]

In [ ]:
num = [23, 34, 'hello', 32, 56]
count = 0
for i in range(len(num)):
    count += 1
print("Total count of items are:",count)

Total count of items are: 5

In [ ]:
num = [23, 34, 'hello', 32, 56]
count = 0
for i in range(len(num)):
    count += 1
    # Approach 2
print("Total count of items are:",len(num))

Total count of items are: 5

In [ ]:
num = [2, 3, 4, 5, 6]

for i in range(len(num)):
    x = num[i]*num[i]
    print(x, end=' ')

4 9 16 25 36

In [ ]:
num = ["Hello", 34, 45, '', 40]
while("" in num):
    num.remove("")

print(num)

['Hello', 34, 45, 40]

In [ ]:
list1 = [23, 24, 25, 26]
list2 = [27, 28, 29, 30]

for i in range(len(list2)):
    list1.append(list2[i])

print(list1)

[23, 24, 25, 26, 27, 28, 29, 30]

#16/12/2023

In [ ]:
key = ['Fruit', 'Vegetable']
value = ['Mango','Tomato']
z={}
for i in range(len(key)):
  z[key[i]]=value[i]

print(z)

{'Fruit': 'Mango', 'Vegetable': 'Tomato'}

In [ ]:
key = ['Fruit', 'Vegetable']
value = ['Mango','Tomato']
res=dict(zip(key,value))
print(res)

{'Fruit': 'Mango', 'Vegetable': 'Tomato'}

In [ ]:
key = ['Fruit', 'Vegetable']
value = ['Mango','Tomato']
z={}
for i in key:
  for j in value:
    z[i]=value
print(z)

{'Fruit': ['Mango', 'Tomato'], 'Vegetable': ['Mango', 'Tomato']}

In [ ]:
x=10
y=20

if x<y:
  print('greater',y)
else:
  print('lower',x)

greater 20

##convert a list of dictionaries to a single dictionary

In [ ]:
l1=[{1:'a',2:'b'},{3:'c',4:'d'}]
d1={}
for i in l1:
  d1.update(i)
print(d1)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
l1=[{1:'a',2:'b'},{3:'c',4:'d'}]
d1={**l1[0], **l1[1]}
print(d1)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
lst = [
   {'name':'rohan','location':'l1'},
    {'name':'mohan','location':'l2'},
    {'name':'nitin','location':'l1'},
   {'name':'arjun','location':'l3'},
    {'name':'mohit','location':'l2'}
]
# output = {
#     'l1':[
#         {'name':'rohan','location':'l1'},
#         {'name':'nitin','location':'l1'}
#     ]

In [ ]:
# Output: [(1, 1), (2, 8), (3, 27)]
lst = [1, 2, 3]
res=[(x,x**3)for x in lst]
print(res)

[(1, 1), (2, 8), (3, 27)]

#18/12/2023

In [ ]:
dt={'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}
dt1=0
for i in dt:
  if dt[i]>dt1:
    dt1=dt[i]
print(dt1)

2

In [ ]:
dt = {'ajay': 300, 'bushan': 200, 'danish':400}
dt1=0
dt2=None
for k,v in dt.items():
  if v>dt1:
    dt1=v
    dt2=k
print(dt2,dt1)

danish 400

##Write a Python program to print all distinct values in a dictionary.

In [ ]:
dt=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
dt1=set()
for item in dt:
  for v in item.values():
    if v not in dt1:
      dt1.add(v)
print('unique values',dt1)

unique values {'S009', 'S002', 'S007', 'S001', 'S005'}

In [ ]:
data={'Math':89, 'Physics':88, 'Chemistry':87}
for i in data:
  for j in data:
    if data[i]<data[j]:
      data[i],data[j]=data[j],data[i]
print(data)

{'Math': 87, 'Physics': 88, 'Chemistry': 89}

In [ ]:
a="AACCdABbDDBs"
b={}
z=[]
# O/P:2A2C1d1A1B1b2D1B
for i in a:
  if i in b:
    b[i]+=1
  else:
    b[i]=1
print(b)
for k,v in b.items():
  if v==1:
    z.append(k)
print(''.join(z))

{'A': 3, 'C': 2, 'd': 1, 'B': 2, 'b': 1, 'D': 2, 's': 1}
dbs

In [ ]:
x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}

for key in x:
    if key in y and x[key] == y[key]:
        print(f"{key}: {x[key]} is present in both x and y")

key1: 1 is present in both x and y

#19/12/2023

In [ ]:
number=input('enter any thing here')
if number==number[::-1]:
  print(number,'number is palandrome')
else:
  print(number,'number is not palandrome')

enter any thing herenone
none number is not palandrome

#2nd

In [ ]:
x={'1':['a','b'],'2':['c','d']}
for i in x['1']:
  for j in x['2']:
    z=i+j
    print(z)

ac
ad
bc
bd

In [ ]:
x={'1':['a','b'],'2':['c','d']}
out=[i+j for i in x ['1'] for j in x['2']]
print(out)

['ac', 'ad', 'bc', 'bd']

##3.Reverse Words in a Given String in Python

In [ ]:
st= "geeks quiz practice code"
s=st.split()[::-1]
l=[]
for i in s:
  l.append(i)
print(' '.join(l))

code practice quiz geeks

In [ ]:
st= "geeks quiz practice code"
print(' '.join(reversed(st.split())))

code practice quiz geeks

##4th.How to Remove Letters From a String in Python

In [ ]:
st='coding practices on daily basis'
res=''
for i in range(len(st)):
  if i !=15:
    res=res+st[i]
print('string after removal of character:',res)

string after removal of character: coding practice on daily basis

In [ ]:
st='coding practices on daily basis'
new=st[:2]+st[5:]
print(new)

cog practices on daily basis

##5th.put spaces between words starting with capital letters

In [ ]:
st1= "BruceWayneIsBatman"
st2=st1[0]
for i in range(1,len(st1)):
  if st1[i].isupper():
    st2+='  '+st1[i].lower()
  else:
    st2+=st1[i]
print(st2)

Bruce  wayne  is  batman

In [ ]:
st= "BruceWayneIsBatman"
st1=st[0]
for i in st[1:]:
  if i.isupper():
    st1+=' '+ i.lower()
  else:
    st1+=i
print(st1)

Bruce wayne is batman

#20/12/2023

In [ ]:
x=["g","s","best"]
y={"g":[5,6,7],"s":[7,4,2]}
new=[]
for i in x:
  if i in y:
    new.append(y[i][2])
new.append(x[2])
print(new)

[7, 2, 'best']

In [ ]:
x=[1,2,3,4]
y=[1,2,3,4,5]
z=[]
for i in y:
  if i in x:
    x.remove(i)
print(y)

[1, 2, 3, 4, 5]

In [ ]:
x={1: 'Geeks', 2: 'For', 3: 'Geeks'}
del x[3]
print(x)

# 2nd approch

x = {'Math': 81, 'Physics': 83, 'Chemistry': 87}
ob=x.pop('Chemistry')
print(x)

{1: 'Geeks', 2: 'For'}
{'Math': 81, 'Physics': 83}

In [ ]:
dict1 = {'c': 45, 'b': 95, 'a': 35}
z={}
x=list(dict1.values())
# print(x)
for i in range(len(x)):
  for j in range(len(x)):
    if x[i]<x[j]:
      x[i],x[j]=x[j],x[i]
# print(x)
for i in x:
  for key,value in dict1.items():
    if value==i:
      z[key]=value
print(z)

{'a': 35, 'c': 45, 'b': 95}

In [ ]:
dict1 = {'c': 45, 'b': 95, 'a': 35}
z={}
x=list(dict1.keys())
# print(x)
for i in range(len(x)):
  for j in range(len(x)):
    if x[i]<x[j]:
      x[i],x[j]=x[j],x[i]
# print(x)
for i in x:
  z[i]=dict1[i]
print(z)

{'a': 35, 'b': 95, 'c': 45}

#21/12/2023 Thursday

In [ ]:
x=[2,1,2,1,5]
y={}
z=''
for i in x:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
# print(y)
for k,v in y.items():
  if v==1:
    z=k
    print(z)

5

##Write a Python program to change the position of every n-th value to the (n+1)th in a list.

In [ ]:
x=[2,1,3,4,5,6]
for i in range(0,len(x),2):
  x[i],x[i+1]=x[i+1],x[i]
print(x)

[1, 2, 4, 3, 6, 5]

In [ ]:
lst= [0,1,2,3,4,5]
for i in range(0,len(lst),2):
  lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[1, 0, 3, 2, 5, 4]

In [ ]:
x=[2,1,3,4,5,6,9]
for i in range(0,len(x),2):
  if i+1<len(x):
    x[i],x[i+1]=x[i+1],x[i]
print(x)

[1, 2, 4, 3, 6, 5, 9]

##Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [ ]:
num = [7, 8, 120, 25, 44, 20, 27]
num=[x for x in num  if x%2 !=0]
print(num)

[7, 25, 27]

## sort dictionary by keys

In [ ]:
dt={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
z={}
x=list(dt.keys())
# print(x)
for i in range(len(x)):
  for j in range(len(x)):
    if x[i]<x[j]:
      x[i],x[j]=x[j],x[i]
# print(x)
for i in x:
  z[i]=dt[i]
print(z)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

## sort dictinary based on values

In [ ]:
dt={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
for i in dt:
  for j in dt:
    if dt[i]<dt[j]:
      dt[i],dt[j]=dt[j],dt[i]
print(dt)

{'ravi': 2, 'rajnish': 9, 'sanjeev': 10, 'yash': 15, 'suraj': 32}

#22/12/2023 Friday

##find the student with the highest marks

In [ ]:
students = [{"name": "Alice", "marks": 85},{"name": "Bob", "marks": 70},{"name": "Charlie", "marks": 95},{"name": "David", "marks": 80},{"name": "Eva", "marks": 90}]
high = 0
st = None
for student in students:
    marks = student["marks"]
    if marks > high:
        high = marks
        st = student["name"]

print(f"The student with the highest marks is {st} with {high} marks.")

The student with the highest marks is Charlie with 95 marks.

##replace place

In [ ]:
l=[1,2,3,4]
for i in range(1,len(l),2):
  l[i],l[i-1]=l[i-1],l[i]
print(l)

[2, 1, 4, 3]

In [ ]:
l=[1,2,3,4]
for i in range(0,len(l),2):
  l[i],l[i+1]=l[i+1],l[i]
print(l)

[2, 1, 4, 3]

##Write a Python program to remove duplicates from a list of lists.

In [ ]:
l=[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
l1=[]
for i in l:
  if i not in l1:
    l1.append(i)
print(l1)

[[10, 20], [40], [30, 56, 25], [33]]

In [ ]:
l=[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
l2=[]
new=set()
for i in l:
  res=tuple(i)
  if res not in new:
    l2.append(i)
    new.add(res)
print(l2)

[[10, 20], [40], [30, 56, 25], [33]]

In [ ]:
l = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
l2=[]
new=[]
for i in l:
  if i not in new:
    l2.append(i)
    new.append(i)
print(l2)

[[10, 20], [40], [30, 56, 25], [33]]

In [ ]:
# lst=[0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]

In [ ]:
a=[[1, 3], [5, 7], [9, 11]]
b=[[2, 4], [6, 8], [10, 12, 14]]
print(list(zip(a,b)))

[([1, 3], [2, 4]), ([5, 7], [6, 8]), ([9, 11], [10, 12, 14])]

#23/12/2023

##Insertion Sort list

In [ ]:
list1 = [6, 5, 4, 3, 2, 1]
for j in range (1, len(list1)):
    while list1[j-1] > list1[j] and j > 0:
        list1[j-1], list1[j] = list1[j], list1[j-1]
        j -= 1
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
lst=[7,5,3,4,1]
new=[]
while lst:
  min=lst[0]
  for x in lst:
    if x<min:
      min=x
  new.append(min)
  lst.remove(min)
print(new)

[1, 3, 4, 5, 7]

In [ ]:
list1 = ['p', 'q']

list2 = []

for i in range(1,4):
    for j in list1:
        str1 = j + str(i)
        list2.append(str1)
print(list2)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3']

In [ ]:
a = input("Enter String:\n")
b = a[::-1]
if a==b:
    print("Palindrome string")
else:
    print("Not palindrome string")

Enter String:
madam
Palindrome string

## Write a Python program to print all unique values in a dictionary.

In [ ]:
dict_1 = [{'V':'S001'}, {'V':'S002'},{'VI':'S001'}, {'VI':'S005'}, {'VII':'S005'}, {'V':'S009'}, {'VII':'S007'}]
un=set(x for i in dict_1 for x in i.values())
print('unique values',un)

unique values {'S007', 'S002', 'S009', 'S005', 'S001'}

In [ ]:
dict_1 = [{'V':'S001'}, {'V':'S002'},{'VI':'S001'}, {'VI':'S005'}, {'VII':'S005'}, {'V':'S009'}, {'VII':'S007'}]
b=set()
for i in dict_1:
  for j in i.values():
    b.add(j)
print(b)

{'S007', 'S002', 'S009', 'S005', 'S001'}

In [ ]:
my_dict= {'1':['a', 'b'], '2':['c', 'd']}
my_list= list(my_dict.values())
for i in my_list[0]:
    for j in my_list[1]:
        print(i+j)

ac
ad
bc
bd

In [ ]:
dt={'a':1,'b':2,'c':3}
x=0
for i in dt:
  if dt[i]>x:
    x=dt[i]
print(x)

3

#25/12/2023

In [ ]:
x={'a':12,'b':33,'c':11}
y=0
for i in x:
  if x[i]>y:
    y=x[i]
print(y)

33

##convert two list into dictionary

In [ ]:
x=['kjf','gfs','ftr']
y=[1,2,3]
n=dict(zip(x,y))
print(n)

{'kjf': 1, 'gfs': 2, 'ftr': 3}

In [ ]:
x=['kjf','gfs','ftr']
y=[1,2,3]
res=dict(map(lambda a,b: (a,b), x,y))
print(res)

{'kjf': 1, 'gfs': 2, 'ftr': 3}

In [ ]:
k= ["Rash", "Kil", "Varsha"]
v= [1, 4, 5]
res={}
for key in k:
  for value in v:
    res[key]=value
    v.remove(value)
    break
print(res)

{'Rash': 1, 'Kil': 4, 'Varsha': 5}

In [ ]:
l=['ab','car','bike','moter']
for i in range(len(l)):
  for j in range(len(l)):
    if len(l[i])<len(l[j]):
      l[i],l[j]=l[j],l[i]
print(l)

['ab', 'car', 'bike', 'moter']

In [ ]:
lst=['abc', 'xyz', 'aba','cac', '1221']
lst1=0
for i in lst:
  if i[0]==i[-1]:
    lst1+=1
print(lst1)

3

#26/12/2023

In [ ]:
a=[(1,2),(3,0),(5,6),(0,4)]
for i in range(len(a)):
  for j in range(len(a)):
    if a[i][1]<a[j][1]:
      a[i],a[j]=a[j],a[i]
print(a)

[(3, 0), (1, 2), (0, 4), (5, 6)]

In [ ]:
a='1a2bb3c4d'
# ot=aabbbccccdddd
b=''
i=0
while i< len(a):
  if a[i].isdigit():
    b+=int(a[i]) * a[i+1]
    i+=2
  else:
    i+=1
print(b)

abbcccdddd

In [ ]:
a='1a2bb3c4d'
new=[]
for i in range(len(a)):
  # print(a[i])
  if a[i].isnumeric():
    ct=int(a[i])
    for j in range(ct):
      new.append(a[i+1])
  else:
    continue
print(new)
for i in new:
  st=''.join(new)
print(st)

['a', 'b', 'b', 'c', 'c', 'c', 'd', 'd', 'd', 'd']
abbcccdddd

In [ ]:
a=[2,1,3,2,1]
b={}
x=''
for i in a:
  if i in b:
    b[i]+=1
  else:
    b[i]=1
print(b)
for k,v in b.items():
  if v==1:
    x=k
print(x)

{2: 2, 1: 2, 3: 1}
3

In [ ]:
a=[1,2,1,3,4,3,5,2]
b=[]
for i in range(len(a)):
  if a.count(i)>1 and i not in b:
    b.append(i)
print(b)

[1, 2, 3]

#27/12/2023

In [ ]:
st=['Python', 'Exercises', 'Practice', 'Solution', 'Exercises']
st1=[]
for i in st:
  if i  not in st1:
    st1.append(i)
print(st1)

['Python', 'Exercises', 'Practice', 'Solution']

In [ ]:
st=['Python', 'Exercises', 'Practice', 'Solution', 'Exercises']
st1=list(set(st))
print(st1)

['Exercises', 'Solution', 'Practice', 'Python']

In [ ]:
a="raabbbcccc"
b={}
for i in a:
  if i in b:
    b[i]+=1
  else:
    b[i]=1
print(b)

{'r': 1, 'a': 2, 'b': 3, 'c': 4}

In [ ]:
s='Rashida'
dic={}
for i in s:
  str1=s.count(i)
  dic[i]=str1
print(dic)

{'R': 1, 'a': 2, 's': 1, 'h': 1, 'i': 1, 'd': 1}

In [ ]:
my_str = "python programming"
vowels = ['a','e','i','o','u']
count = [i for i in my_str if i in vowels]
print(len(count))

4

In [ ]:
cars = [{'car': 'Ford', 'year': 2005}, {'car': 'Mitsubishi', 'year': 2000},{'car': 'BMW', 'year': 2019},
        {'car': 'VW', 'year': 2011}]
for i in range(len(cars)):
    for j in range(len(cars)):
        if cars[i]['year'] < cars[j]['year']:
            cars[i], cars[j] = cars[j], cars[i]
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [ ]:
a = ["asd","def","ase","dfg","asd","def","dfg"]
for i in range(len(a)):
  for j in range(len(a))

#05/02/2024 MONDAY

##1st:  remove dublicate in list

In [ ]:
st=['Python', 'Exercises', 'Practice', 'Solution', 'Exercises']
st1=[]
for i in st:
  if i not in st1:
    st1.append(i)
print(st1)

['Python', 'Exercises', 'Practice', 'Solution']

In [ ]:
st=['Python', 'Exercises', 'Practice', 'Solution', 'Exercises']
st2=[]
[st2.append(i) for i in st if i not in st2]
print(st2)

['Python', 'Exercises', 'Practice', 'Solution']

In [ ]:
st=['Python', 'Exercises', 'Practice', 'Solution', 'Exercises']
for i ,j in enumerate(st):
  if j not in st[:i]:
   print(j)

Python
Exercises
Practice
Solution

## 2.swap two element

In [ ]:
lst=[2,3,4,5,6]
for i in range(0,len(lst),2):
  if i+1<len(lst):
    lst[i],lst[i+1]=lst[i+1],lst[i]

print(lst)

[3, 2, 5, 4, 6]

In [ ]:
lst=[2,3,4,5,6,8]
for i in range(0,len(lst),2):
  lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[3, 2, 5, 4, 8, 6]

## 3rd. largest number in list

In [ ]:
lst=[2,32,4,54,53,22,11,67,5,87]
lst1=0
for i in lst:
  if i>lst1:
    lst1=i
print("largest number is",lst1)

largest number is 87

In [ ]:
lst=[2,32,4,54,53,22,11,67,5,87]
for i in range(len(lst)):
  for j in range(len(lst)):
    if lst[i]>lst[j]:
      lst[i],lst[j]=lst[j],lst[i]
print(lst)
print("largest number is ",lst[-1])

[87, 67, 54, 53, 32, 22, 11, 5, 4, 2]
largest number is  2

In [ ]:

lst=[2,32,4,54,53,22,11,67,5,87]
for i in range(len(lst)):
  for j in range(len(lst)):
    if lst[i]>lst[j]:
      lst[i],lst[j]=lst[j],lst[i]
print(lst)
print("largest number is ",lst[0:2])

[87, 67, 54, 53, 32, 22, 11, 5, 4, 2]
largest number is  [87, 67]

##4th. dublicate number in list

In [ ]:
l=[2,2,21,23,22,12,12]
d=[]
ud=[]
for i in l:
  if i not in d:
    d.append(i)
  elif i not in ud:
    ud.append(i)
print(ud)

[2, 12]

In [ ]:
l=[2,2,21,23,22,12,12]
l1=[]
for i in l:
  if l.count(i)>1 and i not in l1:
    l1.append(i)
print(l1)

[2, 12]

##5th. remove dublicate in list

In [ ]:
l=[2,2,21,23,22,12,12]
l2=[]
for i in l:
  if i not in l2:
    l2.append(i)
print(l2)

[2, 21, 23, 22, 12]

In [ ]:
l=[2,2,21,23,22,12,12]
for i in l:
  if l.count(i)>1:
    l.remove(i)
print(l)

[2, 21, 23, 22, 12]

In [ ]:
x=['flask','car','at','thanks']
for i in range(len(x)):
  for j in range(len(x)):
    if len(x[i])<len(x[j]):
      x[i],x[j]=x[j],x[i]
print(x)

['at', 'car', 'flask', 'thanks']

## 6.largest number in dictionary

In [ ]:
d={'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
dt=0
d1=""
for i in d:
  if d[i]>dt:
    dt=d[i]
    d1=i
print(dt,d1)

32 suraj

#7th count each character in string

In [ ]:
l="mumbaicodingclub"
y={}
for i in l:
  if i in y:
    y[i]+=1
  else:
    y[i]=1
print(y)

{'m': 2, 'u': 2, 'b': 2, 'a': 1, 'i': 2, 'c': 2, 'o': 1, 'd': 1, 'n': 1, 'g': 1, 'l': 1}

#06/02/2024

In [ ]:
x=[1,2,3,4]
y=[5,6,7,8]

res=[i+j for i,j in zip(x,y)]
print(res)

[6, 8, 10, 12]

In [ ]:
x=[1,2,3,4]
y=[5,6,7,8]
z=[]
for i in range(3):
  z.append(x[i]+y[i])
print(z)

[6, 8, 10]

In [ ]:
# lst=[12,11,2,32]
# ls=0
# for i in lst:
#   if i<ls:
# print(ls)

In [ ]:
lst=[12,11,2,32]
lst.sort()
print(lst)
print("smallest number in list",lst[0])

[2, 11, 12, 32]
smallest number in list 2

In [ ]:
lst=[12,11,2,32]
print(min(lst))

2

In [ ]:
l1=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for i in range(len(l1)):
  for j in range(len(l1)):
    if l1[i][1]<l1[j][1]:
      l1[i],l1[j]=l1[j],l1[i]
print(l1)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
st=[2,1,4,5,5,1,2]
st1=[]
for i in st:
  if i not in st1:
    st1.append(i)
print(st1)

[2, 1, 4, 5]

In [ ]:
st=[2,1,4,5,5,1,2]
res=list(set(st))
print(res)

[1, 2, 4, 5]

In [ ]:
lst=[2,1,2,3,1,5]
x={}
y=''
for i in lst:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print(x)
for k,v in x.items():
  if v==1:
    y=k
print(y)

{2: 2, 1: 2, 3: 1, 5: 1}
5

In [ ]:
x = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
z={}
y=list(x.keys())
for i in range(len(y)):
  for j in range(len(y)):
    if y[i]<y[j]:
      y[i],y[j]=y[j],y[i]
print(y)
for i in y:
  z[i]=x[i]
print(z)

['rajnish', 'ravi', 'sanjeev', 'suraj', 'yash']
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

#07/02/2024

In [ ]:
x = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
y={}
z=list(x.keys())
for i in range(len(z)):
  for j in range(len(z)):
    if z[i]>z[j]:
      z[i],z[j]=z[j],z[i]
# print(z)
for i in z:
  y[i]=x[i]
print(y)

{'yash': 2, 'suraj': 32, 'sanjeev': 15, 'ravi': 10, 'rajnish': 9}

#reversed method integer

In [ ]:
a=12345
print(str(a)[::-1])

54321

In [ ]:
a=12345
b=0
while (a>0):
  b=a%10+b*10
  a=a//10
print(b)

54321

In [ ]:
a=[(1,6),(3,4),(0,5)]
for i in range(len(a)):
  for j in range(len(a)):
    if a[i][1]<a[j][1]:
      a[i],a[j]=a[j],a[i]
print(a)

[(3, 4), (0, 5), (1, 6)]

## unique number in list

In [ ]:
s=[1,2,1]
t={}
h=''
for i in s:
  if i in t:
    t[i]+=1
  else:
    t[i]=1
print(t)
for k,v in t.items():
  if v==1:
    h=k
print(h)

{1: 2, 2: 1}
2

In [ ]:
key = ['Fruit', 'Vegetable']
value = ['Mango','Tomato']
z={}
for i in range(len(key)):
  z[key[i]]=value[i]

print(z)

{'Fruit': 'Mango', 'Vegetable': 'Tomato'}

#09/02/2024

In [ ]:
a=23456
b=0
while (a>0):
  b=a%10 + b*10
  a=a//10
print(b)

65432

##remove dublicate number in list

In [ ]:
lst=[2,1,2,3,1]
lst1=[]
for i in lst:
  if i not in lst1:
    lst1.append(i)
print(lst1)

[2, 1, 3]

In [ ]:
lst=[2,1,2,3,1]
res=set(lst)
print(list(res))

[1, 2, 3]

##unique number in list

In [ ]:
ls=[1,2,1,4,2]
ls1={}
t=''
for i in ls:
  if i in ls1:
    ls1[i]+=1
  else:
    ls1[i]=1
print(ls1)
for k,v in ls1.items():
  if v==1:
    t=k
print(t)

{1: 2, 2: 2, 4: 1}
4

##concatent two list

In [ ]:
# concatent two list

a=[2,3,4]
b=[5,6,7]
z=[i+j for i,j in zip(a,b)]
print(z)

[7, 9, 11]

In [ ]:
a={'abc':1,'pqr':2,'xyz':3,'lmn':4,'str':5}
b=['abc','xyz','str']
c={}
for i in b:
  # print(b)
  if i in a:
    # print(c)
    c[i]=a[i]
print(c)

{'abc': 1, 'xyz': 3, 'str': 5}

## convert list to list in dictionary

In [ ]:
val=["Gfg",3,'is',8]
key=['name','id']

res=[]
n=len(key)
for i in range(0,len(val),n):
  dic=dict(zip(key,val[i:i+n]))
  res.append(dic)
print(res)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

In [ ]:
val=["Gfg",3,'is',8]
key=['name','id']
res=[]
n=len(key)
for i in range(0,len(val),n):
  d={key[j]:val[i+j]for j in range(n)}
  res.append(d)
print(res)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

In [ ]:
st='hidayatkhan'
s={}
for i in st:
  if i in s:
    s[i]+=1
  else:
    s[i]=1
print(s)

{'h': 2, 'i': 1, 'd': 1, 'a': 3, 'y': 1, 't': 1, 'k': 1, 'n': 1}

##sort element lenght

In [ ]:
bk=['shweta','hidayatkhan','rashida','zobia']
for i in range(len(bk)):
  for j in range(len(bk)):
    if len(bk[i])<len(bk[j]):
      bk[i],bk[j]=bk[j],bk[i]
print(bk)

['zobia', 'shweta', 'rashida', 'hidayatkhan']

#12/02/2024

In [ ]:
a=[2,1,5,4,8]
c=0
for i in range(len(a)-1):
  if a[i]<a[i+1]:
    c+=1
print(c)

2

In [ ]:
a="12rasida34"
b=''
c=[]

for i in a:
  if i.isdigit():
    c.append(i)
print(c)

['1', '2', '3', '4']

In [ ]:
a="12rasida34"
b=''
c=[]
for i in a:
  if i.isalpha():
    c.append(i)
print(c)

['r', 'a', 's', 'i', 'd', 'a']

In [ ]:
a="12rasida34"
b=''
c=''
for i in a:
  if i.isdigit():
    c+=i
# print(c)
  else:
    b+=i
print(b+c)

rasida1234

In [ ]:
a="my12name36is99Rashida55"
b=''
c=''
for i in a:
  if i.isdigit():
    c+=i
# print(c)
  else:
    b+=i
print(b+c)

mynameisRashida12369955

##sort string

In [ ]:
a="xyxabcpqr"
res=''.join(sorted(a))

print('sort string: ',str(res))

sort string:  abcpqrxxy

In [ ]:
a="zyxabcpqr"

new=list(a)

for i in range(len(new)):
  for j in range(len(new)):
    if new[i]<new[j]:
      new[i],new[j]=new[j],new[i]
print(new)

for i in new:
  print(i,end="")

['a', 'b', 'c', 'p', 'q', 'r', 'x', 'y', 'z']
abcpqrxyz

In [ ]:
a="zyxabcpqr"
new=[]
for i in a:
  new.append(i)
# print(new)

for i in range(len(new)):
  for j in range(len(new)):
    if new[i]<new[j]:
      new[i],new[j]=new[j],new[i]
print(new)

for i in new:
  print(i,end="")

['a', 'b', 'c', 'p', 'q', 'r', 'x', 'y', 'z']
abcpqrxyz

In [ ]:
m="my12name36is99Rashida55"
#m=mynameisRashida12369955

numbers=''
characters=''
for i in m:
  if ord(i)<65:
    numbers+=i
  else:
    characters+=i
print(characters+numbers)

mynameisRashida12369955

#13/02/2024

In [ ]:
x=["Gfg", 3, "is", 8, "Best", 10, "for", 18, "Geeks", 33]
y=["name", "number"]
d=[]
for i in range(0,len(x),len(y)):
  d.append({y[0]:x[i],y[1]:x[i+1]})
print(d)

[{'name': 'Gfg', 'number': 3}, {'name': 'is', 'number': 8}, {'name': 'Best', 'number': 10}, {'name': 'for', 'number': 18}, {'name': 'Geeks', 'number': 33}]

In [ ]:
x=["Gfg", 3,"is", 8, "Best", 10, "for", 18, "Geeks", 33]
y=["name", "number"]
d=[]
for i in x:
  if type(i)==str:
    d.append({y[0]:i})
  else:
    d.append({y[1]:i})

print(d)

[{'name': 'Gfg'}, {'number': 3}, {'name': 'is'}, {'number': 8}, {'name': 'Best'}, {'number': 10}, {'name': 'for'}, {'number': 18}, {'name': 'Geeks'}, {'number': 33}]

In [ ]:
x={'month' : [1, 2, 3],'name' : ['Jan', 'Feb', 'March']}
# y=[]

for i in range(len(x['month'])):
  # print(i)
  d={x['month'][i]:x['name'][i]}
  print(d)
# output : {1: 'Jan', 2: 'Feb', 3: 'March'}

{1: 'Jan'}
{2: 'Feb'}
{3: 'March'}

In [ ]:
a=36
b=46
a,b=b,a
print('swap element',a,b)

swap element 46 36

In [ ]:
l=[3,10,2,1,20]
c=[]
for i in range(len(l)):
  g=[l[i]]
  larg=l[i]
  for j in range(i+1,len(l)):
    if larg<l[j]:
      larg=l[j]
      g.append(l[j])
  c.append(len(g))
print(c)
print(max(c))

[3, 2, 2, 2, 1]
3

In [ ]:
l=[50,3,10,7,40,80,90,6]
c=[]
for i in range(len(l)):
  g=[l[i]]
  larg=l[i]
  for j in range(i+1,len(l)):
    if larg<l[j]:
      larg=l[j]
      g.append(l[j])
  c.append(len(g))
print(c)
print(max(c))

[3, 5, 4, 4, 3, 2, 1, 1]
5

#14/02/2024

In [ ]:
a=[2,1,11,3,1,2,3]
b={}
for i in a:
  if i in b:
    b[i]+=1
  else:
    b[i]=1
print(b)
for k,v in b.items():
  if v==1:
    print(k)

{2: 2, 1: 2, 11: 1, 3: 2}
11

In [ ]:
l=['rashida ansari','zobia ansari','huda khan','shweta kadam']
l1=[]
st=' '
for i in l:
  for j in range(len(i)):
    if i[j]==st:
      l1+=[i[j+1:]]
      break
print(l1)

['ansari', 'ansari', 'khan', 'kadam']

In [ ]:
x={'Geeks_for_for': 1, 'Geeks_for_geeks': 4, 'for_geeks_Geeks': 3, 'geeks_Geeks_for': 7}

for i,j in x.items():
  z=i.split("_")
  # print(z)

  for k in range(len(z)):
    di={z[0]:{z[1]:{z[2]:j}}}
  print(di)

# final_dict= {'Geeks': {'for': {'for': 1, 'geeks': 4}}, 'for': {'geeks': {'Geeks': 3}}, 'geeks': {'Geeks': {'for': 7}}}

{'Geeks': {'for': {'for': 1}}}
{'Geeks': {'for': {'geeks': 4}}}
{'for': {'geeks': {'Geeks': 3}}}
{'geeks': {'Geeks': {'for': 7}}}

In [ ]:
st=''

In [ ]:
num = int(input("Enter the number of people: "))
total=num*(num-1)//2
print("total handshack",total)

Enter the number of people: 10
total handshack 45

In [ ]:
l=3
l=l*(l-1)//2
print(l)

3

##Recursion

In [ ]:

def fibo(n):
   if n <= 1:
       return n
   else:
       return(fibo(n-1) + fibo(n-2))
nterms = 10
for i in range(nterms):
  # print(i)
   print(fibo(i),end=' ')

0 1 1 2 3 5 8 13 21 34

#15/02/2024

In [ ]:
input='This is the sample of is of that word'
st=input.split()
z={}
s=len(st)
for i in st:
  if i in z:
    z[i]+=1
  else:
    z[i]=1
# print(z)
for k,j in z.items():
  z[k]=j,len(k)
print(z)

{'This': (1, 4), 'is': (2, 2), 'the': (1, 3), 'sample': (1, 6), 'of': (2, 2), 'that': (1, 4), 'word': (1, 4)}

In [ ]:
s="im mcc student"
an=''
for i in s.split():
  an=an+ " "+ i[::-1]
print(an)

 mi ccm tneduts

In [ ]:
s="im mcc student"
st=''
for i in s:
  st=i+st
print(st)

tneduts ccm mi

##Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

In [ ]:
lst=['abc', 'xyz', 'aba', '1221']
l={}
c=0
for i in lst:
  if i[0] == i[-1]:
    c=c+1
print(c)

2

##Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

In [ ]:
ls=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for i in range(len(ls)):
  for j  in range(len(ls)):
    if ls[i][1]<ls[j][1]:
      ls[i],ls[j]=ls[j],ls[i]
print(ls)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
a = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]
b=[]
for i in a:
  if i not in b:
    b.append(i)
print(b)

[10, 20, 30, 50, 60, 40, 80]

#17/02/2024

In [ ]:
a={"mumbai":"india","washington":"america","karachi":"pakistan","kolkatta":"india"}

res= {value: key for key, value in a.items()}

print(res)

{'india': 'kolkatta', 'america': 'washington', 'pakistan': 'karachi'}

In [ ]:
a={"mumbai":"india","washington":"america","karachi":"pakistan","kolkatta":"india"}
em={}
for k,v in a.items():
  em.update({v:k})
print(em)

{'india': 'kolkatta', 'america': 'washington', 'pakistan': 'karachi'}

In [ ]:
a={"mumbai":"india","washington":"america","karachi":"pakistan","kolkatta":"india"}

reversed_dict = {}
for key, value in a.items():
    reversed_dict[value] = key

print(reversed_dict)

{'india': 'kolkatta', 'america': 'washington', 'pakistan': 'karachi'}

In [ ]:
st=[11,10,121,100]
for i in range(len(st)):
  for j in range(len(st)):
    if st[i]<st[j]:
      st[i],st[j]=st[j],st[i]
print(st)
print("second highest in list",st[-2])

[10, 11, 100, 121]
second highest in list 100

In [ ]:
a=5
s=12
# out  93000

###Python program to find the average of 10 numbers using while loop

In [ ]:
count = 0
sum = 0.0
while(count<5):
    number = float(input("Enter a real number: "))
    count=count+1
    sum = sum+number
avg = sum/10
print("Average is :",avg)

Enter a real number: 2
Enter a real number: 3
Enter a real number: 1
Enter a real number: 11
Enter a real number: 12
Average is : 2.9

###Python program to display the given integer in a reverse manner

In [ ]:
number = int(input("Enter a positive integer: "))
rev = 0
while(number!=0):
    digit = number%10
    rev = (rev*10)+digit
    number = number//10
print(rev)

Enter a positive integer: 54321
12345

###Python program to find the sum of the digits of an integer using a while loop

In [ ]:
sum = 0
number = int(input("Enter an integer: "))
while(number!=0):
    digit = number%10
    sum = sum+digit
    number = number//10
print("Sum of digits is: ", sum)

Enter an integer: 61562
Sum of digits is:  20

###Python program to check whether the given integer is a prime number or not

In [ ]:
num = int(input("Enter an integer greater than 1: "))
isprime = 1
for i in range(2,num//2):
    if (num%i==0):
        isprime = 0
        break
if(isprime==1):
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter an integer greater than 1: 15
15 is not a prime number

#19/02/2024

In [ ]:
a=[2,1,3,4,2,3]
b={}
for i in a:
  if i in b:
    b[i]+=1
  else:
    b[i]=1
# print(b)
for k,v in b.items():
  if v>1:
    # print(k)
    if k%2==0:
      print('even',k)
    else:
      print('odd',k)

even 2
odd 3

In [ ]:
s='abcdefghijklmnopqrstuvwxyz'

'''output abcd
efgh
ijkl
mnop
qrst
uvwx
yz'''
for i in range(0,len(s),4):
  # print(s[i])
  print(s[i:i+4])

abcd
efgh
ijkl
mnop
qrst
uvwx
yz

In [ ]:
dt=[['a', 'b', 1, 2], ['c', 'd', 3, 4], ['e', 'f','j', 5, 6]]
d={}
# The mapped Dictionary : {('a', 'b'): (1, 2), ('c', 'd'): (3, 4), ('e', 'f'): (5, 6)}
for i in dt:
  k=tuple(i[:2])
  v=tuple(i[2:])
  d[k]=v
print(d)

{('a', 'b'): (1, 2), ('c', 'd'): (3, 4), ('e', 'f'): ('j', 5, 6)}

##convert list into a dictionary

In [ ]:

l1=[1,2,3,4]
l2=['a','b','c','d']
d1=zip(l1,l2)
print (dict(d1))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
l1=[{1:'a',2:'b'},{3:'c',4:'d'}]
d1={}
for i in l1:
    d1.update(i)
print (d1)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

##convert list of tuple into dictionary

In [ ]:
color=[('red',1),('blue',2),('green',3)]
d=dict(color)
print (d)

{'red': 1, 'blue': 2, 'green': 3}

In [ ]:
color=[('red',1),('blue',2),('green',3)]
d={}
for i in color:
  # print(i[0])
  d[i[0]]=i[1]
print(d)

{'red': 1, 'blue': 2, 'green': 3}

#21/02/2024

##list comprehension

In [ ]:
sq=[x**2 for x in range(10)]
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
x=['red', 'white', 'black', 'redi', 'green', 'bl']
for i in range(len(x)):
  # print(x[i])
  for j in range(len(x)):
    if len(x[i])<len(x[j]):
      x[i],x[j]=x[j],x[i]
print(x)

['bl', 'red', 'redi', 'white', 'green', 'black']

###Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.

In [ ]:
a='abc', 'xyz'
# print(a[1][:2])
# print(a[0][2:])
# print(a[1][2:])
# print(a[0][:2])
res=a[1][:2]+a[0][2:] +' ' + a[0][:2] +a[1][2:]
print(res)

xyc abz

In [ ]:
st='Exercises'
print(len(st))

9

In [ ]:
st='Exercises'
ct=0
for i in st:
  ct+=1
print(ct)

9

In [ ]:
l = [10, 1, 2, 7, 6, 1, 5]
tag = 8
output = []

for i in range(len(l)):
    for j in range(i + 1, len(l)):
        if l[i] + l[j] == tag:
            output.append([l[i], l[j]])

print(output)

[[1, 7], [2, 6], [7, 1]]

In [ ]:
dt={"Rahul":38,"Vijay":17,"Pranav":93,"Biswajit":98}
d=0
d1=None
for k,v in dt.items():
  if v>d:
    d=v
    d1=k
print("highest marks ",d1,d)

highest marks  Biswajit 98

In [ ]:
dt={"Rahul":38,"Vijay":17,"Pranav":93,"Biswajit":98}
for name,marks in dt.items():
  if marks>35:
    print("pass student name is ",name)

pass student name is  Rahul
pass student name is  Pranav
pass student name is  Biswajit

In [ ]:
dt={"Rahul":38,"Vijay":17,"Pranav":93,"Biswajit":98}
for i in dt:
  if dt[i]>35:
    print("pass student",i)

pass student Rahul
pass student Pranav
pass student Biswajit

#23/02/2024

###sort matching values

In [ ]:
at=["eat","tea","ate","nat","tan","bat"]
a={}
for i in at:
  res=''.join(sorted(i))
  # print(res)
  if res not in a:
    a[res]=[i]
  else:
    a[res].append(i)
# print(a)
l=[]
for v in a.values():
  l.append(v)
print(l)

[['eat', 'tea', 'ate'], ['nat', 'tan'], ['bat']]

In [ ]:
at=["eat","tea","ate","nat","tan","bat"]
for i in at:
  res=''.join(sorted(i))
  print(res)

aet
aet
aet
ant
ant
abt

In [ ]:
st=["madam","mumbai","mom","ada"]

g=st[0]
for i in st:
  # print(i)
  if i==i[::-1]:
    if len(g)>len(i):
      g=i
print(g)

mom

In [ ]:
st=["madam","mumbai","mom","ada"]

g=st[0]
for i in st:
  # print(i)
  if i==i[::-1]:
    if len(g)>=len(i):
      g=i
print(g)

ada

In [ ]:
s = "madam"
if s==s[::-1]:
  print(s,"palandrome")
else:
  print('not palandrome')

madam palandrome

###reversed string

In [ ]:
st =" geeks quiz practice code"
s=st.split()
print(s)
res=s[::-1]
print(' '.join(res))

['geeks', 'quiz', 'practice', 'code']
code practice quiz geeks

In [ ]:
l=['sum all the items in a list','find the second smalles number in a list ']
l1=[]
for i in l:
  # print(i)
  r=i.split()
  # print(r)
  for j in range(len(r)-1):
    l1.append((r[j],r[j+1]))
print(l1)

[('sum', 'all'), ('all', 'the'), ('the', 'items'), ('items', 'in'), ('in', 'a'), ('a', 'list'), ('find', 'the'), ('the', 'second'), ('second', 'smalles'), ('smalles', 'number'), ('number', 'in'), ('in', 'a'), ('a', 'list')]

In [ ]:
a=[[10, 20], [30, 40], [50, 60], [30, 20, 80]]
b=[[61], [12, 14, 15], [12, 13, 19, 20], [12]]
res=[i+j for i,j in zip(a,b)]
print(res)

[[10, 20, 61], [30, 40, 12, 14, 15], [50, 60, 12, 13, 19, 20], [30, 20, 80, 12]]

In [ ]:
a=[[10, 20], [30, 40], [50, 60], [30, 20, 80]]
b=[[61], [12, 14, 15], [12, 13, 19, 20], [12]]
c=[]
for i in range(len(a)):
  tem=[*a[i],*b[i]]
  c.append(tem)
print(c)

[[10, 20, 61], [30, 40, 12, 14, 15], [50, 60, 12, 13, 19, 20], [30, 20, 80, 12]]

#24/02/2024

In [ ]:
input=5
d={}
for i in range(1,6):
  res=64+i
  d[i]=chr(res)
print(d)

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}

In [ ]:
input=5
d={}
for i in range(1,27):
  res=64+i
  d[i]=chr(res)
print(d)

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E', 6: 'F', 7: 'G', 8: 'H', 9: 'I', 10: 'J', 11: 'K', 12: 'L', 13: 'M', 14: 'N', 15: 'O', 16: 'P', 17: 'Q', 18: 'R', 19: 'S', 20: 'T', 21: 'U', 22: 'V', 23: 'W', 24: 'X', 25: 'Y', 26: 'Z'}

In [ ]:
a=["abcd","dcba","lls","s","sssll"]
l=[]
ot=[[0,1],[1,0],[3,2],[2,4]]

for i in range(len(a)):
  # print(i)
  for j in range(len(a)):
    # print(j)
    if i==j:

      continue
    else:
      res=a[i]+a[j]
      if res==res[::-1]:
        l.append([i,j])
print(l)

[[0, 1], [1, 0], [2, 4], [3, 2]]

In [ ]:
st=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
for i in range(len(st)):
  for j in range(len(st)):
    if len(st[i])<len(st[j]):
      st[i],st[j]=st[j],st[i]
print(st)

['Red', 'Pink', 'Black', 'White', 'Green', 'Yellow']

In [ ]:
l=[0,1,2,3,4,5]
for i in range(0,len(l),2):
  l[i],l[i+1]=l[i+1],l[i]
print(l)

[1, 0, 3, 2, 5, 4]

In [ ]:
l=[10, 1, 2, 7, 6, 1, 5]
t=8
o=[]
for i in range(len(l)):
  for j in range(i+1,len(l)):
    if l[i]+l[j]==t:
      o.append([l[i],l[j]])
print(o)

[[1, 7], [2, 6], [7, 1]]

#25/02/2024

In [ ]:
l=["h","e","l","l","o"]
# o=["o","l","l","e","h"]
for i in l:
  # print(i)
  res=l[::-1]
print(res)

['o', 'l', 'l', 'e', 'h']

In [ ]:
st=["H","a","n","n","a","h"]
# o=["h","a","n","n","a","H"]

In [ ]:
a=["abcd","dcba","lls","s","sssll"]
b=[]
for i in range(len(a)):
  for j in range(len(a)):
    if i==j:
      continue
    else:
      res=a[i]+a[j]
      if res==res[::-1]:
        b.append(res)

print(b)

['abcddcba', 'dcbaabcd', 'llssssll', 'slls']

In [ ]:

d= {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}

#26/02/2024

In [ ]:
a=[(36,'zebra'),('name','mumbai'),('sakinaka','apple')]
for i in range(len(a)):
  for j in range(i+1,len(a)):
    if a[i][1]>a[j][1]:
      a[i],a[j]=a[j],a[i]
print(a)

[('sakinaka', 'apple'), ('name', 'mumbai'), (36, 'zebra')]

In [ ]:
l='python is a general purpose highlevel interpreted, object oriented programing language'
vowel=0
constant=0
for i in l:
  if i in 'aeiou':
    vowel+=1
  else:
    constant+=1
if constant >vowel:
    print("constant is greater")
print(f'constant {constant}\nvowels{vowel}')

constant is greater
constant 57
vowels29

In [ ]:
s=[12, 35, 9, 56, 24]
s[0],s[-1]=s[-1],s[0]
print(s)

[24, 35, 9, 56, 12]

In [ ]:
j=[[12, 35,22],[ 9, 56, 24]]
for i in j:
  i[0],i[-1]=i[-1],i[0]
print(j)

[[22, 35, 12], [24, 56, 9]]

In [ ]:
d= {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
dt=list(d.keys())
# print(dt)
z={}
for i in range(len(dt)):
  for j in range(len(dt)):
    if dt[i]<dt[j]:
      dt[i],dt[j]=dt[j],dt[i]
# print(dt)
for i in dt:
  z[i]=d[i]
print(z)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

#27/02/2024

In [ ]:
d= {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}

for i in d:
  for j in d:
    if d[i]<d[j]:
      d[i],d[j]=d[j],d[i]
print(d)

{'ravi': 2, 'rajnish': 9, 'sanjeev': 10, 'yash': 15, 'suraj': 32}

### Convert Dictionaries List to Order Key Nested dictionaries

In [ ]:
a= [{"Gfg" : 3, 4 : 9}, {"is": 8, "Good" : 2}, {"Best": 10, "CS" : 1}]
res={}
for k,v in enumerate(a):
  res[k]=v
print(res)

{0: {'Gfg': 3, 4: 9}, 1: {'is': 8, 'Good': 2}, 2: {'Best': 10, 'CS': 1}}

In [ ]:
l=[3,2,0,5,0,6,4]
l1=[]
l2=0
for i in l:
  if i==0:
    l2+=1
  else:
    l1.append(i)
for j in range(l2):
  l1.append(0)
print(l1)

[3, 2, 5, 6, 4, 0, 0]

In [ ]:
ls=[('name','mcc'),('add','sakinaka')]
# ls={'name': 'mcc', 'add': 'sakinaka'}

if type(ls)==list:
  d={}
  for i in ls:
    # print(i)
    d[i[0]]=i[1]
  print(d)
elif type(ls)==dict:
  d=[]
  for i in ls:
  # print(ls[i])
    d.append((i,ls[i]))
  print(d)

{'name': 'mcc', 'add': 'sakinaka'}

In [ ]:
ls=[('name','mcc'),('add','sakinaka')]
d={}
for i in ls:
  # print(i)
  d[i[0]]=i[1]
print(d)

{'name': 'mcc', 'add': 'sakinaka'}

In [ ]:
ls={'name': 'mcc', 'add': 'sakinaka'}
d=[]
for i in ls:
  # print(i)
  # print(ls[i])
  d.append((i,ls[i]))
print(d)

[('name', 'mcc'), ('add', 'sakinaka')]

#28/02/2024

In [ ]:
v=['Gfg', 3, 'is', 8]
k= ['name', 'id']
d={}
for i in range(len(k)):
  d[k[i]]=v[i]
print(d)

{'name': 'Gfg', 'id': 3}

In [ ]:
x=['Gfg', 3, 'is', 8]
y= ['name', 'id']
d=[]
for i in range(0,len(x),len(y)):
  d.append({y[0]:x[i],y[1]:x[i+1]})
print(d)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

In [ ]:
l=[1,2,3,4]
l1=['gsf','gfg','ls','dfg']
l2={}
for i in range(len(l)):
  # print(l1[i])
  # print(l[i])
  l2[l[i]]=l1[i]
print(l2)

{1: 'gsf', 2: 'gfg', 3: 'ls', 4: 'dfg'}

In [ ]:
l=[1,2,3,4]
l1=['gsf','gfg','ls','dfg']
l2={}
for i in range(len(l)):
  l2[l[i]]=l1[i]
print(l2)

{1: 'gsf', 2: 'gfg', 3: 'ls', 4: 'dfg'}

###array rotation

In [ ]:
ls=[1,2,3,4,5]
# ot=[3,4,5,1,2]
n=3
l1=[]
id=l.index(n)
for i in range(id,len(ls)):
  l1.append(ls[i])
for i in range(0,id):
  l1.append(ls[i])
print(l1)

[3, 4, 5, 1, 2]

In [ ]:
for i in range(5):
    for j in range(i,5):
        print(" ", end="")
    for j in range(i,):
        print("* ", end="")
    print()

    *
   * *
  * * *
 * * * *

In [ ]:
# n=6

In [ ]:
for i in range(5):
    for j in range(5, i, -1):
        print(" ", end="")
    for k in range(i + 1):
        print("* ", end="")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

#29/02/2024

###Remove empty List from List

In [ ]:
l= [5, 6, [], 3, [], [], 9]
l1=[i for i in l if i !=[]]
print(l1)

[5, 6, 3, 9]

In [ ]:
l= [5, 6, [], 3, [], [], 9]
l2=[]
for i in l:
  if i:
    l2.append(i)
print(l2)

[5, 6, 3, 9]

In [ ]:
l= [5, 6, [], 3, [], [], 9]
while [] in l:
  l.remove([])
print(l)

[5, 6, 3, 9]

###Uncommon elements in List

In [ ]:
ls= [ [1, 2], [3, 4], [5, 6] ]
ls1 = [ [3, 4], [5, 7], [1, 2] ]
res=[]

for i in ls:
  if i not in ls1:
    res.append(i)
for i in ls1:
  if i not in ls:
    res.append(i)
print(res)

[[5, 6], [5, 7]]

In [ ]:
no=11
def num(no):
  tm=False
  if no == 1:
    tm=True
  elif no>1:
    for i in range(2,no):
      if no%i==0:
        tm=True
  if tm:
      print('not a prime no')
  else:
    sn=str(no)
    if sn==sn[::-1]:
      print('palandrome')
    else:
      print('not palandrom')
    print('prime no')
num(no)

palandrome
prime no

In [ ]:
# l1=[2,12,11,43,22]
l1=[4,9,2,1,6,3]
def num(l):
  l1=sorted(l,reverse=True)
  pro=1
  for i in range(0,3):
    pro*=l1[i]
  print(pro)
num(l1)

216

#01/03/2024

###Reverse Row sort in Lists of List

In [ ]:
l=[[4, 1, 6], [7, 8], [4, 10, 8]]
for i in l:
  # print(i)
  for j in range(len(i)):
    # print(i[j])
    for k in range(j+1,len(i)):
      if i[j]<i[k]:
        i[j],i[k]=i[k],i[j]
    print(l)
print("list",l)

[[6, 1, 4], [7, 8], [4, 10, 8]]
[[6, 4, 1], [7, 8], [4, 10, 8]]
[[6, 4, 1], [7, 8], [4, 10, 8]]
[[6, 4, 1], [8, 7], [4, 10, 8]]
[[6, 4, 1], [8, 7], [4, 10, 8]]
[[6, 4, 1], [8, 7], [10, 4, 8]]
[[6, 4, 1], [8, 7], [10, 8, 4]]
[[6, 4, 1], [8, 7], [10, 8, 4]]
list [[6, 4, 1], [8, 7], [10, 8, 4]]

In [ ]:
ls=[64,34,25,12,22,11,90]
for i in range(len(ls)):
  for j in range(len(ls)):
    if ls[i]<ls[j]:
      ls[i],ls[j]=ls[j],ls[i]
print("final list",ls)

final list [11, 12, 22, 25, 34, 64, 90]

In [ ]:
st="abc"
b=[]
for i in range(len(st)):
  # print(i)
  for j in range(i,len(st)):
    # print(st[j])
    b.append(st[i:j+1])
print(b)
print('count of unique substring',len(b))

['a', 'ab', 'abc', 'b', 'bc', 'c']
count of unique substring 6

In [ ]:
a="abcxyzhjhabc"
res=''
n=len(a) -1 -(a[::-1]).index('a')
print(n)

9

In [ ]:
a="abcxyzhjhabc"
res=''
n=len(a) -1 -(a[::-1]).index('a')
# print(n)
for i in range(len(a)):
  if n<len(a):
    if a[i]==a[n]:
      res+=a[i]
# print(res)
    n+=1
  else:
    break
print(res)

abc

#02/03/2024

In [ ]:
ls= [1, 2, 2, 5, 8, 4, 4, 8]
d={}
y=
for i in ls:
  if d in ls:
    d[i]+=1
  else:
    d[i]=1
# print(d)
for k,v in d.items():
  if v==1:
    y+=1
print("unique number in list",y)

unique number in list 5

In [ ]:
a=[0,1,0,1,0,0,1,1,1,0,0]
b=[]
for i in a:
  if i==0:
    b.append(1)
  else:
    b.append(0)
print(b)

[1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1]

In [ ]:
a=[0,1,0,1,0,0,1,1,1,0,0]
b=[]
for i in a:
  if i==0:
    n=i+1
    b.append(n)
  else:
    n=i-1
    b.append(n)
print(b)

[1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1]

In [ ]:
l=[0,1,0,1,0,0,1,1,1,0,0]
for i in range(len(l)):
  l[i]=1-l[i]
print(l)

[1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1]

In [ ]:
lst=[0,1,0,1,0,0,1,1,1,0,0]

for i in range(len(lst)):
  lst[i]=int(not lst[i])
print(lst)

[1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1]

In [ ]:
a=[]
def even(num):
  for i in num:
    if i%2==0:
      a.append(i)
  return a
num=[2,3,4,5,67,7,8,12]
even(num)

[2, 4, 8, 12]

In [ ]:
b=[2,3,4,5,67,7,8,12]
b=[i for i in b if i%2==0]
print(b)

[2, 4, 8, 12]

#04/03/2024

In [ ]:
lst=[2,11,21,1,12]
for i in range(len(lst)):
  for j in range(len(lst)):
    if lst[i]<lst[j]:
      lst[i],lst[j]=lst[j],lst[i]
print(lst)
print("second largest number",lst[-2])

[1, 2, 11, 12, 21]
second largest number 12

In [ ]:
a=int(input("enter any list"))
d={}
for i in range(a):
  for j in range(a):
    d[i]=j
print(d)

enter any list6
{0: 5, 1: 5, 2: 5, 3: 5, 4: 5, 5: 5}

In [ ]:
n=int(input("enter no of inputs"))
l=[]
for i in range(n):
  l.append(input())
d={}
for i,j in enumerate(l):
  d[i]=j
print(d)

In [ ]:
test= [5, 6, [], 3, [], [], 9]
res = [i for i in test if i != []]
print("List after empty list removal : ",(res))

List after empty list removal :  [5, 6, 3, 9]

In [ ]:
lst=[2,11,21,1,12,21]
e=[]
for i in range(max(lst)+1):
  if i in lst:
    e.append(i)
print(e[-2])

12

#05/03/2024

###sort dictionary keys

In [ ]:
d={"india":"mumbai","country":"usa","tiger":"national animal"}
d1=list(d.keys())
res={}
# print(d1)
for i in range(len(d1)):
  for j in range(len(d1)):
    if d1[i]<d1[j]:
      d1[i],d1[j]=d1[j],d1[i]
# print(d1)
for i in d1:
  res[i]=d[i]
print(res)

{'country': 'usa', 'india': 'mumbai', 'tiger': 'national animal'}

###sort dictionay values

In [ ]:
d={"india":"mumbai","country":"usa","tiger":"national animal"}
for i in d:
  for j in d:
    if d[i]<d[j]:
      d[i],d[j]=d[j],d[i]
print(d)

{'india': 'mumbai', 'country': 'national animal', 'tiger': 'usa'}

In [ ]:
a=[0,0,1,1,1,0,1]
# a=[1,1,1]

c=0
for i in range(len(a)):
  if a[i]==0:
    c+=1
    for j in range(len(a)):
      # print(a[j])
      if a[j]==0:
        a[j]=1
      else:
        a[j]=0
print("total count:",c)

total count: 4

###unique number in list

In [ ]:
n= [1, 2, 2, 5, 8, 4, 4, 8]
m={}
y=0
for i in n:
  if i in m:
    m[i]+=1
  else:
    m[i]=1
print(m)
for k,v in m.items():
  if v==1:
    y+=1
print(m)

{1: 1, 2: 2, 5: 1, 8: 2, 4: 2}
2

###How to count unique values inside a list

In [ ]:
n= [1, 2, 2, 5, 8, 4, 4, 8]
m=[]
c=0
for i in n:
  if i not in m:
    c+=1
    m.append(i)
print("unique number in list is",c)

unique number in list is 5

###Extract elements with Frequency greater than K

In [ ]:
l= [4, 6, 4, 3, 3, 4, 3, 4, 6, 6]
k = 2
c=[]
for i in l:
  freq=l.count(i)
  if freq>k and i not in c:
    c.append(i)
print(c)

[4, 6, 3]

#07/03/2024

##repeated number in list

In [ ]:
l=[2,3,1,2,3,5]
count=0
l1=[]
for i in l:
  if l.count(i)>1 and i not in l1:
    l1.append(i)
print(l1)

[2, 3]

###remove dublicate from the list

In [ ]:
l=[2,3,1,2,3,5]
res=[]
for i in l:
  if i not in res:
    res.append(i)
print(res)

[2, 3, 1, 5]

In [ ]:
# l=[2,3,1,2,3,5]
# l1=[]
# res=[i for i in l if i not in l1  l1.append(i)]
# print(res)

### common element in two list

In [ ]:
a=[1,2,3,4,5]
b=[2,5,3,6,4]
l=[]
for i in a:
  if i in b:
    l.append(i)
print(l)

[2, 3, 4, 5]

In [ ]:
a=[1,2,3,4,5]
b=[2,5,3,6,4]

res=set(a).intersection (set(b))
print(res)

{2, 3, 4, 5}

###sum of all the element

In [ ]:
l=[2,3,4,5]
total=0
for i in l:
    total+=i
print(total)

14

#08/03/2024

In [ ]:
l= [4, 5,90, 6, 7]
i,j=2,8
for ele in l:
  if ele<j and ele>=i:
    print(ele)

4
5
6
7

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    choice = input("Enter choice(1/2/3/4): ")
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))

        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 2
Enter first number: 5
Enter second number: 3
5.0 - 3.0 = 2.0
Let's do next calculation? (yes/no): no

In [ ]:
n=int(input('enter a number '))
s=input('enter a symbol ')
n1=int(input('enter a number '))
if s=='+':
  print('your answer is ',n+n1)
elif s=='-':
  print('your answer is ',n-n1)
elif s=='*':
  print('your answer is ',n*n1)
else:
  print('invalid symbol')

enter a number 3
enter a symbol *
enter a number 2
your answer is  6

In [ ]:
n=int(input('enter a year'))
if n%4==0:
  print("this is leap year")
else:
  print("its not leap year")

enter a year2016
its leap year

###Python Program to print all Possible Combinations from the three Digits

In [ ]:
l=[1, 2, 3]
for i in range(3):
  for j in range(3):
    for k in range(3):
      if (i!=j and j!=k and i!=k):
        print(l[i],l[j],l[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

#09/03/2024

In [ ]:
import itertools

l= ["1","2","3"]
combinations=[]
for i in range(1,len(l)+1):
  c+=itertools.combinations(l,i)
print(c)

[('1',), ('2',), ('3',), ('1', '2'), ('1', '3'), ('2', '3'), ('1', '2', '3')]

In [ ]:
import itertools

l= [1,2,3,4]
combinations=[]
for i in range(1,len(l)+1):
  c+=itertools.combinations(l,i)
print(c)

[('1',), ('2',), ('3',), ('1', '2'), ('1', '3'), ('2', '3'), ('1', '2', '3'), (1,), (2,), (3,), (1, 2), (1, 3), (2, 3), (1, 2, 3), (1,), (2,), (3,), (4,), (1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4), (1, 2, 3), (1, 2, 4), (1, 3, 4), (2, 3, 4), (1, 2, 3, 4)]

In [ ]:
from itertools import combinations
ls= ["GFG", [5, 4], "is",["best", "good", "better", "average"]]
d=0
tem=combinations(ls,2)
for i in list(tem):
  d=d+1
  print(d,i)

1 ('GFG', [5, 4])
2 ('GFG', 'is')
3 ('GFG', ['best', 'good', 'better', 'average'])
4 ([5, 4], 'is')
5 ([5, 4], ['best', 'good', 'better', 'average'])
6 ('is', ['best', 'good', 'better', 'average'])

In [ ]:
l= [1, 3, 4, 6, 5, 1]

In [ ]:
a='bccb'
l=[]
s=''
for i in range(len(a)):
  # print(a[i])
  s+=a[i]
  for j in range(i+1,len(a)-1):
    # print(j)
    em=s+a[j]+a[-1]

    if em==em[::-1]:
      if em not in l:
        l.append(em)
print(l)
print(len(l))

['bcb', 'bccb']
2

In [ ]:
st="zero four zero one"
b=st.split(' ')
res=''
dt={"zero":'0', "one":'1', "two":'2', "three":'4',"four":'4',}
for i in b:
  res+=''.join(dt[i])
print(res)

0401

In [ ]:
a="skyblue"
res=a[3:]+ " " +a[:3]
print(res)

blue sky

In [ ]:
sky_color = "skyblue"
blue_sky = sky_color[-4:] + " " + sky_color[:-4]
print(blue_sky)

blue sky

#11/03/2024

In [ ]:
a='bccb'
l=[]
s=''
# bcc,ccb,bcb, bccb
for i in range(len(a)):
  # print(a[i])
  s+=a[i]
print(a)
for j in range(len(a)-1):
    # print(j)
    em=s+a[j]+a[-1]
print(em)

#     if em==em[::-1]:
#       if em not in l:
#         l.append(em)
# print(l)
# print(len(l))

bccb
bccbcb

In [ ]:
a='bccb'
b=[]
n=3
while n<=len(a):
  for i in range(len(a)):
    h=a[i:i+n]
    if len(h)>=3:
      b.append(h)
    n+=1
print(b)

['bcc', 'ccb']

In [ ]:
def generate_specific_substrings(s):
    substrings = []
    n = len(s)
    for i in range(n):
        for j in range(i + 1, n):
            substring = s[i:j+1]
            if substring == substring[::-1]:
                substrings.append(substring)
    return substrings

a = 'bccb'
output = generate_specific_substrings(a)
print(output)

['bccb', 'cc']

###Python program to print even length words in a string

In [ ]:
n = "This is a python language"
s=n.split(" ")
for i in s:
  if len(i)%2==0:
    print(i)

This
is
python
language

In [ ]:
n = "i am laxmi"
s=n.split(" ")
for i in s:
  if len(i)%2==0:
    print(i)

am

###Uppercase Half String

In [ ]:
st= 'doingcoking'
h=len(st)//2
print(h)
res=st[:h] +st[h:].upper()
print(res)

5
doingCOKING

In [ ]:
# s='welcome2ourcountry34'
res=False
s='nhjuyyfdshgvsnb'
res1=False
# for i in s:
#   if s.alpha():
#     res=True
#     print(res)
if s.isalnum():
  print(True)
elif s.isalpha():
  print(False)

True

In [ ]:
num = 1
while num <= 5:
    # num+=1
    print(num)
    num += 1

1
2
3
4
5

In [ ]:
n=1
while n<=5:
  print(n)
  n+=1

1
2
3
4
5

#12/03/2024

###Python Program to Accept the Strings Which Contains all Vowels

In [ ]:
st='geeksforgeeks'
res="aeiou"
if st in res:
  print("vowel present")
else:
  print("vowels not present")

vowels not present

In [ ]:
st = 'geeksfrgeeks'
req='aeiou'
miss_vow=''
for i in req:
  if i not in st:
    miss_vow+=i
if miss_vow:
  print("missing vowels:",miss_vow)
else:
  print('all required vowels present')

missing vowels: aiou

In [ ]:
st='aeeeighiouObhkUul'
res="aeiou"
res1=''
l=[]
for i in st:
  if i in res and  i not in l:
    l.append(i)
# print(l)
for i in l:
    res1+=''.join(i)
# print(res1)
if res == res1:
    print('vowels present')
else:
  print('vowels not present')

vowels present

In [ ]:
st = 'ABeeIghiObhkUul'
required_vowels = "aeiou"

for i in required_vowels:
  if i not in st.lower():
    print("all vowels not present")
    break
else:
    print("all vowels are present")

all vowels are present

###convert roman number integer

In [ ]:
num={'I':1,'II':2,'III':3,'IV':4,'V':5,'VI':6,'VII':7,'VIII':8,'IX':9,'X':10}
n=input('Please give us roman number')
print("this is integer number",num[n])

Please give us roman numberX
this is integer number 10

In [ ]:
l=range(8)
for i in l:
  if i==4:
    break
  print(i)

0
1
2
3

In [ ]:
for i in range(8):
  if i==4:
    break
  print(i)

0
1
2
3

In [ ]:
for i in range(8):
  if i==4:
    continue
  print(i)

0
1
2
3
5
6
7

#14/03/2024

###Count the Number of matching characters in a pair of string

In [ ]:
s= 'abcdef'
s1= 'defghia'
s2=''
for i in s:
  # print(i)
  for j in s1:
    if i in j:
      s2+=' '.join(i)
print("matching values in both string:",s2)
print(len(s2))

matching values in both string: adef
4

###Count the Number of matching characters in a pair of string

In [ ]:
s= 'aabcddekll12@'
s1= 'bb22ll@55k'
l=[]
for i in s1:
  if i in s:
    if i not in l:
      l.append(i)
print("matching values in both string:",l)
print(len(l))

matching values in both string: ['b', '2', 'l', '@', 'k']
5

In [ ]:
s2='geeksforgeeks'
s=''
for i in s2:
  if i not in s:
    s+=''.join(i)
print(s)

geksfor

In [ ]:
s2='geeksforgeeks'
d={}
k1=''
for i in s2:
  if i  in d:
    d[i]+=1
  else:
    d[i]=1
print(d)
for k,v in d.items():
  if v==1:
    k1=k
    print(k,v)

{'g': 2, 'e': 4, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1}
f 1
o 1
r 1

In [ ]:
s2='geeksforgeeks'
s3={}
for i in s2:
  if i in s3:
    s3[i]+=1
  else:
    s3[i]=1
print(s3)
l=[i for i in s3.values()]
print(max(l))

{'g': 2, 'e': 4, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1}
4

#15/03/2024

In [ ]:
s='rashidaansari'
res=s[7:]+ ' ' +s[:7]
print(res)
print(res.capitalize())
print(res.title())

ansari rashida
Ansari rashida
Ansari Rashida

In [ ]:
st= 'doingcoking'
h=len(st)//2
print(h)
res=st[:h] +st[h:].upper()
print(res)

5
doingCOKING

In [ ]:
n = "This is a python language"
s=n.split(" ")
for i in s:
  if len(i)%2==0:
    print(i)

This
is
python
language

In [ ]:
from itertools import combinations
ls= ["GFG", [5, 4], "is",["best", "good", "better", "average"]]
d=0
tem=combinations(ls,2)
for i in list(tem):
  d=d+1
print(d,i)

6 ('is', ['best', 'good', 'better', 'average'])

In [ ]:
def clo():
  num='Rashida'
  return lambda: 'hii '  +num
ob=clo()
print(ob())

hii Rashida

#19/03/2024

In [ ]:
for i in range(5):
    for j in range(i):
        print(" ", end="")
    for j in range(i, 5):
        print("* ", end="")
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
for i in range(5):
    for j in range(5, i, -1):
        print(" ", end="")
    for k in range(i + 1):
        print("* ", end="")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
n = 5
alph = 65
for i in range(0, n):
	print(" " * (n-i), end=" ")
	for j in range(0, i+1):
		print(chr(alph), end=" ")
		alph += 1
	alph = 65
	print()

      A
     A B
    A B C
   A B C D
  A B C D E

In [ ]:
l={'choclate':10,'strwabary':3,'vanila':1,'cherry':8}

In [ ]:
st= "GeeksforGeeks"
st1={}
for i in st:
  if i in st1:
    st1[i]+=1
  else:
    st1[i]=1
res=max(st1, key = st1.get)
print("maximum repeat charcter in string",res)

maximum repeat charcter in string e

In [ ]:
st="zero four zero one"
b=st.split(' ')
res=''
dt={"zero":'0', "one":'1', "two":'2', "three":'4',"four":'4',}
for i in b:
  res+=''.join(dt[i])
print(res)

0401

#20/03/2024

In [ ]:
a='aaabbbbcccc'
b={}
# ot=a3b4c4
for i in a:
  if i in b:
    b[i]+=1
  else:
    b[i]=1
print(b)
print(''.join(b))

{'a': 3, 'b': 4, 'c': 4}
abc

In [ ]:
a='aaabbbbcccc'
b={}
# ot=a3b4c4
for i in a:
  if i in b:
    b[i]+=1
  else:
    b[i]=1
print(b)
res=''.join([f'{k}{v}' for k,v in b.items()])
print(res)

{'a': 3, 'b': 4, 'c': 4}
a3b4c4

In [ ]:
a='aaabbbbcccc'
b={}
res=''

# ot=a3b4c4
for i in a:
  if i in b:
    b[i]+=1
  else:
    b[i]=1
print(b)
for k,v in b.items():
  res+=f'{k}{v}'
print(res)

{'a': 3, 'b': 4, 'c': 4}
a3b4c4

In [ ]:
l1= ['be','have','do','say','get','make','go','know','take','see','come','think','look','want','give','use','find','tell','ask','work','seem','feel','leave']
for i in range(len(l1)):
  for j in range(len(l1)):
    if l1[i]<l1[j]:
      l1[i],l1[j]=l1[j],l1[i]
print(l1)

['ask', 'be', 'come', 'do', 'feel', 'find', 'get', 'give', 'go', 'have', 'know', 'leave', 'look', 'make', 'say', 'see', 'seem', 'take', 'tell', 'think', 'use', 'want', 'work']

In [ ]:
s="<b>gfg</b> is <b> best </b> i love <b> reading css</b> from it "
b=s.split()
l=[]
for i in b:
  if '>' in i:
    l.append(i)
print(l)

['<b>gfg</b>', '<b>', '</b>', '<b>', 'css</b>']

In [ ]:
a='abcdcdcd'
s='cdc'
res=a.count('cdc')
print(res)

1

In [ ]:
st=['ate','eat','car','rac','bed','tea']
s={}
s1=[]
for i in st:
  z=''.join(sorted(i))
  # print(i)
  if z in s:
    s[z]+=[i]
    # print(s)
  else:
    s[z]=[i]
print(s)
for v in s.values():
  s1.append(v)
print(s1)

{'aet': ['ate', 'eat', 'tea'], 'acr': ['car', 'rac'], 'bde': ['bed']}
[['ate', 'eat', 'tea'], ['car', 'rac'], ['bed']]

#write a query to create database and table

In [ ]:
# SQL query create database and table

'''create database Student;
use Student ;
create table Details(name  varchar(20), age integer(2), roll_no integer(2), addmission_date integer(10));
insert into Details values ("huda",23, 2, 1/2/3),("heena",23, 2, 1/2/3),("anam",23, 2, 1/2/3);
alter table Details add course varchar(50);
update Details set course="Information Technology" where roll_no=1  ;
update Details set course="banking and accountancy" where roll_no=2  ;

SET SQL_SAFE_UPDATES = 0;
select * from Details;   '''

'create database Student;\nuse Student ;\ncreate table Details(name  varchar(20), age integer(2), roll_no integer(2), addmission_date integer(10));\ninsert into Details values ("huda",23, 2, 1/2/3),("heena",23, 2, 1/2/3),("anam",23, 2, 1/2/3);\nalter table Details add course varchar(50);\nupdate Details set course="Information Technology" where roll_no=1  ;\nupdate Details set course="banking and accountancy" where roll_no=2  ;\n\nSET SQL_SAFE_UPDATES = 0;\nselect * from Details;   '

#21/03/2024

In [ ]:
l=range(1,11)
c=2
res=map(lambda i: i*c, l)
print(list(res))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

####write a program to print 1 to 10 table using lambda function

In [ ]:
n=range(1,11)
num=2
res=list(map(lambda x:x*2,n))
for i,j in enumerate(res,start=1):
    print(f" {num} x {i} = {j}")

 2 x 1 = 2
 2 x 2 = 4
 2 x 3 = 6
 2 x 4 = 8
 2 x 5 = 10
 2 x 6 = 12
 2 x 7 = 14
 2 x 8 = 16
 2 x 9 = 18
 2 x 10 = 20

In [ ]:

def print_multiplication_table(number):
    print(f"Multiplication table of {number}:")
    for i in range(1, 11):
        result = number * i
        print(f"{number} x {i} = {result}")

num = int(input("Enter a number: "))
print_multiplication_table(num)

Enter a number: 9
Multiplication table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
num=2
for i in range(1,11):
  res=num*i
  print(f"{num} x {i}= {res}")

2 x 1= 2
2 x 2= 4
2 x 3= 6
2 x 4= 8
2 x 5= 10
2 x 6= 12
2 x 7= 14
2 x 8= 16
2 x 9= 18
2 x 10= 20

In [ ]:
sum1=0
num=int(input("Enter a number:"))
temp=num
while(num):
    i=1
    f=1
    r=num%10
    while(i<=r):
        f=f*i
        i=i+1
    sum1=sum1+f
    num=num//10
if(sum1==temp):
    print("The number is a strong number")
else:
    print("The number is not a strong number")

Enter a number:145
The number is a strong number

###SQL question

In [ ]:
#sql question
'''  create database  Employee;
use Employee;
create table Employee(employee_id integer, first_name varchar(50), last_name varchar(50), department varchar(50), salary integer , Hire_date date);
select * from Employee;   '''

'create database  Employee;\nuse Employee;\ncreate table Employee(employee_id integer, first_name varchar(50), last_name varchar(50), department varchar(50), salary integer , Hire_date date);\nselect * from Employee;   '

In [ ]:
res=[i*2 for i in range(8) if i%2==0 ]
print(res)

[0, 4, 8, 12]

In [ ]:
a=(1,2,3,4)
b=(3,4,1,32)
a=a+b
print(a)
print(id(c))
print(id(a))
print(id(b))

(1, 2, 3, 4, 3, 4, 1, 32)
137599173773680
137599173775472
137599173753040

In [ ]:
class A:
  def a():
    pass
class B:
  def b():
    pass
o=A()
ob=B()
print(type(o))
print(type(ob))

<class '__main__.A'>
<class '__main__.B'>

In [ ]:
x = list(map(int, input("Enter a multiple value: ").split()))
print("List of Values: ", x)

Enter a multiple value: 887
List of Values:  [887]

#22/03/2024

###Frequency of numbers in String

In [ ]:
t= "geeks4feeks is No. 1 4 geeks"
t1=0
for i in t:
  # print(i)
  if i.isdigit():
    t1+=1
print("total number in string",(t1))

total number in string 3

In [ ]:
s= "geeks4feeks is No. 1 4 geeks"
s1=0
for i in s:
  if i.isnumeric():
    s1+=1
print("total number in string",s1)

total number in string 3

###Program to check if a string contains any special character

In [ ]:
st='Geeks$@For$Geeks'

s='!@#$%&*~'
res=''
for i in st:
  if i in s:
    res+=''.join(i)
print(res)

$@$

######Program to check if a string contains any special character

In [ ]:
st='Geeks$@For$Geeks'
# st='GeeksForGeeks'

s='!@#$%&*~'
res=''
f=0
for i in st:
  if i in s:
    res+=''.join(i)
    f=1
    break
if f==1:
  print("string not accepted because they have special charachter:",res)
else:
    print("string accepted they dont have special character:",res)

string not accepted because they have special charachter: $

###Find words which are greater than given length k

In [ ]:
s = "hello geeks for geeks is computer science portal"
k = 4
sp=s.split()
em=''
for i in sp:
  # print(i)
  if len(i)>4:
    em+=' '+i
print(em)

 hello geeks geeks computer science portal

###Find words which are greater than given length k

In [ ]:
s = "hello geeks for geeks is computer science portal"
k = 4
sp=s.split()
em=''
for i in sp:
    # em+=' '.join(i)
  # print(i)
  if len(i)>4:
    em+=''.join(i)
print(em)

hellogeeksgeekscomputerscienceportal

###Find words which are greater than given length k

In [ ]:
s = "hello geeks for geeks is computer science portal"
k = 4
sp=s.split()
l=[]
for i in sp:
  if len(i)>k:
    l.append(i)
print(l)

['hello', 'geeks', 'geeks', 'computer', 'science', 'portal']

In [ ]:
st="mUmBAIcodingCluBgMail.COM"
b=''
for i in st:
  # print(i)
  if i.islower():
    b+=i.upper()
    # print(st)
  else:
    b+=i.lower()
print(b)

MuMbaiCODINGcLUbGmAIL.com

In [ ]:
n=3
s=''
a=[1,2,3,4,5]
res=a[:n]
for x in res:
  s+=str(x)
y=int(s)
print(y+1)

124

##sql question insert data in databse

In [ ]:
#Insert data in table

'''
create database  Employee;
use Employee;
create table Employee(employee_id integer, first_name varchar(50), last_name varchar(50), department varchar(50), salary integer , Hire_date date);
select * from Employee;
insert into Employee values (1, "Rashida","Ansari", 'IT', 32000, '2008-11-11');
insert into Employee values (2, "zobia","Ansari", 'engineering', 33000, '2008-11-11'),(3, "hidayat","khan", 'IT', 32000, '2008-11-11');
''''

#23/03/2024

In [ ]:
st='aNSaRiraSHiDa'
b=''
for i in st:
  if i.islower():
    b+=i.upper()
  else:
    b+=i.lower()
print(b)

AnsArIRAshIdA

In [ ]:
import re
def match(str,pattern):
  if re.search(pattern,str):
    print("valid string")
  else:
    print("invalid string")
pattern = re.compile('[A-Z]+$')
match('ABCDE',pattern)
match('12ABCda',pattern)
match('12345',pattern)

valid string
invalid string
invalid string

In [ ]:
n=7
patt_n = 64+n+1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(patt_n-j),end='')
  print()

G
GF
GFE
GFED
GFEDC
GFEDCB
GFEDCBA

In [ ]:
import re
pattern = re.compile('[A-Za-z0-9]$')
str='absdABS90cn'
# str='ASDFqwes'
if re.search(pattern,str):
  print(True)
else:
  print(False)

True

#24/03/2024 Sunday

#25/03/2024 Monday

In [ ]:
a= 'Geeks for Geeks'
b = 'Learning from Geeks for Geeks'
c=''
for i in  a:
  if i in b:
    c+=i
print(c)

Geeks for Geeks

In [ ]:
# a= 'Geeks for Geeks'
# b = 'Learning from Geeks for Geeks'
# a=a.split()
# b=b.split()
# l=[]

# for i in  a:
#   if i not in b:
#     l.append(i)
# for i in b:
#   if i not in a:
#     l.append(i)
# l=list(set(i))
# print(a,b)

In [ ]:

def UncommonWords(A, B):
	A=A.split()
	B=B.split()
	x=[]
	for i in A:
		if i not in B:
			x.append(i)
	for i in B:
		if i not in A:
			x.append(i)
	x=list(set(x))
	return x

A = "Geeks for Geeks"
B = "Learning from Geeks for Geeks"
print(UncommonWords(A, B))

['Learning', 'from']

#### Python program to calculate the length of a string without using built-in functions

In [ ]:
def string_length(s):
    'Function to calculate the length of a string.'
    count = 0
    for char in s:
        count += 1
    return count
string_input = input("Enter a string: ")

length = string_length(string_input)
print(f"The length of the string '{string_input}' is: {length}.")

Enter a string: rashida
The length of the string 'rashida' is: 7.

#### Function to check if a number is prime

In [ ]:
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

num_to_check = 2
if is_prime(num_to_check):
    print(f"{num_to_check} is a prime number.")
else:
    print(f"{num_to_check} is not a prime number.")

2 is a prime number.

#### Function to count digits in a number

In [ ]:
def count_digits(n):
    count = 0
    while n > 0:
        count += 1
        n //= 10
    return count
number = 12345
digit_count = count_digits(number)
print(digit_count)

5

#26/03/2024

In [ ]:
d=[{'name':'adnan', 'age':36},{'name':'bob','age':20},{'name':'david','age':50},{'name':'ehsan','age':15}]
for i in range(len(d)):
  for j in range(len(d)):
    if d[i]['age']>d[j]['age']:
      d[i],d[j]=d[j],d[i]
# print(d)
print(d[0])

{'name': 'david', 'age': 50}

In [ ]:
s= 'abcdef'
s1= 'defghia'
s2=''
for i in s:
  # print(i)
  for j in s1:
    if i in j:
      s2+=' '.join(i)
print("matching values in both string:",s2)
print(len(s2))

matching values in both string: adef
4

In [ ]:
    '''   create database  Employee;
use Employee;
create table Employee(employee_id integer, first_name varchar(50), last_name varchar(50), department varchar(50), salary integer , Hire_date date);
select * from Employee;
insert into Employee values (1, "Rashida","Ansari", 'IT', 32000, '2008-11-11');
insert into Employee values (2, "zobia","Ansari", 'engineering', 33000, '2008-11-11'),(3, "hidayat","khan", 'IT', 32000, '2008-11-11');
insert into Employee values (2, "sobia","Ansari", 'engineering', 33000, '2008-11-11'),(3, "simran","khan", 'IT', 32000, '2008-11-11');
select first_name from Employee where first_name like 'S%';

select first_name from Employee where first_name like 'S%';   '''

In [ ]:
n=5
patt_n = 64+n+1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(patt_n-j),end='')
  print()

E
ED
EDC
EDCB
EDCBA

In [ ]:
s='ABCDEFGHIJKLMNOPQRSTUvWXYZ'
n=4
def text_wrap(S,N):
  for i in range(0,len(S),N):
    print(S[i:i+4])
text_wrap(s,n)

ABCD
EFGH
IJKL
MNOP
QRST
UvWX
YZ

In [ ]:
for i in range(5):
  for j in range(i+1):
    print('*',end='')
  print()
for i in range(4):
  for j in range(i,4):
    print('*',end='')
  print()

*
**
***
****
*****
****
***
**
*

#27/03/2024

In [ ]:
from itertools import permutations

def permute_string(s):
    return [''.join(p) for p in permutations(s)]

input_str = 'ABC'
permutations = permute_string(input_str)
for perm in permutations:
    print(perm)

ABC
ACB
BAC
BCA
CAB
CBA

In [ ]:
from itertools import permutations
import string

s = "abc"
a = string.ascii_letters
p = permutations(s)
d = []
for i in list(p):
	if (i not in d):
		d.append(i)
		print(''.join(i))

abc
acb
bac
bca
cab
cba

###Convert numeric words to numbers

In [ ]:

dt = {'one': '1','two': '2','three': '3','four': '4','five': '5','six': '6','seven': '7','eight': '8','nine': '9','zero': '0'}

t= "zero four zero one"

# print("The original string is : " + t)

res = ''.join(dt[i] for i in t.split())

print("The string after performing replace : " + res)

The string after performing replace : 0401

In [ ]:
st=['ate','eat','car','rac','bed','tea']
s={}
s1=[]
for i in st:
  z=''.join(sorted(i))
  # print(i)
  if z in s:
    s[z]+=[i]
    # print(s)
  else:
    s[z]=[i]
print(s)
for v in s.values():
  s1.append(v)
print(s1)

{'aet': ['ate', 'eat', 'tea'], 'acr': ['car', 'rac'], 'bde': ['bed']}
[['ate', 'eat', 'tea'], ['car', 'rac'], ['bed']]

In [ ]:
st='Geeks$@For$Geeks'

s='!@#$%&*~'
res=''
for i in st:
  if i in s:
    res+=''.join(i)
print(res)

$@$

#28/03/2024

In [ ]:
l=[2,11,23,11,56,1,15]
for i in range(len(l)):
  for j in range(len(l)):
    if l[i]<l[j]:
      l[i],l[j]=l[j],l[i]
print(l[-2])

23

In [ ]:
# def find_duplicate_and_missing(numbers):
#     n = len(numbers)
#     seen = {}
#     duplicate = -1
#     missing = -1
#     for num in numbers:
#         if num in seen:
#             duplicate = num
#         else:
#             seen[num] = 1

#     for i in range(1, n + 1):
#         if i not in seen:
#             missing = i
#             break

#     return duplicate, missing

# # Example usage
# a = [1, 2, 3, 5, 7, 2]
# duplicate, missing = find_duplicate_and_missing(a)
# print("Duplicate:", duplicate)
# print("Missing:", missing)

In [ ]:
l=[1,2,3,3,2,1,5]
x={}
y=0
for i in l:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
for k,v in x.items():
  if v!=1:
    print(k)

1
2
3

In [ ]:

l= [(4, 5, 6, 3), (5, 6, 6, 9), (1, 3, 5, 6), (6, 6, 7, 8)]
K = 6

res = [i for i in l if not any(i[j] == K and i[j + 1] == K for j in range(len(i) - 1))]
print("The records after removal : " + str(res))

The records after removal : [(4, 5, 6, 3), (1, 3, 5, 6)]

###Replace index elements with elements in Other List

In [ ]:

test_list1 = ['Gfg', 'is', 'best']
test_list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

res = [test_list1[idx] for idx in test_list2]
print ("The lists after index elements replacements is : " + str(res))

The lists after index elements replacements is : ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

In [ ]:

ls= [(4, 5, 6, 4, 4), (4, 4, 3), (4, 4, 4), (3, 4, 9)]
K = 4
N = 3
res = [ele for ele in ls if ele.count(K) == N]
print("Filtered tuples : " + str(res))

Filtered tuples : [(4, 5, 6, 4, 4), (4, 4, 4)]

#29/03/2024

In [ ]:
t= ["geeks", "for", "geeks", "is", "best"]
res=[i[::-1] for i in t]
print(res)

['skeeg', 'rof', 'skeeg', 'si', 'tseb']

In [ ]:
num=[1,2,3,0,0,6]
lhs=[ num[i] for i in range(len(num)//2)]
rhs=[ num[i] for i in range(len(num)//2+1, len(num))]
if sum(lhs)==sum(rhs):
  print(True)
else:
  print(False)

True

In [ ]:
x = 5
if x < 3:
    print("x is less than 3")
elif x == 3:
    print("x is equal to 3")
else:
    print("x is greater than 3")

x is greater than 3

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

#30/03/2024

In [ ]:
x = 0
a = 0
b = -5
if a > 0:
    if b < 0:
        x = x + 5
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

2

In [ ]:
for l in 'Jhon':
   if l == 'o':
      pass
   print(l, end=", ")

J, h, o, n,

In [ ]:
a, b = 12, 5
if a + b:
    print('True')
else:
  print('False')

True

In [ ]:
x = 5
if x > 0:
   print("Positive")
else:
   print("Negative")

Positive

In [ ]:
numbers = [10, 20]
items = ["Chair", "Table"]

for x in numbers:
  for y in items:
    print(x, y)

10 Chair
10 Table
20 Chair
20 Table

#01/04/2024

###Python program to find the sum of all items in a dictionary

In [ ]:
dt={'a': 100, 'b':200, 'c':300}
d=0
for i in dt.values():
  # print(i)
  d+=i
print('sum of the values',d)

sum of the values 600

In [ ]:
d={'x': 25, 'y':18, 'z':45}
c=0
for k,v in d.items():
  c+=v
print('sum of the values in dictionary',c)

sum of the values in dictionary 88

###sort list of ditionary by values

In [ ]:
l= [{"name": "Nandini", "age": 20},{"name": "Manjeet", "age": 20},{"name": "Nikhil", "age": 19}]

l1=len(l)
for i in range(l1-1):
  for j in range(0,l1-i-1):
    if l[j]['age']>l[j+1]['age']:
      l[j],l[j+1]=l[j+1],l[j]
print(l)

[{'name': 'Nikhil', 'age': 19}, {'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}]

###sort list of ditionary by values

In [ ]:
l= [{"name": "Nandini", "age": 20},{"name": "Billgate", "age": 20},{"name": "Akhil", "age": 19}]

l1=len(l)
for i in range(l1-1):
  for j in range(0,l1-i-1):
    if l[j]['name']>l[j+1]['name']:
      l[j],l[j+1]=l[j+1],l[j]
print(l)

[{'name': 'Akhil', 'age': 19}, {'name': 'Billgate', 'age': 20}, {'name': 'Nandini', 'age': 20}]

In [ ]:
print("Enter Marks Obtained in 5 Subjects: ")
total1 = int(input("Enter marks for Subject 1: "))
total2 = int(input("Enter marks for Subject 2: "))
total3 = int(input("Enter marks for Subject 3: "))
total4 = int(input("Enter marks for Subject 4: "))
total5 = int(input("Enter marks for Subject 5: "))

tot = total1 + total2 + total3 + total4 + total4
avg = tot / 5

if avg >= 91 and avg <= 100:
	print("Your Grade is A1")
elif avg >= 81 and avg < 91:
	print("Your Grade is A2")
elif avg >= 71 and avg < 81:
	print("Your Grade is B1")
elif avg >= 61 and avg < 71:
	print("Your Grade is B2")
elif avg >= 51 and avg < 61:
	print("Your Grade is C1")
elif avg >= 41 and avg < 51:
	print("Your Grade is C2")
elif avg >= 33 and avg < 41:
	print("Your Grade is D")
elif avg >= 21 and avg < 33:
	print("Your Grade is E1")
elif avg >= 0 and avg < 21:
	print("Your Grade is E2")
else:
	print("Invalid Input Try again!")

Enter Marks Obtained in 5 Subjects:
Enter marks for Subject 1: 90
Enter marks for Subject 2: 90
Enter marks for Subject 3: 89
Enter marks for Subject 4: 79
Enter marks for Subject 5: 98
Your Grade is A2

#02/04/2024

In [ ]:
st= 'Gfg is best platform to pratice code'
res = {key: st.count(key) for key in st.split()}
print(res)

{'Gfg': 1, 'is': 1, 'best': 1, 'platform': 1, 'to': 1, 'pratice': 1, 'code': 1}

In [ ]:

s = 'Swimming is my life-long passion'

c = s.count('i')
print('Count of i:', c)

c = s.count('m')
print('Count of m:', c)

Count of i: 5
Count of m: 3

###Sort String list by K character frequency

In [ ]:
l = ["geekforgeekss", "is", "bessst", "for", "geeks"]
K = 's'

ot= sorted(l, key=lambda x: x.count(K), reverse=True)
print(ot)

['bessst', 'geekforgeekss', 'is', 'geeks', 'for']

In [ ]:
st = ["geekforgeekss", "is", "bessst", "for", "geeks"]
K = 's'
res = sorted(st, key=lambda x: -x.count(K))
print(res)

['bessst', 'geekforgeekss', 'is', 'geeks', 'for']

###Find all duplicate characters in string

In [ ]:
st= "hellossh"
d = []

c= {}
for i in st:
    if i in c:
        c[i] += 1
    else:
        c[i] = 1

for i,count in c.items():
    if count > 1:
        d.append(i)

output = ''.join(d)
print(output)

hls

#03/04/2024

###Find common elements in three sorted arrays by dictionary intersection

In [ ]:
l= [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
#  [80, 20]

set1=set(l)
set2=set(ar2)
set3=set(ar3)
res=set1.intersection(set2,set3)
print(res)

{80, 20}

In [ ]:
l= [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
res=[]

for i in l:
  if i in ar2 and i in ar3:
    res.append(i)
print(res)

[20, 80]

In [ ]:
dict1 = {'Adnan': 1, 'Akbar': 2, }
dict2 = {'Saud': 5, 'Shoaib': 6}
dict1.update(dict2)
print(dict1)

{'Adnan': 1, 'Akbar': 2, 'Saud': 5, 'Shoaib': 6}

In [ ]:
l=[1,2,3,4,5,2,3,4,7,9,5]
l2=[]
for i in l:
  if i not in l2:
    l2.append(i)
print(l2)

[1, 2, 3, 4, 5, 7, 9]

In [ ]:
d= {"Gfg" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 17, 6, 15, 57]}
k=None
v=0

for key,value in d.items():
  count=len(set(value))
  if count > v:
    v=count
    k=key
print("Key with maximum unique values:", k)

Key with maximum unique values: Gfg

#04/03/2024

In [ ]:
st1=input("Enter first string:")
st2=input("Enter second string:")
count1=0
count2=0
for i in st1:
      count1=count1+1
for j in st2:
      count2=count2+1
if(count1<count2):
      print("Larger string is:")
      print(st2)
elif(count1==count2):
      print("Both strings are equal.")
else:
      print("Larger string is:")
      print(st1)

Enter first string:rashida
Enter second string:ansari
Larger string is:
rashida

###Python Program to Count the Number of Digits and Letters in a String

In [ ]:
st=input("Enter string:")
count1=0
count2=0
for i in st:
      if(i.isdigit()):
            count1=count1+1
      count2=count2+1
print("The number of digits is:")
print(count1)
print("The number of characters is:")
print(count2)

Enter string:123rashida
The number of digits is:
3
The number of characters is:
10

In [ ]:
string=input("Enter string:")
count1=0
count2=0
for i in string:
      if(i.islower()):
            count1=count1+1
      elif(i.isupper()):
            count2=count2+1
print("The number of lowercase characters is:")
print(count1)
print("The number of uppercase characters is:")
print(count2)

Enter string:RAshhs
The number of lowercase characters is:
4
The number of uppercase characters is:
2

In [ ]:
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:abc cgd
Number of words in the string:
2
Number of characters in the string:
7

####Python Program to Count the Number of Vowels in a String

In [ ]:
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:rasguda
Number of vowels are:
3

#05/04/2024

###Python Program to Count Number of Vowels in a String using Sets

In [ ]:
s=input("Enter string:")
count = 0
vowels = set("aeiou")
for letter in s:
    if letter in vowels:
        count += 1
print("Count of the vowels is:")
print(count)

Enter string:ansari
Count of the vowels is:
3

In [ ]:
st=input("enter string")
c=0
v='aeiou'
for i in st:
  if i in v:
    c+=1
print("count of vowels is: ")
print(c)

enter stringrashida
count of vowels is:
3

In [ ]:
string=input("Enter string:")
word=input("Enter word:")
a=[]
count=0
a=string.split(" ")
for i in range(0,len(a)):
      if(word==a[i]):
            count=count+1
print("Count of the word is:")
print(count)

Enter string:hello world
Enter word:hello
Count of the word is:
1

###Python Program to Count the Frequency of Each Word in a String using Dictionary

In [ ]:
t=input("Enter string:")
l=[]
l=t.split()
freq=[l.count(p) for p in l]

print(dict(zip(l,freq)))

Enter string:huda khan
{'huda': 1, 'khan': 1}

In [ ]:
st = ["geekforgeekss", "is", "bessst", "for", "geeks"]
K = 's'
res = sorted(st, key=lambda x: -x.count(K))
print(res)

['bessst', 'geekforgeekss', 'is', 'geeks', 'for']

#06/04/2024

In [ ]:
user=input("Enter string:")
count=0
for i in user:
      count=count+1
print("Length of the string is:")
print(count)

Enter string:rashida
Length of the string is:
7

In [ ]:
def modify(string):
  final = ""
  for i in range(len(string)):
    if i % 2 == 0:
      final = final + string[i]
  return final
string=input("Enter string:")
print("Modified string is:")
print(modify(string))

Enter string:5gshsh
Modified string is:
5ss

In [ ]:
string=input("Enter string:")
string=string.replace('a','$')
string=string.replace('A','$')
print("Modified string:")
print(string)

Enter string:rashuda@
Modified string:
r$shud$@

In [ ]:
def is_palindrome(n):
    return str(n) == ''.join(reversed(str(n)))

n = int(input("Enter number: "))

if is_palindrome(n):
  print("The number is a palindrome!")
else:
  print("The number is not a palindrome.")

Enter number: 67
The number is not a palindrome.

###Python Program to Reverse a Number

In [ ]:
number = int(input("Enter a number: "))
reversed_number = int(str(number)[::-1])
print("Reversed number:", reversed_number)

Enter a number: 456
Reversed number: 654

#08/04/2024

In [ ]:
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

In [ ]:
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d:
    del d[key]
else:
    print("Key not found!")
    exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):1223sd
Key not found!
Updated dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:

test_list1 = ['Gfg', 'is', 'best']
test_list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

res = [test_list1[idx] for idx in test_list2]
print ("The lists after index elements replacements is : " + str(res))

The lists after index elements replacements is : ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

In [ ]:
def modify(string):
  final = ""
  for i in range(len(string)):
    if i % 2 == 0:
      final = final + string[i]
  return final
string=input("Enter string:")
print("Modified string is:")
print(modify(string))

Enter string:263
Modified string is:
23

In [ ]:
a=str(input("Enter a string: "))
print("Reverse of the string is: ")
print(a[::-1])

#09/04/2024

In [ ]:

list1 = [10, 21, 4, 45, 66, 93, 11]

only_odd = [num for num in list1 if num % 2 == 1]
odd_count = len(only_odd)

print("Even numbers in the list: ", len(list1) - odd_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

In [ ]:

list1 = [10, 21, 4, 45, 66, 93, 1]

even_count, odd_count = 0, 0
for num in list1:
	if num % 2 == 0:
		even_count += 1
	else:
		odd_count += 1

print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  3
Odd numbers in the list:  4

In [ ]:
# Python Code to Remove empty List from List

def empty_list_remove(input_list):
	new_list = []
	for ele in input_list:
		if ele:
			new_list.append(ele)
	return new_list


# input list values
input_list = [5, 6, [], 3, [], [], 9]

# print initial list values
print(f"The original list is : {input_list}")
# function-call & print values
print(f"List after empty list removal : {empty_list_remove(input_list)}")

In [ ]:
ls= [5, 6, [], 3, [], [], 9]
new=[]
for i in ls:
  if i:
    new.append(i)
print(new)

[5, 6, 3, 9]

#15/04/2024

In [ ]:

l= [5, 6, [], 3, [], [], 9]

res = [ele for ele in l if ele != []]

print("List after empty list removal : ",(res))

List after empty list removal :  [5, 6, 3, 9]

In [ ]:
ls= [5, 6, [], 3, [], [], 9]
new=[]
for i in ls:
  if i:
    new.append(i)
print(new)

[5, 6, 3, 9]

In [ ]:

test_list = [5, 6, [], 3, [], [], 9]

new_list=[]
for i in test_list:
	x=str(type(i))
	if(x.find('list')!=-1):
		if(len(i)!=0):
			new_list.append(i)
	else:
		new_list.append(i)
print("List after empty list removal : " + str(new_list))

List after empty list removal : [5, 6, 3, 9]

In [ ]:
l= ["Gfg", 3, "is", 8, "Best", 10, "for", 18, "Geeks", 33]
l1= ["name", "number"]

n = len(l)
res = []
for i in range(0, n, 2):
	res.append({l1[0]: l[i], l1[1] : l[i + 1]})
print(res)

[{'name': 'Gfg', 'number': 3}, {'name': 'is', 'number': 8}, {'name': 'Best', 'number': 10}, {'name': 'for', 'number': 18}, {'name': 'Geeks', 'number': 33}]

In [ ]:
dict1 = {'Adnan': 1, 'Akbar': 2, }
dict2 = {'Saud': 5, 'Shoaib': 6}
dict1.update(dict2)
print(dict1)

{'Adnan': 1, 'Akbar': 2, 'Saud': 5, 'Shoaib': 6}

#16/04/2024

In [ ]:
a=[2,1,2,3,1]
b={}
for i in a:
  if i in b:
    b[i]+=1
  else:
    b[i]=1
print(b)

{2: 2, 1: 2, 3: 1}

In [ ]:
a=[2,1,2,3,1,3,2,7,1]
r={}
em=0
for i in a:
  if i in r:
    r[i]+=1
  else:
    r[i]=1
print(r)
for k,v in r.items():
  if v==1:
    em+=1
print(em)

{2: 3, 1: 3, 3: 2, 7: 1}
1

###unique number in a list

In [ ]:
num= [1, 2, 3, 2, 1,3,8]
em = {}

for i in num:
    em[i] = em.get(i, 0) + 1
for i, count in em.items():
    if count == 1:
      print("The unique number is:", i)

The unique number is: 8

In [ ]:
numbers = [1, 2, 3, 2, 1,3,9,9,88]

unique_sum = 2 * sum(set(numbers))

total_sum = sum(numbers)
unique_number = unique_sum - total_sum

print("The unique number is:", unique_number)

The unique number is: 88

In [ ]:
l= ["Gfg", 3, "is", 8, "Best", 10, "for", 18, "Geeks", 33]
l1= ["name", "number"]

n = len(l)
res = []
for i in range(0, n, 2):
	res.append({l1[0]: l[i], l1[1] : l[i + 1]})
print(res)

[{'name': 'Gfg', 'number': 3}, {'name': 'is', 'number': 8}, {'name': 'Best', 'number': 10}, {'name': 'for', 'number': 18}, {'name': 'Geeks', 'number': 33}]

#17/04/2024

###remove dublicate values from the dictionary

In [ ]:
d = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
v = list(set(d.values()))
res = {value: key for key, value in d.items() if d[key] in v}
print(res)

{1: 'c', 2: 'b', 3: 'd'}

###unique number in list

In [ ]:
l = [1, 2, 2, 5, 8, 4, 4, 8]

l1 = []
count = 0

for i in l:
	if i not in l1:
		count += 1
		l1.append(i)

print("No of unique items are:", count)

No of unique items are: 5

In [ ]:
l = [1, 2, 2, 5, 8, 4, 4, 8]

n = set(l)
print("No of unique items in the list are:", len(n))

No of unique items in the list are: 5

In [ ]:
List_1 = ["a", "b"]
List_2 = [1, 2]

new = []

for i in range(len(List_2)):
    for j in range(len(List_2)):
        if i != j:
            new.append([(List_1[0], List_2[i]), (List_1[1], List_2[j])])
print(new)

[[('a', 1), ('b', 2)], [('a', 2), ('b', 1)]]

In [ ]:
n=5
patt_n = 64+n+1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(patt_n-j),end='')
  print()

E
ED
EDC
EDCB
EDCBA

#18/04/2024

In [ ]:
a=[1,21,2,3,12]
for i in range(len(a)):
  for j in range(len(a)):
    if a[i]<a[j]:
      a[i],a[j]=a[j],a[i]
print(a)

[1, 2, 3, 12, 21]

###Python program to find the sum of all items in a dictionary

In [ ]:
d={'a': 100, 'b':200, 'c':300}
c=0
d1=d.values()
print(d1)
for i in d1:
  c+=i

print("total sum of the values",c)

dict_values([100, 200, 300])
total sum of the values 600

In [ ]:
d1={'x': 25, 'y':18, 'z':45}
c1=0
for k,v in d1.items():
  c1+=v
print("total sum of the values",c1)

total sum of the values 88

In [ ]:
l= [{"name": "Nandini", "age": 21},{"name": "Manjeet", "age": 20},{"name": "Nikhil", "age": 19}]

for i in range(len(l)):
  for j in range(len(l)):
    if l[j]['age']>l[i]['age']:
      l[j],l[i]=l[i],l[j]
print("sorted list :")
print(l)

sorted list :
[{'name': 'Nikhil', 'age': 19}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nandini', 'age': 21}]

In [ ]:
l= [{"name": "Nandini", "age": 21},{"name": "Manjeet", "age": 20},{"name": "Nikhil", "age": 19}]
n=len(l)
for i in range(n):
  for j in range(n):
    if l[j]['age']>l[i]['age']:
      l[j],l[i]=l[i],l[j]
print("sorted list :")
# print(l)
for item in l:
  print(item)

sorted list :
{'name': 'Nikhil', 'age': 19}
{'name': 'Manjeet', 'age': 20}
{'name': 'Nandini', 'age': 21}

In [ ]:
l = [{"name": "Nandini", "age": 20},{"name": "Manjeet", "age": 20},{"name": "Nikhil", "age": 19}]

new= sorted(l, key=lambda x: x['age'])

print("Sorted list by age:")
for item in new:
    print(item)

Sorted list by age:
{'name': 'Nikhil', 'age': 19}
{'name': 'Nandini', 'age': 20}
{'name': 'Manjeet', 'age': 20}

#19/04/2024

In [ ]:
a=[4, 5, 5, 5, 3, 8]
b={}
for i in a:
  if i in b:
    b[i]+=1
  else:
    b[i]=1
print(b)

{4: 1, 5: 3, 3: 1, 8: 1}

In [ ]:
a = [4, 5, 5, 5, 3, 8]
c=0
m=None
for i in a:
  count=a.count(i)
  if count>c:
    c=count
    m=i
print("The number with the maximum repetition is:",m)

The number with the maximum repetition is: 5

In [ ]:
a= [1, 1, 1, 64, 23, 64, 22, 22, 22]

c=0
m=None
for i in a:
  count=a.count(i)
  if count>c:
    c=count
    m=i
print("The number with the maximum repetition is:",m)

The number with the maximum repetition is: 1

In [ ]:

l= ['Gfg is best', 'for Geeks', 'Preparing']

K = ' '
res = []
for i in l:
	sub = i.split(K)
	res.extend(sub)
print ("The extended list after split strings : " + str(res))

The extended list after split strings : ['Gfg', 'is', 'best', 'for', 'Geeks', 'Preparing']

In [ ]:

t = ['gfgisbest', 'geeks', 'gfgfreak', 'gfgCS', 'Gcourses']

s = 'gfg'

res = 0
for i in t:
	if i.startswith(s):
		res = res + 1

print("Strings count with matching frequency : " + str(res))

Strings count with matching frequency : 3

In [ ]:

t1 = ['gfgisbest', 'geeks', 'gfgfreak', 'gfgCS', 'Gcourses']

t2 = 'gfg'

res = 0
for i in t1:
	if i.find(test_sub)==0:
		res = res + 1
print ("Strings count with matching frequency : " + str(res))

Strings count with matching frequency : 3

#20/04/2024

In [ ]:
l= [{"name": "Nandini", "age": 21},{"name": "Manjeet", "age": 20},{"name": "Nikhil", "age": 19}]
n=len(l)
for i in range(n):
  for j in range(n):
    if l[j]['age']>l[i]['age']:
      l[j],l[i]=l[i],l[j]
print("sorted list :")
# print(l)
for item in l:
  print(item)

sorted list :
{'name': 'Nikhil', 'age': 19}
{'name': 'Manjeet', 'age': 20}
{'name': 'Nandini', 'age': 21}

In [ ]:
l= [4, 5, 5, 5, 3, 8]
size = len(l)
for i in range(size - 2):
	if l[i] == l[i + 1] and l[i + 1] == l[i + 2]:
		print(l[i])

5

In [ ]:

list1 = [11, 5, 17, 18, 23, 50]
for ele in list1:
	if ele % 2 == 0:
		list1.remove(ele)
print("New list after removing all even numbers: ", list1)

New list after removing all even numbers:  [11, 5, 17, 23]

In [ ]:

list1 = [11, 5, 17, 18, 23, 50]

list1 = [ elem for elem in list1 if elem % 2 != 0]

print(*list1)

11 5 17 23

In [ ]:

list1 = [10, 20, 4, 45, 99]

list1.sort()
print("Smallest element is:", list1[0])

Smallest element is: 4

#22/04/2024

In [ ]:
a=[0,1,2,3,4,5]
#swap
for i in range(0,len(a),2):
  a[i],a[i+1]=a[i+1],a[i]
print(a)

[1, 0, 3, 2, 5, 4]

In [ ]:
lst=[0,1,2,3,4,5,8]

for i in range(0,len(lst),2):
  if i+1<len(lst):
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[1, 0, 3, 2, 5, 4, 8]

In [ ]:
s= "zero four zero one"

digit = {
    "zero": "0",
    "one": "1",
    "two": "2",
    "three": "3",
    "four": "4",
    "five": "5",
    "six": "6",
    "seven": "7",
    "eight": "8",
    "nine": "9"
}

res= ''.join([digit.get(word, '') for word in s.split()])
print(res)

0401

In [ ]:
for i in range(5):
  for j in range(i+1):
    print('*',end='')
  print()
for i in range(4):
  for j in range(i,4):
    print('*',end='')
  print()

*
**
***
****
*****
****
***
**
*

In [ ]:
input_str = "GFGgffrrFg123$%"

output_str = ''.join(char for char in input_str if not char.isupper())
print("After removing uppercase characters:", output_str)

After removing uppercase characters: gffrrg123$%

In [ ]:
st= "rashida ANSARI"

res = ''.join(char.lower() if char.isupper() else char.upper() for char in st)

print("After converting case of characters:", res)

After converting case of characters: RASHIDA ansari

In [ ]:
st= "coding"

new = ""
for char in st:
    if char.isupper():
        st+= char.lower()
    else:
        new += char.upper()
print("After converting case of characters:", new)

After converting case of characters: CODING

#23/04/2024

In [ ]:
s = 'geeksforgeeks 33 best'

ch= 0

for char in s:
    if char != ' ':
        ch += 1

print("Total characters in the string:", ch)

Total characters in the string: 19

In [ ]:
str1 = 'abc def'
c=0
for i in str1:
  if i!= '':
    c+=1
print(c)

7

In [ ]:
st = "geeks"
c=0
for i in  st:
  c+=1
print("total lenght of the string",c)

total lenght of the string 5

In [ ]:

str1 = 'aabcddekll12@'
str2 = 'bb22ll@55k'

res1= set(str1)
res2= set(str2)

new = res1.symmetric_difference(res2)

print("Different characters in both strings:", new)

Different characters in both strings: {'c', 'a', '5', '1', 'd', 'e'}

#24/04/2024

In [ ]:
a=[2,56,76,21]
for i in range(0,len(a),2):
  a[i],a[i+1]=a[i+1],a[i]
print(a)

[56, 2, 21, 76]

In [ ]:
s='abcxyz'
c=0
for i in s:
  c+=1
print("total charachters in string",c)

total charachters in string 6

In [ ]:
b="This is a python language"
r=b.split()
print(r)
for i in r:
  if len(i)%2==0:
    print(i)

['This', 'is', 'a', 'python', 'language']
This
is
python
language

In [ ]:
b="This is a python p language"
r=b.split()
# print(r)
for i in r:
  if len(i)%2!=0:
    print(i)

a
p

In [ ]:

n="geeks for geek clas"
s=n.split(" ")
l=list(filter(lambda x: (len(x)%2==0),s))
print(l)

['geek', 'clas']

#25/04/2024

In [ ]:
lst=[23,87,56]
g=1
for i in range(len(lst)):
  for j in range(i+1,len(lst)):
    if lst[i]>g:
       g=lst[i]

print("the largest number is",g)

In [ ]:
lst=[2,32,4,54,53,22,11,67,5,87]

sum=0
product=1
for i in lst:
  sum=sum+i
  product=product*i
print('the sum of ',sum)
print('the product of',product)

the sum of  337
the product of 5167601556480

In [ ]:
l=[1,2,3,3,2,1,5]
x={}
y=0
for i in l:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print('unique number',x)
for k,v in x.items():
  if v==1:
    y+=1
print(y)

unique number {1: 2, 2: 2, 3: 2, 5: 1}
1

In [ ]:
l=[1,2,3,3,2,1,5]
x=0
for i in l:
  if l.count(i)==1:
    x+=1
print(x)

1

In [ ]:
l=[2,2,21,23,22,12,12]
d=[]
for i in l:
  if l.count(i)>1 and i not in d:
    d.append(i)
print(d)

[2, 12]

#26/04/2024

In [ ]:
a="mumbai, coding, club"
b=a.strip()
print(b)

mumbai, coding, club

In [ ]:
a=" mumbai, coding, club"
res=a.strip()
print(res)

res = tuple(map(str, res.split(',')))
print(res)

mumbai, coding, club
('mumbai', ' coding', ' club')

In [ ]:
a=" mumbai, coding, club"
res=a.strip()
print(res)
res.replace("","")

res = tuple(map(str, res.split(',')))
print(res)

mumbai, coding, club
('mumbai', ' coding', ' club')

In [ ]:
a=" mumbai, coding, club"
n=""
for i in a:
  if (not i.isspace()):
    n+=i
# print(n)
res = tuple(map(str, n.split(',')))
print(res)

('mumbai', 'coding', 'club')

In [ ]:
a=[2,3,4,5]
b=[2,3,4,5]
a.extend(b)
print(a)

[2, 3, 4, 5, 2, 3, 4, 5]

In [ ]:
a=[2,3,4,5]
b=[2,3,4,5]

res=a+b
print(res)

[2, 3, 4, 5, 2, 3, 4, 5]

In [ ]:
a=" Mumbai, coding, club"
b=a.split()
# print(b)
for i in b:
  if i.isupper():
    r=i.islower()
    b=r
print(b)

['Mumbai,', 'coding,', 'club']

In [ ]:
r=True
def a():
  for i in range(1,5):
    print(i)
  global r
  if r:
    r=False
    a()
  print("5")

a()

1
2
3
4
1
2
3
4
5
5

In [ ]:
def out(func):
  def inner():
    print("login")
    func()
  return inner
@out
def num():
  print("hii")
num()

login
hii

In [ ]:
def out(func):
  def inner(num):
    if num%2==0:
      print("even")
    else:
      num%2!=0
      print('odd')
    func()
  return inner
@out
def num():
  print("number is")
num(5)
num(6)

odd
number is
even
number is

In [ ]:

def even_odd(func):
    def inner(n):
        if n%2==0:
            print("Even")
        else:
            print("Odd")
        func(n)
    return inner

@even_odd
def test(n):
    print("number is:",n)
test(5)
test(6)

Odd
number is: 5
Even
number is: 6

#27/04/2024

In [ ]:

t= (5, 20, 3, 7, 6, 8)
K = 2

res = []
t = list(sorted(t))
print(t)

for i, j in enumerate(t):
	if i < K or i >= len(t) - K:
		res.append(j)
res = tuple(res)
print("The extracted values : " + str(res))

[3, 5, 6, 7, 8, 20]
The extracted values : (3, 5, 8, 20)

In [ ]:

def factorial(n):

    return 1 if (n==1 or n==0) else n * factorial(n - 1)
num = 8
print("Factorial of",num,"is",factorial(num))

Factorial of 8 is 40320

In [ ]:

def factorial(n):

    return 1 if (n==1 or n==0) else n * factorial(n - 1)
num = 5
print ("Factorial of",num,"is",factorial(num))

Factorial of 5 is 120

###python programe simple intrest

In [ ]:

def simple_int(p,t,r):
	print('The principal is', p)
	print('The time period is', t)
	print('The rate of interest is',r)

	si = (p * t * r)/100

	print('The Simple Interest is', si)
simple_int(8, 6, 8)

The principal is 8
The time period is 6
The rate of interest is 8
The Simple Interest is 3.84

In [ ]:
def simple_intrest(p,t,r):
  print('principle is',p)
  print('time period is',t)
  print('rate of intrest ',r)

  s=(p*t*r)/100

  print('simple intrest is',s)

P=int(input("enter principle amount:"))
T=int(input("enter time period :"))
R=int(input("enter rate of intrest :"))
simple_intrest(P,T,R)

enter principle amount:67
enter time period :54
enter rate of intrest :89
principle is 5
time period is 7
rate of intrest  8
simple intrest is 2.8

#29/04/2024

In [ ]:
s = "this is a test string"

words = s.split()

c = [word.capitalize() for word in words]

r = ' '.join(c)

print(r)

This Is A Test String

In [ ]:
s = "this is a test string"

res = ""

for i in range(len(s)):
    if (i == 0 or s[i - 1] == " ") and s[i].isalpha():
        res += s[i].upper()
    else:
        res += s[i]
print(res)

This Is A Test String

In [ ]:
s = "this is a test string"
c = ""
r = True

for char in s:
    if char.isalpha() and r:
        c += char.upper()
        r = False
    else:
        c += char

    if char == " ":
        r = True
print(c)

This Is A Test String

In [ ]:
r=True
def a():
  for i in range(1,5):
    print(i)
  global r
  if r:
    r=False
    a()
  print("5")

a()

1
2
3
4
1
2
3
4
5
5

In [ ]:

def even_odd(func):
    def inner(n):
        if n%2==0:
            print("Even")
        else:
            print("Odd")
        func(n)
    return inner

@even_odd
def test(n):
    print("number is:",n)
test(5)
test(6)

Odd
number is: 5
Even
number is: 6

#30/04/2024

In [ ]:
a=['a','b','e','g','k','b','a','a','e','m']
b={}
for i in a:
  if i in b:
    b[i]+=1
  else:
    b[i]=1
print(b)
for k,v in b.items():
  k==1
  print(k)

{'a': 3, 'b': 2, 'e': 2, 'g': 1, 'k': 1, 'm': 1}
a
b
e
g
k
m

In [ ]:
def check_datatype(check_method):
  def inner_fun(number):

      if type(number)==int:
        return check_method(number)
      else:
        return "not a interger"

  return inner_fun


@check_datatype
def check_even_odd(inp):
  if inp%2==0:
    print("even")
  else:
    print("odd")

inp=122.6
check_even_odd(inp)

'not a interger'

In [ ]:
def find_secount_non_repeted(lis):
  coun=0
  for i in lis:
    if lis.count(i)>=2:
      pass
    else:
      coun+=1
      if coun==2:
        return i
  return "none"
lis=['a','b','e','g','k','b','a','a','e','m']
find_secount_non_repeted(lis)

'k'

In [ ]:
def check_datatype(check_method):
  def inner_fun(number):

      if type(number)==int:
        return check_method(number)
      else:
        return "not a interger"
  return inner_fun


@check_datatype
def check_even_odd(inp):
  if inp%2==0:
    print("even")
  else:
    print("odd")

inp="hsjs"
check_even_odd(inp)

'not a interger'

In [ ]:
def datatype(func):
  def inner(num):
    if type(num)==int:
      return func(num)
    else:
      return "not a integer"
  return inner
@datatype
def even_odd(i):
  if i%2==0:
    print('even')
  else:
    print('odd')
i=9
even_odd(i)

odd

In [ ]:
s = "this is a test string"

words = s.split()

c = [word.capitalize() for word in words]

r = ' '.join(c)

print(r)

This Is A Test String

#01/05/2024

In [ ]:
def outer():
  print("jh")
  def inner():
    print("hiii")
  return inner

a=outer()
a()

jh
hiii

In [ ]:
def outer():
  print("jh")
  def inner():
    print("hiii")
  return inner()

outer()

jh
hiii

###decorater

In [ ]:
def A():
  print('iih')
def B(func):
  print('gag')
  return A
ob=B(A)
ob()

gag
iih

In [ ]:
l=[2,2,21,23,22,12,12]
d=[]
for i in l:
  if l.count(i)>1 and i not in d:
    d.append(i)
print(d)

[2, 12]

In [ ]:
l=[2,2,21,23,22,12,12]
d=[]
for i in l:
  if l.count(i)>1 and i not in d:
    d.append(i)
print(d)

[2, 12]

In [ ]:
a={'abc':1,'pqr':2,'xyz':3,'lmn':4,'str':5}
lst=['abc','xyz','str']
y={}
for i in lst:
  if i in a:
    y[i]=a[i]
print(y)

{'abc': 1, 'xyz': 3, 'str': 5}

#02/04/2024

In [ ]:
l=['car','bus','bike','train']
l1=[3,8,0,7]
d={}
for i in range(len(l)):
  d.update({l[i]:l1[i]})
print(d)

{'car': 3, 'bus': 8, 'bike': 0, 'train': 7}

In [ ]:
l=['car','bus','bike','train']
l1=[3,8,0,7]
d=dict(zip(l,l1))
print(d)

{'car': 3, 'bus': 8, 'bike': 0, 'train': 7}

In [ ]:
l=['car','bus','bike','train']
d={i:len(i) for i in l}
print(d)

{'car': 3, 'bus': 3, 'bike': 4, 'train': 5}

In [ ]:

l=['one','two','three','four','fifteen']
d={i:len(i) for i in l}
print(d)

{'one': 3, 'two': 3, 'three': 5, 'four': 4, 'fifteen': 7}

In [ ]:
l=['one','two','three','four']
d={}
for i in l:
  d.update({i:len(i)})
print(d)

{'one': 3, 'two': 3, 'three': 5, 'four': 4}

#03/05/2024

In [ ]:
d = [['a', 'b', 1, 2], ['c', 'd', 3, 4], ['e', 'f', 5, 6]]

res = dict()
for i in d:
	res[tuple(i[:2])] = tuple(i[2:])
print("mapped Dictionary : " + str(res))

mapped Dictionary : {('a', 'b'): (1, 2), ('c', 'd'): (3, 4), ('e', 'f'): (5, 6)}

In [ ]:
t = [['a', 'b', 1, 2], ['c', 'd', 3, 4], ['e', 'f', 5, 6]]

res = {tuple(sub[:2]): tuple(sub[2:]) for sub in t}

print(res)

{('a', 'b'): (1, 2), ('c', 'd'): (3, 4), ('e', 'f'): (5, 6)}

In [ ]:
dt = [['a', 'b', 1, 2], ['c', 'd', 3, 4], ['e', 'f', 5, 6]]

res = {(lst[0], lst[1]): tuple(lst[2:]) for lst in dt}

print(res)

{('a', 'b'): (1, 2), ('c', 'd'): (3, 4), ('e', 'f'): (5, 6)}

In [ ]:
l = [['a', 'b', 1, 2], ['c', 'd', 3, 4], ['e', 'f', 5, 6]]

result_dict = {}
for i in l:
	key = tuple(i[:2])
	value = tuple(i[2:])
	result_dict[key] = value

print("Dictionary : " + str(result_dict))

Dictionary : {('a', 'b'): (1, 2), ('c', 'd'): (3, 4), ('e', 'f'): (5, 6)}

In [ ]:

def even_odd(func):
    def inner(n):
        if n%2==0:
            print("Even")
        else:
            print("Odd")
        func(n)
    return inner

@even_odd
def test(n):
    print("number is:",n)
test(5)
test(6)

Odd
number is: 5
Even
number is: 6

#04/05/2024

In [ ]:
d={'chocolate':10,'strawberry':5,'vanila':3}
def add(**kwargs):
  d.update(kwargs)
  print(kwargs)
def customer(*kwargs):
  l=list(kwargs)
  d[l[0]]-=l[1]
# add(chocolate=11)
# customer('strawberry',3)
# print(d)
add(mango=9)
print(d)

{'mango': 9}
{'chocolate': 10, 'strawberry': 5, 'vanila': 3, 'mango': 9}

In [ ]:
s = "A, man, a plan, a canal: panama"
s = s.replace(',', '').replace(':', '').replace(' ','')
print(s)

Amanaplanacanalpanama

In [ ]:
s = "A, man, a plan, a Canal: Panama"
s = s.replace(',', '').replace(':', '').replace(' ', '')
print(s)
res=s.lower()
print(res)
r=res==res[::-1]
print(r)

AmanaplanaCanalPanama
amanaplanacanalpanama
True

In [ ]:
def pal(s):
  return s==s[::-1]
s='amanaplanacanalpanama'
# s='apple'
ob=pal(s)
if ob:
  print("palandrome")
else:
  print("not palandrome")

palandrome

In [ ]:
# d={'a':1,'bc':2,'bde':3}
d={'a':1,'b':{'c':2,'d':{'e':3}}}

In [ ]:
l=['a','r','s','e','x','p','O']
v=['a','e','i','o','u']
lam=lambda i: False if i in v else True
res=filter(lam,l)
res1=list(res)
print("constant letters",res1)

constant letters ['r', 's', 'x', 'p', 'O']

In [ ]:
d={'a':1,'b':{'c':2,'d':{'e':3}}}
d1={}
k = [i for i in d.keys()]
for i in k:
  if type(d[i])==dict:
    for j in d[i]:
      k=i+j
      v=d[i][j]
      d1.update({k:v})
  else:
    d1.update({i:d[i]})
print(d1)

{'a': 1, 'bc': 2, 'bd': {'e': 3}}

In [ ]:
d = {'a': 1, 'b': {'c': 2, 'd': {'e': 3}}}

flattened_d = {}
stack = [((), d)]

while stack:
    path, current = stack.pop()
    for k, v in current.items():
        if isinstance(v, dict):
            if v:
                stack.append((path + (k,), v))
        else:
            flattened_d[''.join(path + (k,))] = v

print(flattened_d)

{'a': 1, 'bc': 2, 'bde': 3}

#06/05/2024

In [ ]:
a=['a','a','b','a','c','b']
b=['a','b']
d={}
for j,i in enumerate(a,1):
  if i in b:
    if i in d:
      d[i]+=[j]
    else:
      d[i]=[j]
print(d)

{'a': [1, 2, 4], 'b': [3, 6]}

In [ ]:
a=['a','a','b','a','c','b']
b=['a','b']
d={}
for j,i in enumerate(a,1):
  if i in b:
    if i in d:
      d[i]+=[j]
    else:
      d[i]=[j]
print(d)

{'a': [1, 2, 4], 'b': [3, 6]}

In [ ]:

str = " Jan = January; Feb = February; Mar = March"


dictionary = dict(subString.split("=") for subString in str.split(";"))

print(dictionary)

{' Jan ': ' January', ' Feb ': ' February', ' Mar ': ' March'}

In [ ]:

str1 = "Jan, Feb, March"
keys = str1.split(", ")
d= {}

for i in range(len(keys)):
	d[keys[i]] = values[i]

print(dictionary)

{'Jan': 'January ', 'Feb': ' February ', 'March': ' March'}

In [ ]:
def pal(s):
  return s==s[::-1]
s='amanaplanacanalpanama'
# s='apple'
ob=pal(s)
if ob:
  print("palandrome")
else:
  print("not palandrome")

palandrome

#09/05/2024

In [ ]:
l=[1,2,3,3,2,1,5]
x={}
y=0
for i in l:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
for k,v in x.items():
  if v!=1:
    print(k)

1
2
3

In [ ]:
x=[('pqr',12),('abc',11),('xyz',10)]
for i in range(len(x)):
  for j in range(i+1,len(x)):
    if x[i][1]>x[j][1]:
      x[i],x[j]=x[j],x[i]
print(x)

[('xyz', 10), ('abc', 11), ('pqr', 12)]

In [ ]:
x=['apple','banana','cherry','kiwi','mango']
n=[y for y in x if 'a' in y]
print(n)

['apple', 'banana', 'mango']

In [ ]:
d={'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}
x=0

for i in d:
  if d[i]>x:
    x=d[i]

print(x)

32

In [ ]:
x="aaabbccccd"
y={}
s=''
for i in x:
  if i in y:
    y[i]+=1
  else:
      y[i]=1
print(y)

for k,v in y.items():
  s1=k+str(v)
  s+=''.join(s1)
print(s)

{'a': 3, 'b': 2, 'c': 4, 'd': 1}
a3b2c4d1

#10/05/2024

In [ ]:
a="helhlo"
d={}
for i in a:
  if i in d:
    d[i]+=1
  else:
    d[i]=1
print(d)

{'h': 2, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
a={'mumbai':40,'nagpur':36,'lucknow':100}
for i in a:
  # print(i)
  for j in a:
    # print(j)
    if a[i]<a[j]:
      a[i],a[j]=a[j],a[i]
print(a)

{'mumbai': 36, 'nagpur': 40, 'lucknow': 100}

In [ ]:
a={'mumbai':40,'nagpur':36,'lucknow':100}
b=0
for i in a:
  if a[i]>b:
    b=a[i]
print("largest number in dicitionary",b)

largest number in dicitionary 100

In [ ]:
st="storhing"
dt={}
for i in st:
  if i in dt:
    dt[i]+=1
  else:
    dt[i]=1
print(dt)

{'s': 1, 't': 1, 'o': 1, 'r': 1, 'h': 1, 'i': 1, 'n': 1, 'g': 1}

In [ ]:
x=range(6)
# print(x)
for i in x:
  print(i)

0
1
2
3
4
5

###using range function print even numbers

In [ ]:
for i in range(2,15,2):
  print("even numbers using by range function:",i)

even numbers using by range function: 2
even numbers using by range function: 4
even numbers using by range function: 6
even numbers using by range function: 8
even numbers using by range function: 10
even numbers using by range function: 12
even numbers using by range function: 14

In [ ]:
for odd_num in range(0,15,1):
  print(odd_num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

#11/05/2024

In [ ]:
st="storhing"
dt={}
for i in st:
  if i in dt:
    dt[i]+=1
  else:
    dt[i]=1
print(dt)

{'s': 1, 't': 1, 'o': 1, 'r': 1, 'h': 1, 'i': 1, 'n': 1, 'g': 1}

In [ ]:
a={'mumbai':40,'nagpur':36,'lucknow':100}
for i in a:
  # print(i)
  for j in a:
    # print(j)
    if a[i]<a[j]:
      a[i],a[j]=a[j],a[i]
print(a)

{'mumbai': 36, 'nagpur': 40, 'lucknow': 100}

In [ ]:
list1 = ["M", "na", "i", "ras"]
list2 = ["y", "me", "s", "hida"]
list3=[i+j for i,j in zip(list1,list2)]
print(list3)

['My', 'name', 'is', 'rashida']

In [ ]:
a={'abc':1,'pqr':2,'xyz':3,'lmn':4,'str':5}
lst=['abc','xyz','str']
y={}
for i in lst:
  if i in a:
    y[i]=a[i]
print(y)

{'abc': 1, 'xyz': 3, 'str': 5}

In [ ]:
lst=['rashida','zobia','anam','heena']
for i in range(0,len(lst),2):
  lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

['zobia', 'rashida', 'heena', 'anam']

#13/05/2024

In [ ]:
l=[2,2,21,23,22,12,12]
d=[]
for item in l:
  if l.count(item)>1 and item not in d:
    d.append(item)
print(d)

[2, 12]

In [ ]:
x=[0,1,0,3,2]
for i in range(len(x)):
  for j in range(len(x)):
    if x[i]<x[j]:
      x[i],x[j]=x[j],x[i]
c=x.count(0)
for i in range(c):
  x.remove(0)
  x.append(0)
print(x)

[1, 2, 3, 0, 0]

In [ ]:
x="aaabbccccd"
y={}
s=''
for i in x:
  if i in y:
    y[i]+=1
  else:
      y[i]=1
print(y)

for k,v in y.items():
  s1=k+str(v)
  s+=''.join(s1)
print(s)

{'a': 3, 'b': 2, 'c': 4, 'd': 1}
a3b2c4d1

In [ ]:
x={'pqr':12,'xyz':11,'abc':13}
y=list(x.keys())
print(y)
for i in range(len(y)):
  for j in range(len(y)):
    if y[i]<y[j]:
      y[i],y[j]=y[j],y[i]
print(y)

['pqr', 'xyz', 'abc']
['abc', 'pqr', 'xyz']

In [ ]:
def func(dt):
  x={}
  for i, values in enumerate(dt["threshold"]):

    # print(values)
    x[i]=list(values.values())
  return x

dt={"threshold":[{"temp":21,"hum":10,"lux":100},{"temp":26,"hum":20,"lux":150},{"temp":28,"hum":30,"lux":200}]}
ot=func(dt)
print(ot)

{0: [21, 10, 100], 1: [26, 20, 150], 2: [28, 30, 200]}

#14/05/2024

In [ ]:
lst=[1,2,3]
res=lst.append(5)
print(res)

None

In [ ]:
def decor1(func):
   def wrapper():
     return func().upper()
   return wrapper

def decor2(func):
   def wrapper():
     return func().split()
   return wrapper

@decor2
@decor1
def geet():
    name=input('enter a name:')
    surname=input('enter a surname:')
    full_name=name+" "+surname
    return full_name

geet()
# use of double decorator

enter a name:Rashida
enter a surname:ansari

['RASHIDA', 'ANSARI']

In [ ]:
a="1str25"
ot=26
print(ord("9"))

57

In [ ]:
a="1str25"
b=a.split()
# print(b)
for i in b:
  if i==type(int):
    i+=1
  else:
    if i==type(str):
      pass
print()

In [ ]:
a="1str25"
t=0
for i in a:
  if i.isdigit():
    i=int(i)
    t+=i
print(t)

8

In [ ]:
def decor1(func):
   def wrapper():
     return func().upper()
   return wrapper

def decor2(func):
   def wrapper():
     return func().split()
   return wrapper

@decor2
@decor1
def geet():
    name=input('enter a name:')
    surname=input('enter a surname:')
    full_name=name+" "+surname
    return full_name

geet()

enter a name:gh
enter a surname:th

['GH', 'TH']

In [ ]:
def out(func):
  print("first")
  def inn():
    print("outer")
    func()
  return inn

@out
def ab():
  print("ordinary")

first

In [ ]:
a=None
print(type(a))

<class 'NoneType'>

In [ ]:
a={'stg',1,3}
a.add(2)
print(a)

{3, 1, 2, 'stg'}

#15/05/2024

In [ ]:
# Output : [[1], [2], [3, 3], [4, 4]]
l = [1, 3, 4, 4, 2, 3]
d = {}
for i in l:
    if i not in d:
        d[i] = []
    d[i].append(i)
res = []
for key in d:
    res.append(d[key])

for i in range(len(res)):
    for j in range(i + 1, len(res)):
        if res[i][0] > res[j][0]:
            res[i], res[j] = res[j], res[i]
print(res)

[[1], [2], [3, 3], [4, 4]]

In [ ]:
a = "1str25"
num = ""
numbers = []
for char in a:
    if char.isdigit():
        num += char
    else:
        if num:
            numbers.append(int(num))
            num = ""
if num:
    numbers.append(int(num))
res = sum(numbers)
print(res)

26

In [ ]:
a = "1str25"

num = ""
total_sum = 0
for char in a:
    if '0' <= char <= '9':
        num += char
    else:
        if num:
            total_sum += int(num)
            num = ""
if num:
    total_sum += int(num)
print(total_sum)

26

In [ ]:
l = [1, 3, 4, 4, 2, 3]

ls = []

for elem in l:
    found = False
    for group in ls:
        if group[0] == elem:
            group.append(elem)
            found = True
            break
    if not found:
        ls.append([elem])
for i in range(len(ls)):
    for j in range(0, len(ls) - i - 1):
        if ls[j][0] > ls[j + 1][0]:
            ls[j], ls[j + 1] = ls[j + 1], ls[j]
print(ls)

[[1], [2], [3, 3], [4, 4]]

In [ ]:
def outer(func):
  def inner():
    print("addition")
    n='Rashida doing python'
    func()
    return n
  return inner

@outer
def sim():
  print("i am software developer")
sim()

addition
i am software developer

'Rashida doing python'

#16/05/2024

In [ ]:
lst=[2,3,4,5,6,7]
for i in range(0,len(lst),2):
  if i+1<len(lst):
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[3, 2, 5, 4, 7, 6]

In [ ]:
x={'rashida':1,'zobia':2}
y=('anam',3)
z={**{y[0]:y[1]},**x}
print(z)

{'anam': 3, 'rashida': 1, 'zobia': 2}

In [ ]:
lst=[2,32,4,54,53,22,11,67,5,87]

sum=0
product=1
for i in lst:
  sum=sum+i
  product=product*i
print('the sum of ',sum)
print('the product of',product)

the sum of  337
the product of 5167601556480

In [ ]:
l=[2,2,21,23,22,12,12]
d=[]
for item in l:
  if l.count(item)>1 and item not in d:
    d.append(item)
print(d)

[2, 12]

In [ ]:
l=[2,2,21,23,22,12,12]
for i in l:
  if l.count(i)>1:
    l.remove(i)
print(l)

[2, 21, 23, 22, 12]

#17/05/2024

In [ ]:
a=[1,1,3,4,5,6,7]
l=[0,1,2,3,4,5,7]
c=[0,1,2,3,4,5,7]

In [ ]:
# l=[1,2,4,3,5,5,6,9]
for i in range(len(l)):
  if i ==l[i]:
    print(l[i])

0
1
2
3
4
5

In [ ]:
a="abba"
b="dog cat cat dog"

for i in a:

In [ ]:
x="you are a you"
y="i am a boy"

In [ ]:
s='string123'
st=s.split()
# print(st)

for i in st:
  for j in i:
    if type(j)==str and j.isdigit():
      print(j, end='')
print()

123

In [ ]:
s = 'string123'

result = ''.join([char for char in s if type(char) == str and not char.isdigit()])

print(result)

string

In [ ]:
s='working 123'
st=s.split()
# print(st)

for i in st:
  for char in i:
    if type(char)==str and not char.isdigit():
      print(char, end='')

working

In [ ]:
a = "abba"
b = "dog cat cat dog"

words = b.split()

if len(set(a)) != len(set(words)) or len(a) != len(words):
    print(False)
else:
    print([a.index(char) for char in a] == [words.index(word) for word in words])

True

#21/05/2024

In [ ]:
test_set = {6, 4, 2, 7, 9}

up_ele = [1, 5, 10]

test_set.update(up_ele)

print("Set after adding elements : " + str(test_set))

Set after adding elements : {1, 2, 4, 5, 6, 7, 9, 10}

In [ ]:

from itertools import product

test_dict = {'month' : [1, 2, 3],'name' : ['Jan', 'Feb', 'March']}
res = dict(zip(test_dict['month'], test_dict['name']))

print(" dictionary : " + str(res))

 dictionary : {1: 'Jan', 2: 'Feb', 3: 'March'}

In [ ]:

test_dict = {'month' : [1, 2, 3],'name' : ['Jan', 'Feb', 'March']}
x=list(test_dict.values())
a=x[0]
b=x[1]
d=dict()
for i in range(0,len(a)):
	d[a[i]]=b[i]
print(" dictionary : " + str(d))

 dictionary : {1: 'Jan', 2: 'Feb', 3: 'March'}

In [ ]:
test_dict = {'month': [1, 2, 3], 'name': ['Jan', 'Feb', 'March']}
res = {test_dict['month'][i]: test_dict['name'][i] for i in range(len(test_dict['month']))}
print("Flattened dictionary:", res)

Flattened dictionary: {1: 'Jan', 2: 'Feb', 3: 'March'}

In [ ]:

d = {'month' : [1, 2, 3],'name' : ['Jan', 'Feb', 'March']}

res = {}
for i in range(len(d['month'])):
	res[d['month'][i]] = d['name'][i]

print(" dictionary : " + str(res))

 dictionary : {1: 'Jan', 2: 'Feb', 3: 'March'}

#22/05/2024

In [ ]:
l=[2,2,21,23,22,12,12]
d=[]
for item in l:
  if l.count(item)>1 and item not in d:
    d.append(item)
print(d)

[2, 12]

In [ ]:
l=[2,2,21,23,22,12,12]
for i in l:
  if l.count(i)>1:
    l.remove(i)
print(l)

[2, 21, 23, 22, 12]

In [ ]:
x=[('pqr',12),('abc',11),('xyz',10)]
for i in range(len(x)):
  for j in range(i+1,len(x)):
    if x[i][1]>x[j][1]:
      x[i],x[j]=x[j],x[i]
print(x)

[('xyz', 10), ('abc', 11), ('pqr', 12)]

In [ ]:
x=[1,2]
y=[11,12]
z=[i+j for i,j in zip(x,y)]
print(z)

[12, 14]

In [ ]:
dl={'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
s = list(dl.keys())
s.sort()
z={i:dl[i]for i in s}
print(z)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
dl={'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
x=sorted(dl.values())
print(x)

[2, 9, 10, 15, 32]

#23/05/2024

In [ ]:
dl={'rashida':21,'zobia':12,'heena':2,'anam':5}
z=list(dl.values())
print(z)
for i in range(len(z)):
  for j in range(len(z)):
    if z[i]<z[j]:
      z[i],z[j]=z[j],z[i]
# print(z)
# print(z[-1])
for k,v in dl.items():
  if v==z[-2]:
    print({k,v})

[21, 12, 2, 5]
{'zobia', 12}

In [ ]:
l= {'a':500, 'b':584, 'c': 560,'d':400, 'e':5874, 'f': 20}
x=list(l.values())
# print(x)
for i in range(len(x)):
  for j in range(len(x)):
    if x[i]>x[j]:
      x[i],x[j]=x[j],x[i]

print(x)
x=x[:3]
for k,v in l.items():
  for i in x:
    if v==i:
      print({k:v})

[5874, 584, 560, 500, 400, 20]
{'b': 584}
{'c': 560}
{'e': 5874}

In [ ]:
d = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}

for k, v in d.items():
  # print(v)
  for i in range(len(v)):
    for j in range(i+1, len(v)):
      if v[i] > v[j]:
        v[i], v[j] = v[j], v[i]
print(d)

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [ ]:
n=5
for i in range(n):
  for j in range(n-i):
    print("*", end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
n=9
for i in range(n):
  for j in range(n-i):
    print("*", end='')
  print()

*********
********
*******
******
*****
****
***
**
*

#25/05/2024

In [ ]:
a={1}
print(type(a))

<class 'set'>

#27/05/2024

In [ ]:
dict1 = {"a": 4, "b": 6}
dict2 = {"b": 5, "c": 7}

result = dict1.copy()

for key, value in dict2.items():
    if key in result:
        result[key] += value
    else:
        result[key] = value

print(result)

{'a': 4, 'b': 11, 'c': 7}

In [ ]:
from collections import defaultdict

dict1 = {"a": 4, "b": 6}
dict2 = {"b": 6, "c": 7}

result = defaultdict(int, dict1)

for key, value in dict2.items():
    result[key] += value
result = dict(result)

print(result)

{'a': 4, 'b': 12, 'c': 7}

In [ ]:
from collections import Counter

dict1 = {"a": 4, "b": 6}
dict2 = {"b": 5, "c": 7}

counter1 = Counter(dict1)
counter2 = Counter(dict2)

result = counter1 + counter2
result = dict(result)

print(result)

{'a': 4, 'b': 11, 'c': 7}

In [ ]:
dict1 = {"a": 4, "b": 6}
dict2 = {"b": 5, "c": 7}

all_keys = set(dict1) | set(dict2)

result = {key: dict1.get(key, 0) + dict2.get(key, 0) for key in all_keys}

print(result)

{'b': 11, 'c': 7, 'a': 4}

In [ ]:
dict1 = {"a": 4, "b": 6}
dict2 = {"b": 5, "c": 7}

all_keys = set(dict1) | set(dict2)

result = {key: dict1.get(key, 0) + dict2.get(key, 0) for key in all_keys}

print(result)

{'b': 11, 'c': 7, 'a': 4}

#28/05/2024

In [ ]:
d= {"a": 4, "b": 6}
d1 = {"b": 5, "c": 7}
res=d.copy()
for k,v in d1.items():
  if k in res:
    res[k]+=v
  else:
    res[k]=v
print(res)

{'a': 4, 'b': 11, 'c': 7}

In [ ]:
d= {"a": 4, "b": 6}
d1 = {"b": 5, "c": 7}
r=d.copy()
for k,v in d1.items():
  if k in r:
    r[k]+=v
  else:
    r[k]=v
print(r)

{'a': 4, 'b': 11, 'c': 7}

In [ ]:
a=[1,2,3,40]
for i in range(0,len(a),2):
  a[i],a[i+1]=a[i+1],a[i]
print(a)

[2, 1, 40, 3]

In [ ]:
lst=[2,3,4,5,6,7]
for i in range(0,len(lst),2):
  if i+1<len(lst):
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[3, 2, 5, 4, 7, 6]

In [ ]:
a=[1,2,3,4]
for i in range(0,len(a),2):
  if i+1<len(a):
    a[i],a[i+1]=a[i+1],a[i]
print(a)

[2, 1, 4, 3]

In [ ]:
c=[1,2,3,4]
for i in range(0,len(c),2):
  if i+1<len(c):
    c[i],c[i+1]=c[i+1],c[i]
print(c)

[2, 1, 4, 3]

#29/05/2024

In [ ]:
def outer(func):
  def inner():
    print('dec')
    func()
  return inner
@outer
def ord():
  print('norml')
ord()

dec
norml

In [ ]:
def decor1(func):
   def wrapper():
     return func().upper()
   return wrapper

def decor2(func):
   def wrapper():
     return func().split()
   return wrapper

@decor2
@decor1
def geet():
    name=input('enter a name:')
    surname=input('enter a surname:')
    full_name=name+" "+surname
    return full_name

geet()
# use of double decorator

enter a name:rgsa
enter a surname:gshh

['RGSA', 'GSHH']

#31/05/2024

In [ ]:
def decor1(func):
   print('hyh')
   def wrapper():
     return func().upper()
   return wrapper

def decor2(func):
   print("first")
   def wrapper():
     return func().split()
   return wrapper

@decor2
@decor1
def geet():
    name=input('enter a name:')
    surname=input('enter a surname:')
    full_name=name+" "+surname
    return full_name

geet()
# use of double decorator

hyh
first
enter a name:rt
enter a surname:hj

['RT', 'HJ']

In [ ]:
lst=[2,32,4,54,53,22,11,67,5,87]
lst1=0
for i in lst:
  if i>lst1:
    lst1=i
print(i)

87

In [ ]:
lst=[2,32,4,54,53,22,11,67,5,87]

sum=0
product=1
for i in lst:
  sum=sum+i
  product=product*i
print('the sum of ',sum)
print('the product of',product)

the sum of  337
the product of 5167601556480

In [ ]:
l=[1,2,3,3,2,1,1,5]
x={}
y=0
for i in l:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
# print(x)
for k,v in x.items():
  if v==1:
    y+=1
print(x)

{1: 3, 2: 2, 3: 2, 5: 1}

#01/06/2024

In [ ]:
l=[1,2,3,3,2,1,1,5]
x={}
y=0
for i in l:
  if i in x:
    x[i]+=1
  else:
    x[i]=1
print(x)
for k,v in x.items():
  if v==1:
    print(k)

{1: 3, 2: 2, 3: 2, 5: 1}
5

#03/06/2024

In [ ]:

string = "python quiz practice code"
s = string.split()[::-1]
l = []
for i in s:
	l.append(i)
print(" ".join(l))

code practice quiz python

In [ ]:
def findLen(str):
	counter = 0
	for i in str:
		counter += 1
	return counter


str = "geeks"
print(findLen(str))

5

In [ ]:
s = "welcome to mumbai coding club"

words = s.split()

words = [word[:-1] + word[-1].upper() for word in words]

result = ' '.join(words)

print("String before:", s)
print("String after:", result)

String before: welcome to mumbai coding club
String after: welcomE tO mumbaI codinG cluB

In [ ]:

s = "welcome to geeksforgeeks"
print("String before:", s)
a = s.split()
res = []
for i in a:
	x = i[0].upper()+i[1:-1]+i[-1].upper()
	res.append(x)
res = " ".join(res)
print("String after:", res)

String before: welcome to geeksforgeeks
String after: WelcomE TO GeeksforgeekS

In [ ]:
def decor1(func):
   print('hyh')
   def wrapper():
     return func().upper()
   return wrapper

def decor2(func):
   print("first")
   def wrapper():
     return func().split()
   return wrapper

@decor2
@decor1
def geet():
    name=input('enter a name:')
    surname=input('enter a surname:')
    full_name=name+" "+surname
    return full_name

geet()
# use of double decorator

hyh
first
enter a name:thhjf
enter a surname:rrr

['THHJF', 'RRR']

#05/05/2024

In [ ]:
def decor1(func):
  #  print('hyh')
   def wrapper():
     return func().upper()
   return wrapper

def decor2(func):
  #  print("first")
   def wrapper():
     return func().split()
   return wrapper

@decor2
@decor1
def geet():
    name=input('enter a name:')
    surname=input('enter a surname:')
    full_name=name+" "+surname
    return full_name

geet()
# use of double decorator

enter a name:rashida
enter a surname:ansari

['RASHIDA', 'ANSARI']

In [ ]:
def uppercase_decorator(func):
    def wrapper():
        result = func()
        return result.upper()
    return wrapper

def strip_decorator(func):
    def wrapper():
        result = func()
        return result.strip()
    return wrapper

@uppercase_decorator
@strip_decorator
def say_hello():
    return "   Hello, world!   "

print(say_hello())  # Output will be "HELLO, WORLD!"

HELLO, WORLD!

In [ ]:
s = "welcome to mumbai coding club"

words = s.split()

words = [word[:-1] + word[-1].upper() for word in words]

result = ' '.join(words)

print("String before:", s)
print("String after:", result)

String before: welcome to mumbai coding club
String after: welcomE tO mumbaI codinG cluB

In [ ]:
test_set = {6, 4, 2, 7, 9}

up_ele = [1, 5, 10]

test_set.update(up_ele)

print("Set after adding elements : " + str(test_set))

Set after adding elements : {1, 2, 4, 5, 6, 7, 9, 10}

In [ ]:
lst=[2,3,4,5,6,7]
for i in range(0,len(lst),2):
  if i+1<len(lst):
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[3, 2, 5, 4, 7, 6]

#06/06/2024

In [ ]:
def decor1(func):
    def wrapper():
        return func().upper()
    return wrapper

def decor2(func):
    def wrapper():
        return func().split()
    return wrapper

@decor2
@decor1
def geet():
    name = input('Enter a name: ')
    surname = input('Enter a surname: ')
    full_name = name + " " + surname
    return full_name

result = geet()
print(result)

Enter a name: gh
Enter a surname: hy
['GH', 'HY']

In [ ]:
import pandas as pd
mydataset = {
  'cars': ["BMW", "Volvo", "Ford","rashida"],
  'passings': [3, 7, 2,1]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

      cars  passings
0      BMW         3
1    Volvo         7
2     Ford         2
3  rashida         1

In [ ]:
print(pd.__version__)

2.0.3

In [ ]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

#8/06/2024

In [ ]:
def deco1(func):
  def wrapper():
    return func().upper()
  return wrapper

def deco2(func):
  def wrapper():
      return func().split()
  return wrapper
@deco1
@deco2
def ord():
  name=input("enter name")
  surname=input("enter surname")
  res=name + " " + surname
  return res
result = geet()
print(result)

Enter a name: hg
Enter a surname: gh
['HG', 'GH']

In [ ]:
def decor1(func):
    def wrapper():
      return func().upper()
    return wrapper

def decor2(func):
    def wrapper():
      return func().split()
    return wrapper

@decor2
@decor1
def geet():
    name = input('Enter a name: ')
    surname = input('Enter a surname: ')
    full_name = name + " " + surname
    return full_name

result = geet()
print(result)

Enter a name: ghfh
Enter a surname: yunmlk
['GHFH', 'YUNMLK']

In [ ]:
def dec1(func):
  def inner():
    return func().upper()
  return inner

def dec2(func):
  def inner2():
    return

In [ ]:
di1={'a':12,'b':2}
di2={"b":4,'c':3}
{i : di1.update({i:di2[i]}) if i not in di1 else di1.update({i:di1[i]+di2[i]})for i in di2}
print(di1)

{'a': 12, 'b': 6, 'c': 3}

In [ ]:
di1={'a':12,'b':2}
di2={"b":4,'c':3}
d={}
for i,j in zip(di1, di2):
  if i not in d:
    d[i]=di1[i]

  if j not in d:
    d[j]=di2[j]
  else:
    d[j]=d[j]+di2[j]
print(d)

{'a': 12, 'b': 4, 'c': 3}

In [ ]:
di1={'a':12,'b':2}
di2={"b":4,'c':3}
d={}
for i,j in zip(di1, di2):
  if i not in d:
    d[i]=di1[i]
  else:
    d[i]=d[i]+di1[i]
  if j not in d:
    d[j]=di2[j]
  else:
    d[j]=d[j]+di2[j]
print(d)

{'a': 12, 'b': 6, 'c': 3}

#11/06/2024

In [ ]:
import pandas as pd
dict1={
    "name":['zobia','rashida','huda','anam'],
    "marks":[32,44,76,25],
    "city":['mumbai','pune','kolkatta','jhansi']

}
res=pd.DataFrame(dict1)
res

      name  marks      city
0    zobia     32    mumbai
1  rashida     44      pune
2     huda     76  kolkatta
3     anam     25    jhansi

#13/06/2024

In [ ]:
res.to_csv('pandas.csv')

In [ ]:
test_str = 'mumbai is the best city'
map_dict = {'e': '1', 'b': '6', 'i': '4'}

res = ''.join(
	idx if idx not in map_dict else map_dict[idx] for idx in test_str)
print(" string : " + str(res))

 string : mum6a4 4s th1 61st c4ty

In [ ]:

test_str = 'geeksforgeeks is best'
map_dict = {'e': '1', 'b': '6', 'i': '4'}
for i in test_str:
	if i in map_dict.keys():
		test_str=test_str.replace(i,map_dict[i])

print("The converted string : " + str(test_str))

The converted string : g11ksforg11ks 4s 61st

In [ ]:
test_str = 'geeksforgeeks is best'

map_dict = {'e': '1', 'b': '6', 'i': '4'}

new_str = ''.join([map_dict.get(char, char) for char in test_str])

print("The converted string : " + str(new_str))

The converted string : g11ksforg11ks 4s 61st

In [ ]:
string = "geeksforgeeks"

chars = {}
for char in string:
    if char not in chars:
        chars[char] = 1
    else:
        chars[char] += 1

duplicates = []
for char, count in chars.items():
    if count > 1:
        duplicates.append(char)

print(duplicates)

['g', 'e', 'k', 's']

In [ ]:
string = "geeksforgeeks"

seen = set()
duplicates = set()

for char in string:
    if char in seen:
        duplicates.add(char)
    else:
        seen.add(char)

print(list(duplicates))

['g', 'e', 's', 'k']

#15/06/2024